<div class="destination-content">
  <div class="destination-image">

    <!--<img src="assets/images/destinations/bangladesh/nilachol.jpg" class="img-responsive wp-post-image"  alt="">-->
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[0]" alt="Random first slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[1]" alt="Random second slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[2]" alt="Random third slide">

      </ng-template>
    </ngb-carousel>
  </div>
  <div class="destination-title">
      Rangamati
  </div>
  <p>
      Rangamati is a hill tract distirict in Chittagong division, Bangladesh. It is the largest district of the country. Covered with vast hilly area, it attracts the tourists from all over the country and outside.
  </p>

  <!--location 1-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Rajban Bihar Pagoda
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/bangladesh/RajbanBiharPagoda.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              Rangamati district has many wonderful places and many Hills as tourist spots. Rajban Bihar Pagoda is one of them. It is a very ideal place especially for the Buddhist. It looks like a golden temple. Its scenery is wonderful and attracts everybody. Rajban Vihara is called the spiritualist principal monk. It is an internationally known Buddhist Temple, where the spiritualist principal monk Shrimath Sadhana Nanda Mohasthabir (Ban Vante) lives.
          </p>
      </div>
  </div>
  <!--End location 1-->

  <!--location 2-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Hanging Bridge
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/bangladesh/HangingBridge.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              This 335feet long bridge across a portion of the Kaptai lake is an icon of Rangamati. The bridge is more famous and attractive for its uniqueness. Architectural beauty and exotic natural view from this bridge is something very amazing for traveler.
          </p>
      </div>
  </div>
  <!--End location 2-->

  <!--location 3-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Chakma Rajbari
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/bangladesh/ChakmaRajbari.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              Chakma Rajbari is one of the most beautiful Rajbari. This Rajbari was constructed by Raja Tridiv Roy, father of Raja Devasish Roy in 1960 when the earlier palace went under water due to commissioning of Kaptai dam. Every year number of visitors are come here to see this beautiful House. Chakma Rajbari is one of the major visiting attractions in Rangamati. This royal house represents the tradition and culture of Chakma.
          </p>
      </div>
  </div>
  <!--End location 3-->

  <!--location 4-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Peda Ting Ting
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/bangladesh/PedaTingTing.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              A small island on the Kaptai Lake, few kilometres away from Rangamati. It is mostly known for its serenity. There are a few tourist accommodation facilities here and a tiny restaurant run by the locals. It offers foods ranging from traditional to indigenous delicacies.
          </p>
      </div>
  </div>
  <!--End location 4-->

  <!--location 5-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Shuvolong Falls
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/bangladesh/ShuvolongFalls.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              Shuvolong Waterfall is a beautiful waterfall in Rangamati. It is a famous place with the tourists for the waterfall, high hills and the natuarl surrounding it offers. There are few waterfalls in Shuvolong area with the largest one falling from as high as 300 feet. In the past several years, this place has turned into a tourist destination due to beautiful waterfalls
          </p>
      </div>
  </div>
  <!--End location 5-->

  <!--location 6-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Kaptai Lake
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/bangladesh/KaptaiLake.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              Kaptai Lake is the largest man made lake in Bangladesh. The size of Lake is approximately 11000 sq km. You will enjoy the natural beauty of this lake as well as boating on the lake. It is a huge lake and it has some tiny islands. Each island has different name such as “Peda Ting-Ting”, “Tuk-Tuk Echo Village”, “Chang-Pang” etc. “Tuk-Tuk” is an echo park with varities of trees and plants. It is a great place for boating and cruising.
          </p>
      </div>
  </div>
  <!--End location 6-->

  <!--location 7-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Dhup Pani Waterfalls
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/bangladesh/DhupPaniWaterfalls.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              Dhupchhori waterfalls is near from Shubolong Jhorna. This is a seasonal waterfall, only available during Rainy Season. Unlike other seasonal waterfall, this one used to produce prominent amount of water.
          </p>
      </div>
  </div>
  <!--End location 7-->

  <!--location 8-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Dumlong
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/bangladesh/Dumlong.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              Dumlong is the highest peak of Rangamati hill district and also the one of three 1000 metres peaks in Bangladesh.
          </p>
      </div>
  </div>
  <!--End location 8-->

  <!--location 9-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Sijuk Waterfalls
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/bangladesh/SijukWaterfalls.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              Sijuk Waterfall is located in Rangamati District. The two waterfalls are located at those two streams. That portion of the falls is covered with large rocks.
          </p>
      </div>
  </div>
  <!--End location 9-->

  <!--location 10-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Sajek Valley
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/bangladesh/SajekValley.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              Sajek Valley is a roof of Haven Tourist Spot situated in Bangladesh. Sajek Valley is located in the North angle of Rangamati in Khagrachari.  it is known as the paradise of Bangladesh. It is the roof of Rangamati. It is also called the land of clouds. Team of clouds plays in Sajek Valley in the embrace of scenic forest and mountains. Walking through the clouds and touching it with hands will make someone excited.
          </p>
      </div>
  </div>
</div>