<div class="container-fluid p-0">
  <div class="section-title">GALLERY</div>
  <div class="row mx-0 my-5">
    <div class="col-md-4 myCard">
      <img class="gallery-img" src="assets/images/gallery/gallery1.jpg" alt="Card image cap">
      <div class="myCard-text">INDIA</div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-6 myCard-2">
          <img class="gallery-img-2" src="assets/images/gallery/gallery2.jpg" alt="Card image cap">
          <div class="myCard-2-text">BANGLADESH</div>
        </div>
        <div class="col-6 myCard-2">
          <img class="gallery-img-2" src="assets/images/gallery/gallery3.jpg" alt="Card image cap">
          <div class="myCard-2-text">NEPAL</div>
        </div>
        <div class="col-6 myCard-2">
          <img class="gallery-img-2" src="assets/images/gallery/gallery4.jpg" alt="Card image cap">
          <div class="myCard-2-text">BHUTAN</div>
        </div>
        <div class="col-6 myCard-2">
          <img class="gallery-img-2" src="assets/images/gallery/gallery5.jpg" alt="Card image cap">
          <div class="myCard-2-text">PAKISTAN</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-6 myCard-2">
          <img class="gallery-img-2" src="assets/images/gallery/gallery6.jpg" alt="Card image cap">
          <div class="myCard-2-text">SRILANKA</div>
        </div>
        <div class="col-6 myCard-2">
          <img class="gallery-img-2" src="assets/images/gallery/gallery7.jpg" alt="Card image cap">
          <div class="myCard-2-text">MALDIV</div>
        </div>
        <div class="col-6 myCard-2">
          <img class="gallery-img-2" src="assets/images/gallery/gallery8.jpg" alt="Card image cap">
          <div class="myCard-2-text">CHILI</div>
        </div>
        <div class="col-6 myCard-2">
          <img class="gallery-img-2" src="assets/images/gallery/gallery9.jpg" alt="Card image cap">
          <div class="myCard-2-text">INDONESIA</div>
        </div>
      </div>
    </div>
  </div>
</div>