<div class="destination-content">
  <div class="destination-image">

    <!--<img src="assets/images/destinations/bangladesh/nilachol.jpg" class="img-responsive wp-post-image"  alt="">-->
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[0]" alt="Random first slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[1]" alt="Random second slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[2]" alt="Random third slide">

      </ng-template>
    </ngb-carousel>
  </div>
  <div class="destination-title">
    Jaipur
  </div>
  <p>
    Jaipur is the capital of India’s Rajasthan state. It evokes the royal family that once ruled the region and that, in 1727,
    founded what is now called the Old City, or “Pink City” for its trademark building color. At the center of its stately
    street grid (notable in India) stands the opulent, colonnaded City Palace complex. With gardens, courtyards and museums,
    part of it is still a royal residence.
  </p>

  <!--location 1-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Amber Fort
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/AmberFort.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Amber Fort is a fort located in Amber, Rajasthan, India. Amber is a town with an area of 4 square kilometres (1.5 sq mi)
        located 11 kilometers (6.8 mi) from Jaipur, the capital of Rajasthan. Located high on a hill, it is the principal
        tourist attraction in the Jaipur area. The town of Amber was originally built by Meenas, and later it was ruled by
        Raja Man Singh I (December 21, 1550 – July 6, 1614).
        <br/>
        <br/> Amber Fort is known for its artistic Hindu style elements. With its large ramparts and series of gates and cobbled
        paths, the fort overlooks Maota Lake, which is the main source of water for the Amber Palace.
        <br/>
        <br/> Constructed of red sandstone and marble, the attractive, opulent palace is laid out on four levels, each with a
        courtyard. It consists of the Diwan-i-Aam, or "Hall of Public Audience", the Diwan-i-Khas, or "Hall of Private Audience",
        the Sheesh Mahal (mirror palace), or Jai Mandir, and the Sukh Niwas where a cool climate is artificially created
        by winds that blow over a water cascade within the palace. Hence, the Amer Fort is also popularly known as the Amber
        Palace. The palace was the residence of the Rajput Maharajas and their families.

      </p>
    </div>
  </div>
  <!--End location 1-->

  <!--location 2-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      City Palace
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/CityPalace.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        City Palace, which includes the Chandra Mahal and Mubarak Mahal palaces and other buildings, is a palace complex in Jaipur,
        the capital of the Rajasthan state, India. It was the seat of the Maharaja of Jaipur, the head of the Kachwaha Rajput
        clan. The Chandra Mahal palace now houses a museum, but the greatest part of it is still a royal residence. The palace
        complex, located northeast of the centre of the grid-patterned Jaipur city, incorporates an impressive and vast array
        of courtyards, gardens and buildings. The palace was built between 1729 and 1732, initially by Sawai Jai Singh II,
        the ruler of Amber. He planned and built the outer walls, and later additions were made by successive rulers continuing
        up to the 20th century. The credit for the urban layout of the city and its structures is attributed to two architects
        namely, Vidyadhar Bhattacharya, the chief architect in the royal court and Sir Samuel Swinton Jacob, apart from the
        Sawai himself who was a keen architectural enthusiast. The architects achieved a fusion of the Shilpa Shastra of
        Indian architecture with Rajput, Mughal and European styles of architecture.
      </p>
    </div>
  </div>
  <!--End location 2-->

  <!--location 3-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Jal Mahal
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/JalMahal.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Jal Mahal is a palace located in the middle of the Man Sagar Lake in Jaipur city, the capital of the state of Rajasthan,
        India. The palace and the lake around it were renovated and enlarged in the 18th century by Maharaja Jai Singh II
        of Amber.
        <br/>
        <br/> The Jal Mahal palace is considered an architectural beauty built in the Rajput style of architecture (common in
        Rajasthan) providing a picturesque view of the lake (from the Man Sagar Dam on the eastern side of the lake that
        acts as a vantage point for viewing the lake and the valley), and the surrounding Nahargarh (abode of the tigers)
        hills. The palace, built in red sandstone, is a five storied building out of which four floors remain under water
        when the lake is full and the top floor is exposed.
      </p>
    </div>
  </div>
  <!--End location 3-->

  <!--location 4-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Hawa Mahal
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/HawaMahal.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Hawa Mahal is a palace in Jaipur, India, so it is named because it was essentially a high screen wall built so the women
        of the royal household could observe street festivals while unseen from the outside. it is Constructed of red and
        pink sandstone, the palace sits on the edge of the City Palace, Jaipur, and extends to the zenana, or women's chambers.
        <br/>
        <br/> The palace is a five-storey pyramidal shaped monument that rises 50 feet (15 m) from its high base. The top three
        floors of the structure have a dimension of one room width while the first and second floors have patios in front
        of them. The front elevation, as seen from the street, is like a honeycomb web of a beehive, built with small portholes.
        Each porthole has miniature windows and carved sandstone grills, finials and domes. It gives the appearance of a
        mass of semi-octagonal bays, giving the monument its unique façade. The inner face on the back side of the building
        consists of need-based chambers built with pillars and corridors with minimal ornamentation, and reach up to the
        top floor. The interior of the Mahal has been described as "having rooms of different colored marbles, relieved by
        inlaid panels or gilding; while fountains adorn the centre of the courtyard".

      </p>
    </div>
  </div>
  <!--End location 4-->

  <!--location 5-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Jaigarh Fort
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/JaigarhFort.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Jaigarh Fort is situated on the promontory called the Cheel ka Teela (Hill of Eagles) of the Aravalli range; it overlooks
        the Amber Fort and the Maota Lake, near Amber in Jaipur, Rajasthan, India. The fort was built by Jai Singh II in
        1726 to protect the Amber Fort and its palace complex and was named after him.
        <br/>
        <br/> The fort, rugged and similar in structural design to the Amber Fort, is also known as Victory Fort. It has a length
        of 3 kilometres (1.9 mi) along the north–south direction and a width of 1 kilometre (0.62 mi). The fort features
        a cannon named "Jaivana", which was manufactured in the fort precincts and was then the world's largest cannon on
        wheels. The palace complex (Laxmi Vilas, Lalit Mandir, Vilas Mandir and Aram Mandir) located ), an armoury and a
        museum. Jaigarh Fort and Amber Fort are connected by subterranean passages and considered as one complex.
      </p>
    </div>
  </div>
  <!--End location 5-->

  <!--location 6-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Nahargarh Fort
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/NahargarhFort.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Nahargarh Fort stands on the edge of the Aravalli Hills, overlooking the city of Jaipur in the Indian state of Rajasthan.
        It is open from 10 AM not 8:00 am. Along with Amer Fort and Jaigarh Fort, Nahargarh once formed a strong defense
        ring for the city. The fort was originally named Sudarshangarh, but it became known as Nahargarh, which means 'abode
        of tigers'. The popular belief is that Nahar here stands for Nahar Singh Bhomia, whose spirit haunted the place and
        obstructed construction of the fort.Nahar's spirit was pacified by building a temple in his memory within the fort,
        which thus became known by his name.
      </p>
    </div>
  </div>
  <!--End location 6-->

  <!--location 7-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Jantar Mantar
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/JantarMantarJaipur.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Jantar Mantar monument in Jaipur, Rajasthan is a collection of nineteen architectural astronomical instruments, built by
        the Rajput king Sawai Jai Singh II, and completed in 1734 CE. It features the world's largest stone sundial, and
        is a UNESCO World Heritage site.
        <br/>
        <br/> Located near City Palace and Hawa Mahal of Jaipur, the monument features masonry, stone and brass instruments that
        were built using astronomy and instrument design principles of ancient Hindu Sanskrit texts. The instruments allow
        the observation of astronomical positions with the naked eye. The monument expresses architectural innovations, as
        well as the coming together of ideas from different religious and social beliefs in 18th-century India. The observatory
        is an example of the Ptolemaic positional astronomy which was shared by many civilizations.
      </p>
    </div>
  </div>
</div>