<div class="destination-content">
  <div class="destination-image">
    <!--<img src="assets/images/destinations/bangladesh/nilachol.jpg" class="img-responsive wp-post-image"  alt="">-->
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[0]" alt="Random first slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[1]" alt="Random second slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[2]" alt="Random third slide">

      </ng-template>
    </ngb-carousel>
  </div>
  <div class="destination-title">
    Bandarban
  </div>
  <p>
    When it comes to the wilderness of green nothing beats the beauty of Bandarban. It is a south east hill tract district of
    Bangladesh. It is one of the most popular travel destinations of the country. The highest peak of the country is situated
    here naming Tajingdong, 4500 feet high from sea level.
  </p>

  <!--location 1-->
  <div class="row row-location">
    <!-- <div class="col-md-12 location-title">
      Nilgiri
    </div> -->
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/nilgiri.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Nilgiri
          </div>
      <p>
        Nilgiri is one of the highest peaks in Bangladesh where clouds float. This is a spectacular heavenly place in Bandarban.
        Here tourist can get varieties of seasonal beauty. Can get cloudy experiances, campfire activities and see foggy
        gesture of nature. From here, nice and clear view over the tortuous Sangu River as far as visitor’s sight goes.
      </p>
    </div>
  </div>
  <!--End location 1-->

  <!--location 2-->
  <div class="row row-location">
    
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/nilachol.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Nilachol
          </div>
      <p>
        Nilachol is the nearest tourist spots from Bandarban. The entire time Bandarban town can seen glance from Nilachol and a
        vast landscape. From tourist can enjoy this mind blowing seen. When the sky clear Tourist can enjoying the attractive
        sight of Chittagong Port from the Beach Nilachol. Nilachol brings everybody feeling heaven when it is the sight sunset
        glory.
      </p>
    </div>
  </div>
  <!--End location 2-->

  <!--location 3-->
  <div class="row row-location">
    
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/meghla.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Meghla
          </div>
      <p>
        Meghla Parjatan Complex is the most amazing tourist or visited spot for the tourists coming from all over the country, which
        features a mini-safari-park, a zoo, boat journey, a hanging bridge and at the bottom of the hills artificial lake
        has been made. It is a popular place for picnic party. A lot of tourist makes the way to Meghla for celebrating their
        vacations.
      </p>
    </div>
  </div>
  <!--End location 3-->

  <!--location 4-->
  <div class="row row-location">
    
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/ShoiloPropat.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Shoilo Propat
          </div>
      <p>
        Shoilo Propat is one of the most famous and visited natural fall in Bangladesh. During the rainy season the flow of this
        fall becomes vigorous. The water of this fall is so cool and transparent Near the Shoilo Propat there has grown up
        two or three village for the availability of water. Visitor can closely see the struggling lifestyle of this region
        community.
      </p>
    </div>
  </div>
  <!--End location 4-->

  <!--location 5-->
  <div class="row row-location">
    
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/Chimbuk.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Chimbuk
          </div>
      <p>
        Chimbuk hill is the third highest mountain in Bangladesh. Chimbuk is one of the most familiar tourist spot in Bandarban.
        Chimbuk hill is about 2500 feet high above sea level. The road of this area is zigzag. So if you ride in a jeep it
        will be charming. However when you are looking down from Chimbuk, it will get you the feelings of floating over the
        clouds. When it is a shiny day, you can see the shades of clouds over the hills. The huge horizon of zigzag hills
        seems waves of a sea.
      </p>
    </div>
  </div>
  <!--End location 5-->

  <!--location 6-->
  <div class="row row-location">
    
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/BogaLake.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Boga Lake
          </div>
      <p>
        Boga Lake is the most beautiful natural lake in Bangladesh. It is also known as Bagakain Lake or Baga Lake. It is about 3000
        feet above sea level. The color of water of this lake is blue and very nice. There waiting lots of pleasure and delight
        for you at Boga lake. You will definitely be amazed looking at the big rocks lying in and out of the Boga lake. You
        can have a camp fire beside the lake, that will be unbelievable and mind-blowing memory in your life.
      </p>
    </div>
  </div>
  <!--End location 6-->

  <!--location 7-->
  <div class="row row-location">
    
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/Keokradong.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Keokradong
          </div>
      <p>
        Keokradong is the second highest mountain of Bangladesh. Keokradong is about 4,035 ft (1,230 meters) high from the sea level.
        This remote area is full of natural beauty. Here you can see many small and big mountains and hills. Keokradong Mountain
        is located on the border between Bangladesh and Myanmar. It is the place of surprising beauty. This natural beauty
        is surely attracts the mind of the adventurous people. You will pleased with the dazzling beauty of green hill, cool
        fountains, zigzag path, hilly road side, hide and seek game of clouds on the top of the hill.
      </p>
    </div>
  </div>
  <!--End location 7-->

  <!--location 8-->
  <div class="row row-location">
   
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/ChingriJhiri.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Chingri Jhiri
          </div>
      <p>
        Chingri Jhiri is another beautiful waterfall situated at Ruma upazilla in Bandarban. Chingri Jhiri waterfall is very near
        to Bogalake. From Bogalake to Chingri Jhiri it is straight path and it will take one hour walk. When a traveler travels
        to Chingri Jhiri waterfall he has to pass some big rock and pebble stone. So you should be mentally and physically
        active.
      </p>
    </div>
  </div>
  <!--End location 8-->

  <!--location 9-->
  <div class="row row-location">
    
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/JadipaiFalls.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Jadipai Falls
          </div>
      <p>
        Jadipai Waterfall or Jadipai Jhorna is one of the widest water falls in Bangladesh. Jadipai Waterfall is really wonderful
        place to travel. During the rainy season the flow of Jadipai fall becomes robust. The water of this fall is so cool
        and transparent. Though the path of this area is not smooth but when a traveler reaches there he will feel the full
        tranquility.
      </p>
    </div>
  </div>
  <!--End location 9-->

  <!--location 10-->
  <div class="row row-location">
    
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/PukurParaFalls.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Pukur Para Falls
          </div>
      <p>
        Pukur Para Jhorna or Waterfall is just one such wonder. This waterfall is currently the widest waterfall from Bangladesh.
        It has a width of approximately 80 meters and a height of 4-6 feet on an average. During the rainy season, you will
        not be able to see any stones from the waterfall. The only thing visible is the cascade of water, fresh and beautiful.
      </p>
    </div>
  </div>
  <!--End location 10-->

  <!--location 11-->
  <div class="row row-location">
    
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/TinapSaitar.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Tinap Saitar
          </div>
      <p>
        Tinap Saitar Waterfall is located in Paindu in Bandarban district. The local name of this waterfall is Paindu Saitar. This
        waterfall is one of the largest waterfall in Bangladesh and also located in the most remote zone. Now a days the
        waterfall is being popular as Niagara Falls of Bangladesh to the Bangladeshi travelers.
      </p>
    </div>
  </div>
  <!--End location 11-->

  <!--location 12-->
  <div class="row row-location">
    
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/Tajingdong.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <div class="location-title">
          Tajingdong
        </div>
      <p>
        Tajingdong also known as “Bijoy” is the highest mountain of Bangladesh. Tajingdong is about 4300 ft (1310 meters) high from
        the sea level. This remote area is full of natural beauty. Here you can see many small and big mountains and hills.
        It is the place of surprising beauty. In the winter season many adventurous tourist visit this place with great excitement.
      </p>
    </div>
  </div>
  <!--End location 12-->

  <!--location 13-->
  <div class="row row-location">
    
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/SakaHaphong.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Saka Haphong
          </div>
      <p>
        Saka Haphong is a peak in Bangladesh, often considered the highest point of the country, with an elevation of 1,052 metres
        (3,451 ft). Saka Haphong is not officially the highest peak of Bangladesh but maps and other data indicate there
        are no higher peaks within the country. Recently two trekking clubs counted the height of Saka Haphong as 3,488 and
        3,461 feet respectively. Any of these figures would make it the highest mountain in Bangladesh, exceeding the height
        of Keokradong which is 3,172 feet high.
      </p>
    </div>
  </div>
</div>