<div class="destination-content">
  <div class="destination-image">

    <!--<img src="assets/images/destinations/bangladesh/nilachol.jpg" class="img-responsive wp-post-image"  alt="">-->
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[0]" alt="Random first slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[1]" alt="Random second slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[2]" alt="Random third slide">

      </ng-template>
    </ngb-carousel>
  </div>
  <div class="destination-title">
    Malaysia
  </div>
  <p>
    Malaysia is a Southeast Asian country occupying parts of the Malay Peninsula and the island of Borneo. It's known for its
    beaches, rainforests and mix of Malay, Chinese, Indian and European cultural influences. The capital, Kuala Lumpur, is
    home to colonial buildings, busy shopping districts such as Bukit Bintang and skyscrapers such as the iconic, 451m-tall
    Petronas Twin Towers.
  </p>

  <!--location 1-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Petronas Twin Towers, Kualalumpur
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/PetronasTwinTowers.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        This is a must see if you're into marvels of engineering or just an awesome view of KL. The tour involves a stop in the sky
        bridge that connects both towers , and then a trip to the observation deck, when you get to spend a reasonable amount
        of time sightseeing the KL skyline. There's also a massive shopping center on the main level and great places to
        eat or just drop by for a latte.
      </p>
    </div>
  </div>
  <!--End location 1-->
  <!--location 2-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Islamic Arts Museum Malaysia, Kualalumpur
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/IslamicArtsMuseumMalaysia.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        WIth thousands of artifacts showing the history and evolution of Islamic art around the world.It is an absolutely amazing
        place to visit. There is always something more to see especially if you are a history, art or ceramics lover. It's
        one of the many great museums.
      </p>
    </div>
  </div>
  <!--End location 2-->
  <!--location 3-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Kualalumpur City Centre, Kualalumpur
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/KualalumpurCityCentre.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        This is a nice park to spend a few moments strolling around, and admiring this well thought out urban park. There are several
        walkways and bridges, with fountains and sculptures. There are lots of activities and shopping nearby, transport
        is never far, and there are some malls within walking distance.
      </p>
    </div>
  </div>
  <!--End location 3-->
  <!--location 4-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Kuala Lumpur Bird Park, Kualalumpur
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/KualaLumpurBirdPark.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        You can see more birds in this park. they fly free with out any problem. the best places for take a photo is feeding point.
        I think it is the best place for child to see all of birds. Nice place to visit to see different birds. Got there
        on the hop on, hop off bus. Spent a couple of hours.
      </p>
    </div>
  </div>
  <!--End location 4-->
  <!--location 5-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Menara Kuala Lumpur (KL Tower), Kualalumpur
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/MenaraKualaLumpur.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        One of highest building in the world. Don't forget to come and enjoy the city from 300 meters hight from sea level. It isn't
        free to enjoy that. You must pay 100 RM for one visitor. After you buy ticket you'll have a guide to accompany to
        you to the top using the elevator. You can take a picture there.
      </p>
    </div>
  </div>
  <!--End location 5-->
  <!--location 6-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Panuba Beach, Pulao tioman
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/PanubaBeach.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        It is a beautiful beach. A lot of nice places along is! White pure sand, 29-30 Celsius degrees water. The only thing you
        have to look out for is the sandflyes. The best beach. Hold on to your imagination, after you visit this beach the
        imagination multi-folds. if you are travelling close to make it a point to get the best trip of life.
      </p>
    </div>
  </div>
  <!--End location 6-->
  <!--location 7-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Pinang Peranakan Mansion , Penang island, Malaysia
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/PinangPeranakanMansion.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        It is also called the Green house. It is in George Town and listed in the travel books. The history and furnishing are incredible.
        This is an incredible collection of Peranakan artefacts that captures their culture and way of life in a most effective
        manner.
      </p>
    </div>
  </div>
  <!--End location 7-->
  <!--location 8-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Escape Adventureplay , Penang island, Malaysia
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/EscapeAdventureplay.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        MONKEY BUSINESS
        <br/> Learn to climb like a pro and perfect your balancing skills on this challenging rope course. There are three levels
        for you to try and it’s suitable for monkeys of all ages as well as for team building.
        <br/>
        <br/> FLYING LEMUR
        <br/> Enjoy the thrill of flying, as you zip across a long cable in between trees high above the ground.
        <br/>
        <br/> KITE FLYER
        <br/> Many children have spent fun-filled times flying their kites in the breeze. As they look up to see their kite floating
        above they wonder what it would be like to be the kite and what the view would be. Kite Flyer places the visitor
        in a position to experience the childhood wish to fly high above the ground. Hold on tight as the kite soars into
        the sky!
        <br/>
        <br/> GECKO TOWER
        <br/> Become as sticky footed as a gecko on this climbing tower. You choose your own path to the top. Safe in the knowledge
        that there is an auto-belay system in case your gecko feet lose their grip!
        <br/>
        <br/> FOXY BURROW
        <br/> Not all fun has to be done at height. Do you remember the hours of fun playing hide and seek, and creating adventures
        in dark places? Cupboards and blankets became magical places in which the imagination could run wild.
        <br/>
        <br/> We had independent play back in our childhood and Foxy Burrow brings all of this back with a sense of adventure,
        self-directed exploration, and independence so to build self-confidence.
        <br/>
        <br/> Children love this special Learning House where they can discover all about nature and the environment.

      </p>
    </div>
  </div>
  <!--End location 8-->
  <!--location 9-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Kek Lok Si Temple, Penang island, Malaysia
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/KekLokSiTemple.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Very impressive Temples although outside it's getting a little tired in places and there are way to many souvenir shops.
        If temples are your thing it's a must go. The statue of guan yim is huge and the pagoda is a must go.
      </p>
    </div>
  </div>
  <!--End location 9-->
  <!--location 10-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Sandakan Memorial Park , Sandakan , Malaysia
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/SandakanMemorialPark.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        A lovely walk in cool gardens, a few very interesting pieces of old camp equipment, then the display hall with evocative
        information and photos of the appalling camplife, escapes and tragedies associated with Sandakan POWs.
      </p>
    </div>
  </div>
  <!--End location 10-->
  <!--location 11-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Bornean Sun Bear Conservation Centre, Sepilok, Sabah, Malaysia
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/BorneanSunBearConservationCentre.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The Bornean Sun Bear Conservation Centre is a wildlife conservation and research centre for improving animal welfare and
        rehabilitation of the Malayan sun bear (Helarctos malayanus). It also aims to raise public awareness about the plight
        of the sun bears and to raise conservation awareness about this species.
      </p>
    </div>
  </div>
  <!--End location 11-->
  <!--location 12-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Kinabatangan River Cruise, Sabah-Sandakan , Malaysia
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/KinabatanganRiverCruise.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Choose the River Cruise trip and visit the Kinabatangan River Sabah Borneo to get a glimpse of the stunning, and often unique,
        wildlife and rainforests of Borneo, Malaysia!
      </p>
    </div>
  </div>
  <!--End location 12-->
  <!--location 13-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Taman Negara, Titiwangsa Mountains, Malaysia
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/TamanNegara.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Taman Negara was established at the Titiwangsa Mountains, Malaysia, in 1938/1939 as the King George V National Park. It was
        renamed to Taman Negara after independence, which means "national park" in Malay. Taman Negara has a total area of
        4,343 km2 and has a reputation as the world's oldest deciduous rainforest, estimated to be more than 130 million
        years old. Despite the reputation, the title of "oldest tropical rainforest" more accurately belongs to the Daintree
        Rainforest in Queensland, Australia, estimated to be between 135 million years old and 180 million years old.
      </p>
    </div>
  </div>
</div>