<div class="container-fluid">
  <h3 class="text-center">Hotdeal List</h3>
  <div class="row mx-1">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr class="table-primary">
            <th>HeadLines</th>
            <th>TagLines</th>
            <th>Price</th>
            <th>Active</th>
            <th>TourDate</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody *ngIf="!showLoading">
          <tr *ngFor="let hotdeal of hotdeals">
            <td>{{hotdeal.headline}}</td>
            <td>
              <span *ngFor="let tag of hotdeal.taglines">{{tag}}, </span>
            </td>
            <td>
              {{hotdeal.price}}
            </td>
            <td>{{hotdeal.active}}</td>
            <td>{{hotdeal.tourDate}}</td>
            <td>
              <button class="btn btn-sm btn-warning" (click)="onEdit(hotdeal.id)">Edit</button>
            </td>
            <td>
              <button class="btn btn-sm btn-danger" (click)="onDelete(hotdeal.id)">Delete</button>
            </td>
          </tr>
        </tbody>
        <tr *ngIf="showLoading">
          <td colspan="7">
            <div class="loading">
              <i class="fa fa-refresh"></i>&nbsp; Loading information ...
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>