<div class="destination-content">
  <div class="destination-image">

    <!--<img src="assets/images/destinations/bangladesh/nilachol.jpg" class="img-responsive wp-post-image"  alt="">-->
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[0]" alt="Random first slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[1]" alt="Random second slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[2]" alt="Random third slide">

      </ng-template>
    </ngb-carousel>
  </div>
  <div class="destination-title">
    Kuakata
  </div>
  <p>
    Kuakata is an amazing sea beach in Bay of Bengal. It is called the ‘Sagar kanya’of Bangladesh. Though it is not as much popular
    as the other sea side spots of our country it can be a wonder place to embrace beauty of the sea.
  </p>

  <!--location 1-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Lebur Char
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/LeburChar.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Lebur char is located at 5 kilometers east of Kuakata beach. Lebur char is locally also known as Lembur char or ‘Nembur char’.
        Surrounded area of this char is about 1000 acres. There are many types of trees and plants in this char like Keura,
        Geowa, Goran, Koroi, Golpata. This place is very popular for experiencing sunset.
      </p>
    </div>
  </div>
  <!--End location 1-->

  <!--location 2-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Gangamotir Char
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/GangamotirChar.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Another attractive place for the tourists visiting Kuakata is Gangamotir Char, which is10 km east of Kuakata's main land.
        The most attractive place here is "Gangamotir Lake". But the main attraction here is the beautiful sunrise that can
        be seen from here.
      </p>
    </div>
  </div>
  <!--End location 2-->

  <!--location 3-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Lal Kakrar Char
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/LalKakrarChar.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        There is a very beautiful and small Island named Lal Kakrar Char beside Kuakata Sea Beach. This is a beautiful destination
        to visit. One can enjoy the little playing of innumerous number of red crabs here.
      </p>
    </div>
  </div>
  <!--End location 3-->

  <!--location 4-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Fatrar Char
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/FatrarChar.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        At the west side of the beach there is a small island named Fatrar Char, a mangrove forest. People started to call it the
        "Second Sundarbans". Keuya, Gauya, Goran golpata etc type of mangrove trees are seen there. There are also many birds
        & animals like monkeys, pigs etc.
      </p>
    </div>
  </div>
  <!--End location 4-->

  <!--location 5-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Sima Buddhist Temple
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/SimaBuddhistTemple.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        It is situated near the sea beach. The temple is made of wood & tin. It cannot be accurately said at which time it was built.
        But it can be surely said that it is very old. In the temple there is statue of Buddha made by eight metal situated
        on a three foot high stand. It is the second embodiment in south Asia.
      </p>
    </div>
  </div>
  <!--End location 5-->

  <!--location 6-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Rakhain Palli
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/RakhainPalli.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        It is not sure at which time people started to live in Kuakata. But everybody believes that Rakhain community were the oldest
        inhabitants here. Once upon a time Rakhains were the majority here but now they became the minority. But they have
        maintained their history, culture, with in this Rakhain Palli. If you go there you can watch their life style & daily
        work very closely. Generally Rakhain's life style & cultural activities are different than ours. They are "Buddhist"
        in religion & "Buddha Purnima" is their main regious fesuval. Their every home has an own embodiment. Most of women
        are engaged in making handicraft. They made Lunge, Scarf, and Shawl etc. They have an own market in Kuakata, named
        "Rakhain Mohila Market". They bring materials from Burma & Cox’s Bazar. Men are engaged in agriculture. This is a
        place to observe if you visit Kuakata.
      </p>
    </div>
  </div>
  <!--End location 6-->

  <!--location 7-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Shutki Palli
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/ShutkiPalli.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Shutki Palli is at 4 km west of Kuakata. Fishermen catch many kinds of sea fish from sea during the year but mainly the fishes
        which are caught in winter season, are be sunned in process. This "Shutki Fish" is supplied in many places of our
        country, mainly in Dhaka. The people who like to eat shutki but have not seen the process of drying fish, this can
        be a place for them to get experience.
      </p>
    </div>
  </div>
  <!--End location 7-->

  <!--location 8-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Sweet Water Well
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/SweetWaterWell.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        There is a sweet water well in the beach. It is an amazing thing to have a sweet water source in the sea shore. So, people
        get highly interested to see this while travelling at Kuakata.
      </p>
    </div>
  </div>
</div>