<div class="destination-content">
  <div class="destination-image">

    <!--<img src="assets/images/destinations/bangladesh/nilachol.jpg" class="img-responsive wp-post-image"  alt="">-->
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[0]" alt="Random first slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[1]" alt="Random second slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[2]" alt="Random third slide">

      </ng-template>
    </ngb-carousel>
  </div>
  <div class="destination-title">
    Cox's Bazar
  </div>

  <p>
    Cox’s Bazar is a coastal District of Bangladesh. It is the main tourist spot of the country. More than pne million tourists
    visit here in a year. It has longest sea beach in the world which stretches 120 kilometres in length unbroken.
  </p>

  <!--location 1-->
  <div class="row row-location">
    
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/ShugandhaBeach.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Shugandha Beach
          </div>
          <p>
        Shugandha Beach is the central beach at the Cox’s Bazar city part of the Bay of Bengal. It is cleaner than the other beaches
        near the city area. Most of the shops, food court & high class hotels are situated around this beach.
      </p>
    </div>
  </div>
  <!--End location 1-->

  <!--location 2-->
  <div class="row row-location">
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/KalatoliBeach.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Kalatoli Beach
          </div>
          <p>
        Kalatoli beach comes first of the three beaches close to the Cox;s Bazar city. As soon as visitors reach the city this beach
        shows its charm to them at first. Most of the local transportation vehicles starts from here.
      </p>
    </div>
  </div>
  <!--End location 2-->

  <!--location 3-->
  <div class="row row-location">
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/LaboniBeach.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Laboni Beach
          </div>
          <p>
        Laboni beach stands at last of the three city-side beaches. It is less crowded than the other two. A very popular market
        called ‘Burmese Market’ is siuated here. This market is known for things produced by the Burmese people.
      </p>
    </div>
  </div>
  <!--End location 3-->

  <!--location 4-->
  <div class="row row-location">
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/HimchariNationalPark.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Himchari National Park
          </div>
          <p>
        Himchari National Park is a series of small hills with tropical rain forest. It is situated at 14.1 kilometers south of Cox’s
        Bazar city. There is a beautiful waterfall along with some small others. Visitors can reach up to one of the hills.
        From there they can experience an amazing view of sunset at the sea. There is an entry fee of Tk. 30 per person to
        enter the park.
      </p>
    </div>
  </div>
  <!--End location 4-->

  <!--location 5-->
  <div class="row row-location">
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/InaniBeach.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Inani Beach
          </div>
          <p>
        Inani beach is a must see while visiting Cox’s Bazar. It is 27.6 kilometers away from Cox’s Bazar city. The main attraction
        of this beach is that it is filled with coral reefs. Roaming around in the beach in the late afternoons can give
        a tourist a wonderful experience.
      </p>
    </div>
  </div>
  <!--End location 5-->

  <!--location 6-->
  <div class="row row-location">
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/RadarStation.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <div class="location-title">
        Radar Station
      </div>
      <p>
        There is a newly built radar station at Cox’s Bazar built by Japan. It is due to forecasting the natural calamities from
        the sea. It is situated at a hilltop near the beach.
      </p>
    </div>
  </div>
  <!--End location 6-->

  <!--location 7-->
  <div class="row row-location">
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/SubmarineCableLandingStation.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <div class="location-title">
        Submarine Cable Landing Station
      </div>
      <p>
        The Cox's Bazar Cable Landing Station (Cox's Bazar CLS) is currently the sole international submarine cable landing station
        in Bangladesh, and the Cox's Bazar CLS was built by Bangladesh Submarine Cable Company (BSCCL) for the cable landing
        of SMW4 in Bangladesh, which lands at the Kalatoli beach in Cox's Bazar.
      </p>
    </div>
  </div>
  <!--End location 7-->

  <!--location 8-->
  <div class="row row-location">
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/LightHouse.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <div class="location-title">
        Light House
      </div>
      <p>
        The light house is situated at only 2 km away from Kalatoli, Cox’s Bazar. It is better to visit at night as the light of
        it remains on at night.
      </p>
    </div>
  </div>
  <!--End location 8-->

  <!--location 9-->
  <div class="row row-location">
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/BangabandhuSafariPark.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <div class="location-title">
        Bangabandhu Safari Park
      </div>
      <p>
        Bangabandhu Safari Park also known as Dulahazra Safari Paark is the largest safari park in the country. It is situated at
        Chakoria Upazilla, Cox’s Bazar. It is 105 kilometers away from port city Chittagong. It has a huge area of around
        2,224 acres (9.00 km2). Dulahazara Safari Park is home to at least 4,000 animals of 165 species. The park itself
        protects a large number of wild elephants which are native to the area. In the safari park there are domesticated
        elephants which are available for a ride. Other animal attractions include lions, Bengal tigers, crocodiles, bears,
        spotted deer and many types of birds and monkeys.
      </p>
    </div>
  </div>
  <!--End location 9-->

  <!--location 10-->
  <div class="row row-location">
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/RubberGarden.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <div class="location-title">
        Rubber Garden
      </div>
      <p>
        Ramu is also famous for Rubber garden. This Rubber garden is situated about 1 km. north of chowmuhuny of Ramu.this rubber
        garden is started at 1961 planting about 52800 plants on 330 acre of lands but at present about 1 lack and 40 thousands
        on 2130 acre of sands. Here you will see the low sweet murmur of birds, green plants garden, small and high hills,
        rest house.
      </p>
    </div>
  </div>
  <!--End location 10-->

  <!--location 11-->
  <div class="row row-location">
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/RamuBuddhistTemple.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <div class="location-title">
        Ramu Buddhist Temple
      </div>
      <p>
        Ramu Temple is located at Ramu Upazila, in a typical Buddhist village located 16 kilometers away from Cox’s Bazar. It is
        accessible from the main highway leading to Chittagong. The village accommodates monasteries, khyangs and pagodas.
        It has images of Buddha in gold, bronze and other metals inlaid with precious stones inside the pagodas.Temple on
        the Bagh Khali River houses relics along with a 13 feet high bronze statue of Buddha rested on a six feet high pedestal.
        Wood carvings here is rare and refined. In the village weavers ply their trade in open workshops and craftsmen make
        handmade cigars.
      </p>
    </div>
  </div>
</div>