<div class="destination-content">
  <div class="destination-image">

    <!--<img src="assets/images/destinations/bangladesh/nilachol.jpg" class="img-responsive wp-post-image"  alt="">-->
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[0]" alt="Random first slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[1]" alt="Random second slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[2]" alt="Random third slide">

      </ng-template>
    </ngb-carousel>
  </div>
  <div class="destination-title">
    Delhi
  </div>

  <p>
    Delhi, India’s capital territory, is a massive metropolitan area in the country’s north. In Old Delhi, a neighborhood dating
    to the 1600s, stands the imposing Mughal-era Red Fort, a symbol of India, and the sprawling Jama Masjid mosque, whose
    courtyard accommodates 25,000 people. Nearby is Chandni Chowk, a vibrant bazaar filled with food carts, sweets shops
    and spice stalls.
  </p>


  <!--location 1-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Akshardham Temple
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/AkshardhamTemple.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        SwaminarayanAkshardham in New Delhi epitomizes 10,000 years of Indian culture in all its breathtaking grandeur, beauty, wisdom
        and bliss. It brilliantly showcases the essence of India’s ancient architecture, traditions and timeless spiritual
        messages. The Akshardham experience is an enlightening journey through India’s glorious art, values and contributions
        for the progress, happiness and harmony of mankind.
        <br/>
        <br/> The SwaminarayanAkshardham complex was built in only five years through the blessings of HDH Pramukh Swami Maharaj
        of the Bochasanwasi Shri AksharPurushottamSwaminarayanSanstha (BAPS) and the colossal devotional efforts of 11,000
        artisans and thousands of BAPS volunteers. Heralded by the Guinness World Record as the World’s Largest Comprehensive
        Hindu Temple, the complex was inaugurated on 6 November, 2005.
      </p>
    </div>
  </div>
  <!--End location 1-->

  <!--location 2-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Birla Mandir
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/BirlaMandir.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Laxmi Narayan Temple, also known as Birla Mandir, is one of Delhi's major temples and a major tourist attraction. Built by
        the industrialst Sh. J.K. Birla in 1939, this beautiful temple is located in the west of Connaught Place.
        <br/>
        <br/> The temple is dedicated to Laxmi (the goddess of prosperity) and Narayana (The preserver). The temple was inaugurated
        by Mahatma Gandhi on the condition that people of all castes will be allowed to enter the temple.

      </p>
    </div>
  </div>
  <!--End location 2-->

  <!--location 3-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Lotus Temple
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/LotusTemple.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        East of Nehru place, this temple is built in the shape of a lotus flower and is the last of seven Major Bahai's temples built
        around the world. Completed in1986 it is set among the lush green landscaped gardens.
        <br/>
        <br/> The structure is made up of pure white marble the architect FuriburzSabha chose the lotus as the symbol common to
        Hinduism, Buddhism, Jainism and Islam. Adherents of any faith are free to visit the temple and pray or meditate.
        <br/>
        <br/> Around the blooming petals there are nine pools of water, which light up, in natural light. It looks spectacular
        at dusk when it is flood lit.

      </p>
    </div>
  </div>
  <!--End location 3-->

  <!--location 4-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Garden of five senses
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/Gardenoffivesenses.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The Garden of Five Senses is not just a park, it is a space with a variety of activities, inviting public interaction and
        exploration. The project, developed by Delhi Tourism Transportation Development Corporation, was conceptualized to
        answer to the city's need for leisure space for the public, for people to socialize and unwind. Such spaces add atmosphere
        and life to a city and cater to all sections of the society.
        <br/>
        <br/> The twenty-acre site, located at Said-Ul-Azaib village, close to the Mehrauli heritage area in New Delhi, is spectacular.
        The Garden was inaugurated in February 2003. Majestic rocks stand silhouetted against the sky, others lie strewn
        upon the ground in a casual yet alluring display of nature's sculptural genius. It was the ideal ground on which
        to realize the concept of a public leisure space that would awaken a sensory response and thereby a sensitivity to
        the environment.
      </p>
    </div>
  </div>
  <!--End location 4-->

  <!--location 5-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Humayun’s tomb
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/Humayunstomb.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Located near the crossing of Mathura road and Lodhi road, this magnificent garden tomb is the first substantial example of
        Mughal architecture in India.
        <br/>
        <br/> Humayun's Tomb It was built in 1565 A.D. nine years after the death of Humayun, by his senior widow BegaBegam. Inside
        the walled enclosure the most notable features are the garden squares (chaharbagh) with pathways water channels,
        centrally located well proportional mausoleum topped by double dome.

      </p>
    </div>
  </div>
  <!--End location 5-->

  <!--location 6-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      India Gate
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/IndiaGate.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        At the centre of New Delhi stands the 42 m high India Gate, an "Arc-de-Triomphe" like archway in the middle of a crossroad.
        Almost similar to its French counterpart, it commemorates the 70,000 Indian soldiers who lost their lives fighting
        for the British Army during the World War I. The memorial bears the names of more than 13,516 British and Indian
        soldiers killed in the Northwestern Frontier in the Afghan war of 1919.
        <br/>
        <br/> The foundation stone of India Gate was laid by His Royal Highness, the Duke of Connaught in 1921 and it was designed
        by Edwin Lutyens. The monument was dedicated to the nation 10 years later by the then Viceroy, Lord Irwin. Another
        memorial, Amar JawanJyoti was added much later, after India got its independence. The eternal flame burns day and
        night under the arch to remind the nation of soldiers who laid down their lives in the Indo-Pakistan War of December
        1971.
        <br/>
        <br/> The entire arch stands on a low base of red Bharatpur stone and rises in stages to a huge molding. The cornice is
        inscribed with the Imperial suns while both sides of the arch have INDIA, flanked by the dates MCMXIV (1914 left)
        and MCMXIX (1919 right). The shallow domed bowl at the top was intended to be filled with burning oil on anniversaries
        but this is rarely done.
        <br/>
        <br/> During nightfall, India Gate is dramatically floodlit while the fountains nearby make a lovely display with coloured
        lights. India Gate stands at one end of Rajpath, and the area surrounding it is generally referred to as 'India Gate'.
        <br/>
        <br/> Surrounding the imposing structure is a large expanse of lush green lawns, which is a popular picnic spot. One can
        see hoards of people moving about the brightly lit area and on the lawns on summer evenings.


      </p>
    </div>
  </div>
  <!--End location 6-->

  <!--location 7-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Iskcon Temple
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/IskconTemple.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Iskcon, East of Kailash has developed Vedic Expo, Asia’s only technology center promoting Vedic Sciences and culture where
        in a very high technology usage of Audio ,visual presentation of Bhagvat Gita is depicted with lights and sound used
        for creating historical effect and a very interesting tourist attraction as we are the only one in Delhi showcasing
        this.
        <br/>
        <br/> We have another show on Mahabharata and also a complete robotics show . The whole ambience of the temple is very
        attractive with ongoing devotional chants, fountains and gift shops. We have a Govinda’s restaurant serving high
        quality vegetarian food and has become land mark for foodies in Delhi.
        <br/>
        <br/> Iskcon in Delhi has eight temples across Delhi and our main temple at East of Kailash which is known as “Glory of
        India-Cultural Center” is spread in 3 acre area .Today we have around 10 lakh people who visit our Temple in a year.
        Iskcon is present in 77 countries with over 600 temples, 65 farm communities, 30 education centers and more than
        100 restaurants

      </p>
    </div>
  </div>
  <!--End location 7-->

  <!--location 8-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Jama Masjid
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/JamaMasjid.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        This great mosque of Old Delhi is the largest in India, with a courtyard capable of holding 25,000 devotees. It was begun
        in 1644 and ended up being the final architectural extravagance of Shah Jahan, the Mughal emperor who built the Taj
        Mahal and the Red Fort.
        <br/>
        <br/> The highly decorative mosque has three great gates, four towers and two 40 m-high minarets constructed of strips
        of red sandstone and white marble. Travellers can hire robes at the northern gate. This may be the only time you
        get to dress like a local without feeling like an outsider so make the most of it.

      </p>
    </div>
  </div>
  <!--End location 8-->

  <!--location 9-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Jantar Mantar
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/JantarMantar.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Jantar Mantar (Yantra - instruments, mantra - formulae) was constructed in 1724. Maharaja Jai Singh of Jaipur who built this
        observatory went on to build other observatories in Ujjain, Varanasi and Mathura. Jai Singh had found the existing
        astronomical instruments too small to take correct measurements and so he built these larger and more accurate instruments.
        <br/>
        <br/> The instruments at Jantar Mantar are fascinating for their ingenuity, but accurate observations can no longer be
        made from here because of the tall buildings around.

      </p>
    </div>
  </div>
  <!--End location 9-->

  <!--location 10-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Lody Garden
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/LodyGarden.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The old Lady Willington Park, now known as Lodhi Garden, is dotted with monuments of Sayyid and Lodhi Periods, which include
        tombs mosques, and bridge.
        <br/>
        <br/> The tombs of Muhammad Shah and Sikandar Lodhi are the good examples of octagonal tombs. Shish and Bara Gumbad are
        square tombs with imposing dome, turrets on corners and facades giving false impression of being double stored.
        <br/>
        <br/> It is a favorite point for early morning walkers from the posh south Delhi colonies.

      </p>
    </div>
  </div>
  <!--End location 10-->

  <!--location 11-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Parliament House
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/ParliamentHouse.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The Parliament house is a cirular colonnaded building . It also houses ministerial offices,numerous committee rooms and an
        excellent library as well. Conceived in the Imperial Style, the Parliament House consists of an open verandah with
        144 columns.
      </p>
    </div>
  </div>
  <!--End location 11-->

  <!--location 12-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Qutub Minar
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/QutubMinar.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Qutub Minar is a soaring, 73 m-high tower of victory, built in 1193 by Qutab-ud-din Aibak immediately after the defeat of
        Delhi's last Hindu kingdom. The tower has five distinct storeys, each marked by a projecting balcony and tapers from
        a 15 m diameter at the base to just 2.5 m at the top. The first three storeys are made of red sandstone; the fourth
        and fifth storeys are of marble and sandstone. At the foot of the tower is the Quwwat-ul-Islam Mosque, the first
        mosque to be built in India. An inscription over its eastern gate provocatively informs that it was built with material
        obtained from demolishing '27 Hindu temples'. A 7 m-high iron pillar stands in the courtyard of the mosque. It is
        said that if you can encircle it with your hands while standing with your back to it your wish will be fulfilled.
        <br/>
        <br/> The origins of Qutab Minar are shrouded in controversy. Some believe it was erected as a tower of victory to signify
        the beginning of the Muslim rule in India. Others say it served as a minaret to the muezzins to call the faithful
        to prayer.
        <br/>
        <br/> No one can, however, dispute that the tower is not only one of the finest monuments in India, but also in the world.
        Qutub-ud-din Aibak, the first Muslim ruler of Delhi, commenced the construction of the Qutub Minar in 1200 AD, but
        could only finish the basement. His successor, Iltutmush, added three more storeys, and in 1368, Firoz Shah Tughlak
        constructed the fifth and the last storey.
        <br/>
        <br/> The development of architectural styles from Aibak to Tughlak is quite evident in the minar. The relief work and
        even the materials used for construction differ. The 238 feet Qutub Minar is 47 feet at the base and tapers to nine
        feet at the apex. The tower is ornamented by bands of inscriptions and by four projecting balconies supported by
        elaborately decorated brackets. Even though in ruins, the QuwwatUi Islam (Light of Islam) Mosque in the Qutub complex
        is one of the most magnificent structures in the world. Qutub-ud-din Aibak started its construction in 1193 and the
        mosque was completed in 1197.
        <br/>
        <br/>

      </p>
    </div>
  </div>
  <!--End location 12-->

  <!--location 13-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Rashtrapati Bhavan
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/RashtrapatiBhavan.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Rashtrapati Bhavan, home to the President of the world’s largest democracy, is emblematic of Indian democracy and its secular,
        plural and inclusive traditions. It was designed by Sir Edwin Lutyens and Herbert Baker and stands on a 330 acre
        estate. It took seventeen years to build this presidential palace which was completed in the year 1929. Almost seven
        hundred million bricks and three million cubic feet of stone were used in building this architectural marvel that
        has 2.5 kilometers of corridors and 190 acres of garden area. The main building covers an area of 5 acres and has
        340 rooms spread over four floors. The famous Mughal Gardens of the Rashtrapati Bhavan cover an area of 15 acres
        and have 159 celebrated varieties of roses, 60 varieties of bougainvillea and many other verities of flowers. The
        Estate also has a state-of-the-art Rashtrapati Bhavan Museum Complex (RBMC) comprising the Clock Tower, the Stables
        and the Garages showcasing past as well as current presidencies, the regal ceremonies, and the rich flora and fauna
        of Rashtrapati Bhavan, amongst other things. The RBMC was inaugurated by President Pranab Mukherjee on 25th July,
        2016.
        <br/>
        <br/> For the convenience of the general public, Delhi Tourism has extended the facility of Ho-Ho Buses to the Rashtrapati
        Bhavan.
      </p>
    </div>
  </div>
  <!--End location 13-->

  <!--location 14-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Safdarjung's Tomb
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/SafdarjungTomb.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Safdarjung's Tomb is the last enclosed garden tomb in Delhi in the tradition of Humayun's Tomb, though it if far less grand
        in scale. It was built in 1753- 54 as mausoleum of Safdarjung, the viceroy of Awadh under the Mughal Emperor, Mohammed
        Shah.
        <br/>
        <br/> It has several smaller pavilions with evocative names like Jangli Mahal, (Palace in the woods), Moti Mahal (Pearl
        Palace) and Badshah Pasand (King's favourite).
      </p>
    </div>
  </div>
</div>