.carousel-image {
  width: 100%;
  height: calc(100vh - 150px) !important;
}

.carousel-caption {
  text-align: left;
  & h2 {
    font-family: 'Niconne';
    font-size: 60px;
  }
  & p {
    font-family: 'Merienda_One';
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .carousel-image {
    width: 100%;
    height: 35vh;
  }
}
