<div class="destination-content">
  <div class="destination-image">

    <!--<img src="assets/images/destinations/bangladesh/nilachol.jpg" class="img-responsive wp-post-image"  alt="">-->
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[0]" alt="Random first slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[1]" alt="Random second slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[2]" alt="Random third slide">

      </ng-template>
    </ngb-carousel>
  </div>
  <div class="destination-title">
    Manali
  </div>
  <p>
    Manali is a high-altitude Himalayan resort town in India’s northern Himachal Pradesh state. It has a reputation as a backpacking
    center and honeymoon destination. Set on the Beas River, it’s a gateway for skiing in the Solang Valley and trekking
    in Parvati Valley. It's also a jumping-off point for paragliding, rafting and mountaineering in the Pir Panjal mountains,
    home to 4,000m-high Rohtang Pass.
  </p>

  <!--location 1-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Rohtang Pass
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/RohtangPass.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        A very popular tourist destination near Manali, Rohtang Pass is also known as Rohtang La. Located at an altitude of around
        4000 meters from sea level, Rohtang is famous amongst tourists as a place to see snow round the year. It is one of
        the most visited destinations in Himachal Pradesh by families during summers as there is snow in abundance where
        one can indulge in snow sports. Rohtang pass also connects the Kullu valley with Lahaul and Spiti. Moreover, it is
        also used to by the tourist of Leh who travel by bike and cars.
        <br/>
        <br/> As one drives along this high mountain pass, beautiful sights of glaciers, peaks and streams are bound to welcome
        him. Sonepani glacier, Dashahr Lake and Chandra River are some of the prime attractions that one can adore from the
        peak of Rohtang. Besides enjoying the panoramic views, the snow covered pass provides an excellent opportunity for
        skiing and snow scooter riding.

      </p>
    </div>
  </div>
  <!--End location 1-->

  <!--location 2-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Solang Valley
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/SolangValley.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Set at a distance of 13 km from Manali city, Solang Valley lies between Solang village and Beas Kund. Offering stunning views
        of the snow capped mountain peaks and alluring glaciers. The Solang valley is popular for his fine ski slopes which
        makes it’s a perfect skiing destination of Himachal Pradesh. During summers, Solang Valley turns into best paragliding,
        Zorbing, and horse riding destination of Himachal Pradesh. In winters, the valley becomes a skiing paradise for all
        as it offers everyone to ski over fresh white snow.
        <br/>
        <br/> There is a guest house, Atal Bihari Vajpayee Institute of Mountaineering and Allied Sports that offer skiing training
        to the tourists. On the hilltop of the valley, there is a temple dedicated to Lord Shiva which is also major tourist
        attraction in Solang Valley. Most of families plan their trip to Solang valley in summer vacation because it is best
        destination to chill out in Himachal Pradesh during summer season.

      </p>
    </div>
  </div>
  <!--End location 2-->

  <!--location 3-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Gurudwara
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/Gurudwara.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        One of the most renowned Sikh pilgrimage site near Manali, Manikaran Gurudwara is a secred shrine of Sikhs is located right
        along the banks of the Parvatiriver. It is believed that the location of ManikaranGurudwara Sahib is the exact meditative
        spot of Guru Nanak DevJi. The divinity of the Gurudwara is so much that pilgrims actually believe that there lies
        no need to visit the other religious centers of India, post visiting this place. Not just an honoured place for the
        Sikhs, Manikaran holds much significance even for the Hindus. In the vicinity of the famed Gurudwara, erupts three
        hot water springs, which are primarily used as scared bathing ghats. One of them is located under the Gurudwara and
        the rest two, just adjacent to it.
        <br/>
        <br/> Legend has it that this hot water springs erupted due to the effort of Sheshnag, when Lord Shiva was trying to relocate
        the lost jewel of Goddess Parvati. In an attempt to avoid the wrath of Lord Shiva, Sheshnag threw way precious stones
        from Earth, which culminated in the eruption of these hot water springs. Owing to such mythological beliefs, Manikaran
        Gurudwara is amongst the top tourist attractions in Manali.

      </p>
    </div>
  </div>
  <!--End location 3-->

  <!--location 4-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Hadimba Devi Temple
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/HadimbaDeviTemple.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Hadimba Devi is an ancient temple in Manali, which was built in 1553 by Raja Bahadur Singh. Legend has it that Hidimbi Devi,
        the wife of one of the Pandavas, Bhima, meditated at the very spot of the temple and owing to such a mythology, the
        temple was named after her. Located in the cedar forests of Manali, The most religious site of Manali, Hidimba Devi
        Temple is built around a cave, the sanctum of which is covered by four tiered Pagoda roofs. It is because of the
        mythological belief and architectural uniqueness.
        <br/>
        <br/> As one strolls on the inside of this magnificent temple, carvings of various deities ornamented on wooden door frames
        and decorated horns of animals on the walls are likely to catch his attention. On the other hand, the exteriors of
        this temple are ruled by a 24 m high tower, which has its three tiers covered in timber tiles, while the topmost
        conical roof is in metal.

      </p>
    </div>
  </div>
  <!--End location 4-->

  <!--location 5-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Rozy Waterfall
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/RozyWaterfall.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Situated en -route Rohtang from Manali is the beautiful Rozy Waterfall. Rozy waterfall near Manali is one of the most popular
        tourist attractions. With the picturesque surrounding of tall deodar trees, forested mountains and green valleys,
        the place is considered as a paradise for nature lovers. Soothing your mind and soul, these falls create a thrilling
        and magical ambience. It is also popular as a picnic spot.
        <br/>
        <br/> Rozy Falls in Manali is one of the perfect places to spend some serene moments in the lap of nature. Relish the
        breathtaking view of water cascading down from a certain height from the surface of large rocks. Do not forget to
        click the pictures near the falls as it is a great opportunity.
        <br/>
        <br/> The best time to be at this place is during Monsoons, when the falls are in full flow.

      </p>
    </div>
  </div>
  <!--End location 5-->

  <!--location 6-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Vashisht Temple
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/VashishtTemple.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Beside the gurgling stream of Beas River, Vashisht Village is stationed upon a summit. The village is well known for the
        Vashisht Temple, named after Rishi Vashisht, one of the seven Hindu sages. Many pilgrims bathe in the hot spring
        inside the temple. It is said that this spring has medicinal values and there are separate arrangements of bathing
        for men and women.
        <br/>
        <br/> The Vashisht Temple is believed to be more than 4000 years old. It was adorned with wooden engravings, most of which
        is still intact. Legend has it that when Rishi Vashisht got to know that his children were killed by Vishwamitra,
        he jumped off the cliff with commit suicide. But the river didn’t kill him. This lead to the christening of the river
        as Vipasha, which means Freedom from Bondage; but later the name was changed to Beas. Another story of Vashishta
        Temple says that Lord Lakshman, after realizing that the old sage has to take long strolls in order to take bath,
        shot an arrow in the ground, and that’s how the hot spring emerged.

      </p>
    </div>
  </div>
</div>