<div class="destination-content">
  <div class="destination-image">

    <!--<img src="assets/images/destinations/bangladesh/nilachol.jpg" class="img-responsive wp-post-image"  alt="">-->
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[0]" alt="Random first slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[1]" alt="Random second slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[2]" alt="Random third slide">

      </ng-template>
    </ngb-carousel>
  </div>
  <div class="destination-title">
    Jaisalmer
  </div>
  <p>
    Jaisalmer is a former medieval trading center and a princely state in the western Indian state of Rajasthan, in the heart
    of the Thar Desert. Known as the "Golden City," it's distinguished by its yellow sandstone architecture. Dominating the
    skyline is Jaisalmer Fort, a sprawling hilltop citadel buttressed by 99 bastions. Behind its massive walls stand the
    ornate Maharaja's Palace and intricately carved Jain temples.
  </p>

  <!--location 1-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Jaisalmer Fort
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/JaisalmerFort.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        A towering structure with a length of 1500 ft, the Jaisalmer fort is the defining structure of the city, and atop any list
        of locations to visit in Jaisalmer. Built in 1156, the yellow sandstone used in its build camouflages the fort amidst
        the surrounding yellow desert sand, it is also known as the Golden Fort and was declared UNESCO World Heritage site
        in 2013.
        <br/>
        <br/> Known for its impressive construction, particularly the three walls strong fortification of the city’s defense that
        it provided, the fort once housed the entire population of the town within its walls, though now only about 4,000
        people call it home. There are also some Jain temples within the fort walls, which showcase intricate carvings on
        the walls.

      </p>
    </div>
  </div>
  <!--End location 1-->

  <!--location 2-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Bada Bagh
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/BadaBagh.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        One of the most famous locations in Jaisalmer, Bada Bagh, is a garden complex situated just outside the city. It displays
        one of the forms of architecture that is believed to have originated in Rajasthan, which is the construction of chhatris.
        <br/>
        <br/> These are structures built to commemorate the tombs of the deceased, and the ones present in this complex were constructed
        by various Bhhati rulers over time, with one being designed for each royal from the 16thcentury up unto 1947.
        <br/>
        <br/> Alongside these structures, there is also a beautiful garden, a great tank and a massive dam of about 1200 ft. to
        be viewed at this location. There is also a large commemorative pillar known as the Govardhan Stambh located within
        the complex. This variety of attractions makes Bada Bagh one of the places to visit in Jaisalmer.
      </p>
    </div>
  </div>
  <!--End location 2-->

  <!--location 3-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Patwon ki Haveli
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/PatwonkiHaveli.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Believed to be the largest of the haveli (heritage homes) in the city, the Patwon ki Haveli is one of the places to visit
        in Jaisalmer. It is a cluster of five smaller heritage homes and was the first to be constructed in the city. Currently
        occupied by the government, the construction of this structure was started in 1805 by a wealthy merchant known by
        the family name Patwa.
        <br/>
        <br/> The grandeur of the structure reflects the immense wealth that this family had. The construction was completed within
        60 years, and even though it has been subject to degradation over the years, it still features beautiful paintings
        and artwork that is inspiring. The architectural design of the balconies and external structure is a sight to behold,
        especially reflecting the richness of Rajasthan’s regal culture with intricate carvings.
      </p>
    </div>
  </div>
  <!--End location 3-->

  <!--location 4-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Thar Heritage Museum
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/TharHeritageMuseum.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The Thar Heritage Museum is a private run museum located near the city that offers a unique insight into the cultural history
        of the location, showcasing a great deal about the town of Jaisalmer and the state of Rajasthan. Aside from the riveting
        puppet show that a held here in the evenings, the museum houses a vast variety of items, ranging from coins and weapons
        to manuscripts and musical instruments.
        <br/>
        <br/> One of the most popular features is a game of snakes and ladders that the visitors can engage in, which cleverly
        also explains various facts during the match. Providing an in-depth understanding of the cultural heritage of the
        region, a visit to this museum is a must, and should be included in a list of places to visit in Jaisalmer.

      </p>
    </div>
  </div>
  <!--End location 4-->

  <!--location 5-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Gadisar Lake
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/GadisarLake.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Just outside the city walls, the Gadisar Lake was once the sole source of water for this desert town. Constructed as a water
        conservation tank in the early 15th century, the lake also shelters migratory birds during winters, making it a true
        oasis in the middle of a desert. What makes the lake an absolute visual treat is the line of temples and shrines
        along the banks, making it a pilgrimage destination for many.
        <br/>
        <br/> Another beautiful feature of the location is the marvelous arch, made of the natural yellow sandstone, which was
        constructed as a gateway to the lake in the late 19th It is believed that a statue of Vishnu was installed in the
        early 1900s here, to use its religious significance as a means to prevent its destruction when neighboring locations
        came under attack. Visitors can also enjoy boat rides here, and tourists often choose this place as a picnic spot.
        <br/>
        <br/> Jaisalmer is one of the most famous cities in the state of Rajasthan, and rightly so. Showcasing all the best aspects
        of the Indian subcontinent, from geography to architecture and history, a visit to the city is something that every
        Indian should experience and treasure during their lifetime.
      </p>
    </div>
  </div>
  <!--End location 5-->

  <!--location 6-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Sam Sand Dunes
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/SamSandDunes.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        One of the most popular tourist destinations in all of Rajasthan, the Sam Sand Dunes are a must visit amongst the places
        to visit in Jaisalmer. It is often regarded as the best way to experience the Thar Desert first hand, through the
        unique desert safari at the Sam Sand Dunes.
        <br/>
        <br/> Particularly beautiful during the sunrise and sunset, a visit to this location promises breathtaking desert views,
        and the opportunity to witness this while riding the ‘Ship of the Desert,’ courtesy the camel caravans present.
        <br/>
        <br/> There is also an annual desert festival hosted in the deserts of Thar, at this location, usually during the months
        of February and March with puppet shows, dance performances and other celebrations of cultural heritage. It is one
        of the places to visit in Jaisalmer that is necessary to complete the authentic Rajasthan experience.

      </p>
    </div>
  </div>
</div>