<div class="container">
 
  <div class="row">
    <div class="offset-md-3 col-md-6" style="text-align: justify;">
        <h2 class="mt-5 mb-2">Our Strategy</h2>
      <p>
        <strong>Assurance: </strong> With the tagline of ‘Excellent Experience’
        we design our services keeping clients’ desires as the core attention.
      </p>
      <p>
        <strong>Rational Price: </strong> As being a customer friendly
        organization, we always provide standard services in a rational price.
      </p>
      <p>
        <strong>Prioritise Customers Needs: </strong> We keep all the
        requirements of our clients as a priority and design the package that
        best suits with their needs.
      </p>
      <p>
        <strong>Promote Tourism : </strong>We carry out research on our
        country’s destinations and try to innovate something new that can
        promote as well as enrich tourism industry.
      </p>
    </div>
  </div>
</div>
