<div class="destination-content">
  <div class="destination-image">

    <!--<img src="assets/images/destinations/bangladesh/nilachol.jpg" class="img-responsive wp-post-image"  alt="">-->
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[0]" alt="Random first slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[1]" alt="Random second slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[2]" alt="Random third slide">

      </ng-template>
    </ngb-carousel>
  </div>
  <div class="destination-title">
      Mirik
  </div>
  <p>
      Mirik is a picturesque tourist spot nestled in the serene hills of Darjeeling district in West Bengal, India. It is the headquarters of Mirik subdivision. The name Mirik comes from the Lepcha words Mir-Yok meaning "place burnt by fire".
  </p>

  <!--location 1-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Mirik Lake
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/india/MirikLake.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              Mirik Lake, popularly known as the Samendu Lake, is located at a distance of around 2.00 km from Mirik. The lake is around 1.25 km long and is surrounded by chestnut, oak and maple trees. Boating and horse riding can be enjoyed here.<br/><br/>
              The most prominent place in Mirik, The Sumendu Lake is beautiful, calm and yet invigorating. The lake also has an 80 foot bridge running over it for people who don't wish to walk around it.<br/><br/>
              Boating in the lake and a pony ride on the lakeside are exhilarating experiences. Also, the strategic advantage of the lake is that it is nearly walking distance to every place in the town.<br/><br/>
              On the eastern (right) side of the lake, there is a flat land and number of small stalls and restaurants. The stalls have colorful umbrellas and chairs laid out where you can relax, have some momos or chaats and fresh tea. Several stalls here sell curios, gift & souvenir items, clothes, hats etc.<br/><br/>
              The flat open land area at the eastern side of the lake has been converted into a fenced garden with many flowering plantations. There is no entry fee. It's a good place for families to sit and relax.<br/><br/>

          </p>
      </div>
  </div>
  <!--End location 1-->

  <!--location 2-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Bokar Monastry
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/india/BokarMonastry.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              The seat of the Venerable Kyabje Bokar Rinpoche, the monastery belongs to the Kagyud order. The Monastery is one of the few in India that have retained its traditional beliefs and environment from the very beginning.<br/><br/>
              The beautiful monastery is an epitome of Chinese architecture and has sprawling lawns for you to sit and observe the place. The Monastery is a few minutes away from Mirik Lake.<br/><br/>

          </p>
      </div>
  </div>
  <!--End location 2-->

  <!--location 3-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Rameety Dara
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/india/RameetyDara.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              Like every hill station, Mirik too has a beautiful viewpoint for you to spend at dawn or dusk. The stunning view with Kanchenjunga on the backdrop and the valley at the bottom, will take you aback.
          </p>
      </div>
  </div>
  <!--End location 3-->

  <!--location 4-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Devi Stan
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/india/DeviStan.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              Devi Stan is one of the most revered temples of Mirik. It houses idols of Goddess Singla Devi, Lord Shiva, Hanuman and Goddess Kali. The Temple is a few minutes walk from the Sumendu lake and another few minutes away from Bokar Monastery.<br/><br/>
              So, coming to this beautiful and cozy temple will help you cover three of Mirik's most important tourist spots in one go.

          </p>
      </div>
  </div>
</div>