<div class="container">
  <div class="section-title">OUR PARTNERS</div>
  <div class="row text-center my-5">
    <div class="col-md-3">
      <a class="scroll" href="https://www.itaforu.com" target="_blank">
        <img class="partners-logo" src="assets/images/partners/InteligentTouristAid.jpg" alt="Card image cap">
      </a>
    </div>
    <div class="col-md-3">
      <a class="scroll" href="https://www.hotelswave.com" target="_blank">
        <img class="partners-logo" src="assets/images/partners/hotelswavelogo.png" alt="Card image cap">
      </a>
    </div>
    <div class="col-md-3">
      <a class="scroll" href="https://www.facebook.com/fishpointbd/" target="_blank">
        <img class="partners-logo" src="assets/images/partners/fishpoint.jpg" alt="Card image cap">
      </a>
    </div>
    <div class="col-md-3">
      <img class="partners-logo" src="assets/images/partners/seaviewresort.jpg" alt="Card image cap">
    </div>
  </div>
</div>