<div class="container">
  <div class="section-title">OUR PARTNERS</div>
  <div class="row text-center my-5">
    <div class="col-md-3 scroll">
      <a href="https://www.itaforu.com" target="_blank">
        <img
          class="partners-logo"
          src="assets/images/partners/ita.jpg"
          alt="Card image cap"
        />
      </a>
    </div>
    <div class="col-md-3 scroll">
      <a href="https://www.hotelswave.com" target="_blank">
        <img
          class="partners-logo"
          src="assets/images/partners/hotelswave.png"
          alt="Card image cap"
        />
      </a>
    </div>
    <div class="col-md-3 scroll">
      <a href="https://www.unololtd.com" target="_blank">
        <img
          class="partners-logo2"
          src="assets/images/partners/unolo.png"
          alt="Card image cap"
        />
      </a>
    </div>
    <div class="col-md-3 scroll">
      <img
        class="partners-logo"
        src="assets/images/partners/seaviewresort.jpg"
        alt="Card image cap"
      />
    </div>
  </div>
</div>
