<navbar></navbar>
<div class="container-fluid my-3 p-0">
  <img class="event-image" src="assets/images/events/events-4.jpg" alt="Card image cap">
  <div class="section-title">ARTIST</div>
</div>
<div class="container">
  <p>
    Managing an exhibition is really one of the toughest jobs especially in this competitive world where things are changing
    every moment. i Tours Ltd. has appeared as a helping hand for managing your exhibitions. We plan entire events taking
    into consideration the requirements and preferences of our clients. Before arranging any exhibition we talk to our clients
    about the full details of the event so that we can set up such a theme that fully express hosts’ expectation. We provide
    our clients with a specialization in design for each event. We have a team of experienced, devoted, industrious professionals
    who can make the events more gorgeous. Every small detail is taken care of by our professionals. We work in collaboration
    with clients to make the events a grand success.
  </p>
  <div class="event-service-title">
    Our services :
  </div>
  <div class="event-services">
    <ul>
      <li>Venue Management</li>
      <li>Decoration</li>
      <li>Sound system</li>
      <li>Photography</li>
      <li>Catering Service</li>
      <li>Promotion</li>
    </ul>
  </div>
</div>

<footer-section></footer-section>