<div class="destination-content">
  <div class="destination-image">

    <!--<img src="assets/images/destinations/bangladesh/nilachol.jpg" class="img-responsive wp-post-image"  alt="">-->
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[0]" alt="Random first slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[1]" alt="Random second slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[2]" alt="Random third slide">

      </ng-template>
    </ngb-carousel>
  </div>
  <div class="destination-title">
    Darjeeling
  </div>

  <p>
    Darjeeling is a town in India's West Bengal state, in the Himalayan foothills. Once a summer resort for the British Raj elite,
    it remains the terminus of the narrow-gauge Darjeeling Himalayan Railway, or “Toy Train,” completed in 1881. It's famed
    for the distinctive black tea grown on plantations that dot its surrounding slopes. Its backdrop is Mt. Kanchenjunga,
    among the world’s highest peaks.
  </p>


  <!--location 1-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Himalayan Mountaineering Institute
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/HimalayanMountaineeringInstitute.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The Himalayan Mountaineering Institute (HMI Darjelling) was established in Darjeeling, India on 4 November 1954 to encourage
        mountaineering as an organized sport in India. The first ascent of Mount Everest in 1953 by Tenzing Norgay and Edmund
        Hillary sparked a keen interest in establishing mountaineering as a well-respected endeavor for people in the region.
        With the impetus provided by the first prime minister of India, Jawaharlal Nehru, HMI was established in Darjeeling.
        Tenzing Norgay was the first director of field training for HMI.
        <br/>
        <br/> HMI regularly conducts Adventure, Basic and Advanced Mountaineering courses. These are very comprehensive courses.
        They are also highly subsidized to encourage mountaineering as a sport.

      </p>
    </div>
  </div>
  <!--End location 1-->

  <!--location 2-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Padmaja Naidu Himalayan Zoological Park
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/PadmajaNaiduHimalayanZoologicalPark.jpg" class="img-responsive wp-post-image"
        alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Padmaja Naidu Himalayan Zoological Park is a 67.56-acre (27.3 ha) zoo in the town of Darjeeling in the Indian state of West
        Bengal. The zoo was opened in 1958, and an average elevation of 7,000 feet (2,134 m), is the largest high altitude
        zoo in India. It specializes in breeding animals adapted to alpine conditions, and has successful captive breeding
        programs for the snow leopard, the critically endangered Himalayan wolf and the red panda. The zoo attracts about
        300,000 visitors every year. The park is named after Padmaja Naidu (1900–1975), daughter of Sarojini Naidu. The zoo
        serves as the central hub for Central Zoo Authority of India's red panda program and is a member of the World Association
        of Zoos and Aquariums.
      </p>
    </div>
  </div>
  <!--End location 2-->

  <!--location 3-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Rock Garden
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/RockGarden.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        These huge rocks are located on Lebong Cart Road where rock climbing is practiced. At the Tenzing Rock, Tenzing Norgay used
        to practice rock climbing. Look at it from the left side where you can see the bottom of this gigantic rock. During
        a visit of former Prime Minister Late Jawaharlal Nehru, Tenzing demonstrated a climb on this rock without any safety
        equipment. No entry fee.
      </p>
    </div>
  </div>
  <!--End location 3-->

  <!--location 4-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Happy Valley Tea Estate
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/HappyValleyTeaEstate.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        An old tea estate that exports all its produce to Harrods in London and few other countries. You can see the delicate tea
        processing in the factory with the help of a guide and buy tea packets from its outlet. You won't get this tea anywhere
        else in the country. There is no entry fee, however there is fee for the guide.
      </p>
    </div>
  </div>
  <!--End location 4-->

  <!--location 5-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Ropeway Car
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/RopewayCar.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        You will board the cable car from Singamari located 3km away from the town center. The 45 minutes ride takes you from an
        altitude of 7,000ft to 800ft with wonderful vista of a valley around Rangeet river, tea estates and sweeping views
        of the snow peaks of Himalayan range including Kanchenjunga. Ticket needs to be purchased. During high season, there
        may be long queues. So try to book in advance.
      </p>
    </div>
  </div>
  <!--End location 5-->

  <!--location 6-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Tibetan Refugee Self Help Center
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/TibetanRefugeeSelfHelpCenter.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        A center and a factory established by the Tibetan refugees who fled Tibet and took refuge in Darjeeling. They not only live
        here, but also produce varieties of exquisite handicraft items to make their livings. The hand crafted items include
        jackets, carpets, gloves, aprons, bags, curios, cards, pouches, carved wooden items, Tibetan paintings etc. This
        is a great place to buy a gift or a souvenir for your friends and relatives. There is no entry fee.
      </p>
    </div>
  </div>
  <!--End location 6-->

  <!--location 7-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Gorkha Football Stadium
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/GorkhaFootballStadium.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        This is an alternative to the race course. The stadium is also located in Lebong. Youngsters play soccer here. The ground
        is also used for many soccer tournaments as well for festivals. The ground looks wonderful with Kanchenjunga and
        the other snow peaks forming the backdrop.
      </p>
    </div>
  </div>
  <!--End location 7-->

  <!--location 8-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Japanese Temple &amp; Peace Pagoda
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/JapaneseTemplePeacePagoda.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Close to the Darjeeling town and in a scenic setting there is a temple built in a traditional Japanese style. About 100 yards
        away and in the same complex, there is large Peace Pagoda that showcases four avatars of Buddha. The view of the
        mountain range and Darjeeling town from the top of the pagoda is spectacular. No entry fee. Caution: in order to
        save time, some drivers try to treat these two attractions as separate ones and count 2 instead of one. Don't be
        deceived or you will miss out on one of the following.
      </p>
    </div>
  </div>
  <!--End location 8-->

  <!--location 9-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Dhirdham Temple
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/DhirdhamTemple.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        This is a Hindu temple of Lord Shiva located close to the Darjeeling Toy Train Railway station. It's a close lookalike of
        the Pashupatinath temple of Katmandu, Nepal. There is no entry fee. Donations accepted.
      </p>
    </div>
  </div>
  <!--End location 9-->

  <!--location 10-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Ava Art Gallery
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/AvaArtGallery.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        This art gallery has exquisite artwork of late Ava Devi who was a specialist in embroidery art. It's located on Hill Cart
        Road and about 4km from the town center. No entry fee. This gallery is specially famous for embroidered paintings.
      </p>
    </div>
  </div>
  <!--End location 10-->

  <!--location 11-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Bengal Natural History Museum
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/BengalNaturalHistoryMuseum.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        A museum rich with the fauna of Bengal and particularly of the Himalayan region. It has many preserved specimens of birds,
        reptiles and fishes, mammals, insects and more. There is an entry fee.
      </p>
    </div>
  </div>
  <!--End location 11-->

  <!--location 12-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Tiger Hill
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/TigerHill.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Who doesn't know about the magnificent view of sunrise from Tiger Hill. You will need to wake up by 3:30am and take a vehicle.
        But the rewards are awesome. You can see the changing colors of the Kanchenjunga snow peaks as the light strikes.
        On a clear day you can also get a glimpse of Mount Everest, Mount Makalu and one of the most beautiful peaks of the
        world, Tibet's Chomol Hari. Tiger Hill is 11kms away and at an altitude of more than 8,400ft. It takes about 40 minutes
        to reach the top where there is a view tower for watching sunrise. There is an entry fee.
      </p>
    </div>
  </div>
  <!--End location 12-->

  <!--location 13-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Ghum Monastry
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/GhumMonastry.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        On the way back from Tiger Hill, you will visit one of the oldest Buddhist monasteries of Darjeeling located at a scenic
        location in Ghoom area. It houses a 12-foot tall statue of Mayetriya Buddha which represents the Buddha of the future.
        No entry fee but donation required for taking photos inside.
      </p>
    </div>
  </div>
  <!--End location 13-->

  <!--location 14-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Batasia Loop
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/BatasiaLoop.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Batasia Loop is an engineering marvel located in Ghoom area. This is where the toy train makes a double spiral loop to negotiate
        a drop of 1000 ft as it moves towards Darjeeling town. Amidst the beautiful garden where the railway track is laid
        in form of a loop, there is also a War Memorial. It was constructed in honor of the Gorkha soldiers who sacrificed
        their lives in service of the nation. There is a nominal entry fee. Don't miss the Samosas (fried vegetable pastries)
        that are sold near the entrance of Batasia Loop in the morning.
      </p>
    </div>
  </div>
</div>