@import '../../containers/index/index.component.scss';

.carousel-image {
  height: 600px;
  width: 100%;
}
.carousel-caption {
  text-align: left;
}
.event-link {
  text-decoration: none;
  color: white;
}
@media (max-width: 767px) {
  .carousel-image {
    height: 300px;
  }
}
