<div class="destination-content">
  <div class="destination-image">

    <!--<img src="assets/images/destinations/bangladesh/nilachol.jpg" class="img-responsive wp-post-image"  alt="">-->
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[0]" alt="Random first slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[1]" alt="Random second slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[2]" alt="Random third slide">

      </ng-template>
    </ngb-carousel>
  </div>
  <div class="destination-title">
      Shillong
  </div>
  <p>
      Shillong is a hill station in northeast India and capital of the state of Meghalaya. It’s known for the manicured gardens at Lady Hydari Park. Nearby, Ward’s Lake is surrounded by walking trails. North, the Don Bosco Centre for Indigenous Cultures features displays on the region’s native people. Waterfalls include the Elephant Falls to the southwest. East of here, forested Shillong Peak offers city views.
  </p>

  <!--location 1-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Mawlynnong Village
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/india/MawlynnongVillage.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              Mawlynnong is a small village in the East Khasi Hills district in Meghalaya, the abode of changing clouds. Mawlynnong is famous for its matrilineal society as well as having been declared Asia's cleanest village which comes under the Pynursla community development block and legislative assembly constituency.<br/><br/>
              Mawlynnong is a village in the East Khasi Hills district in the Indian state of Meghalaya. It is famous for its women-centric society as well as having been declared Asia's cleanest village. As per the survey of 2014, there were about 95 homes in Mawlynnong. The literacy rate was 100%. The localites are chiefly occupied with agriculture, with betel nut being the main harvest. The people residing here belong to the Khasi Tribe while other tribes is Garo.

          </p>
      </div>
  </div>
  <!--End location 1-->

  <!--location 2-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Umiam Lake
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/india/UmiamLake.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              Surrounded by coniferous forests, this man-made lake or reservoir is located at a distance of 15 km to the north of Shillong. It stretches over an area of about 221 square kilometres which is four times the size of San Marino or Bermuda. It is enveloped by lush green East Khasi hills and offers some of the best panoramic sights for nature-lovers. The lake is dotted with a few islands and there is also a park adjoining it making it a hotspot for picnics. Adventure lovers can also enjoy various water-sports like kayaking, water cycling, boating and scooting.<br/><br/>
              The name 'Umiam' translates into 'water of tears and has a fascinating legend circling it. Two sisters began their journey of alighting from the heaven, and one of them got lost. The other sister was so torn with grief that her tears filled up this lake when she reached Meghalaya.<br/><br/>
              Apart from the tranquillity that this place has to offer, one can also observe the daily life of the natives who come to the lake in search of twigs and grass or the fishermen canoeing in the still waters. In summers, the shores are adorned by beautiful gulmohar trees. Water level recedes in the winter and turns azure. There is also a park adjoining the lake.

          </p>
      </div>
  </div>
  <!--End location 2-->

  <!--location 3-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Elephant Falls
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/india/ElephantFalls.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              Named after an Elephant like stone at its foot, the Elephant Falls are amongst the most popular falls in the North-East, situated next to Shillong. It is a tourists' paradise with three layers of the falls accessible to the layman from different vantage points. At Elephant Falls one can get very close to the falls and enjoy its serenity and might.<br/><br/>
              The first of the three waterfalls are tucked between the dense trees and are very broad. The second waterfall reduces to thin strands of water and is almost negligible in winters due to the receding water levels. The third and the most visible waterfall is the tallest with clear water. flowing like a sheet of milk on the dark rocks in the backdrop. Elephant Falls are a great stopover destination before one heads for further journeys into Meghalaya. Located 12 km away from the capital city of Shillong, Elephant Falls is one of the most visited falls in Meghalaya.

          </p>
      </div>
  </div>
  <!--End location 3-->

  <!--location 4-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Shillong Peak
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/india/ShillongPeak.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              At the height of 6449 ft and 1965 m above sea level, this is the highest point of Shillong. It offers a breathtaking panoramic view of the entire city, the Himalayas, its waterfalls as well as of the Bangladesh plains. A telescope is available for tourists to get a bird's eye view. Trekking up to this semi-circular peak is highly recommended for the best views but it is often bounded by heavy fog.<br/><br/>
              It is said that Shillong gets its name from this peak itself. Regional tales tell that the patron deity 'Leishyllong' resides in the hills and protects the city from all evils. The U Shulong site at the top of the peak is sacred and every spring, a ritual is organised there. The place is situated at the air force base and features a radar station of the Indian Air Force. Due to security reasons, heavy checking is done at the gates, and tourists are asked to deposit their cameras.

          </p>
      </div>
  </div>
  <!--End location 4-->

  <!--location 5-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Ward’s Lake
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/india/WardsLake.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              A pretty artificial lake surrounded by gardens is an ideal evening get away! Also known as the Polok Lake, it is usually flocked by couples, picnickers and locals.<br/><br/>
              Boating and fountain dancing are big activities of this place. The complex also has a cafeteria and a Botanical Garden. the lake is located beneath the Governor's residence.

          </p>
      </div>
  </div>
  <!--End location 5-->

  <!--location 6-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Lady Haydari Park
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/india/LadyHaydariPark.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              One of the most famous tourist spots of Shillong, the park is dedicated to the first lady of the province - Lady Hydari. This sprawling park encompasses a wide variety of flora along with a cute mini zoo housing 73 species of birds and over 100 reptiles.<br/><br/>
              The beautiful bed of roses is the highlight of the park. A special play area is a part of the park as well.

          </p>
      </div>
  </div>
  <!--End location 6-->

  <!--location 7-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Don Bosco Museum
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/india/DonBoscoMuseum.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              A theme museum with collective information on the entire North Eastern stated of India, the museum exhibits a wide collection of regional artwork, attires, accoutrements, handicrafts, ornamentation, photographs and weapons. The museum consists of a seven storey building with seventeen galleries.
          </p>
      </div>
  </div>
  <!--End location 7-->

  <!--location 8-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Shillong Golf Course
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/india/ShillongGolfCourse.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              Shillong Golf Course one of the oldest and best natural golf course in the world is considered to be the "Gleneagle of the East" by the United States Golf Association and Museum. The site where the Golf Course is located provides a scenic view. It was set in an undulating valley covered with thick groves of pine and rhododendron trees at an altitude of 5200 ft in 1898 as a 9 (nine) hole course and later converted into a 18 (eighteen) hole course in 1924 by Captain Jackson and C. K. Rhodes.
          </p>
      </div>
  </div>
  <!--End location 8-->

  <!--location 9-->
  <div class="row row-location">
      <div class="col-md-12 location-title">
          Captain Williamson Sangma State Museum
      </div>
      <div class="col-md-4 location-image">
          <img src="assets/images/destinations/india/CaptainWilliamsonSangmaStateMuseum.jpg" class="img-responsive wp-post-image"  alt="">
      </div>
      <div class="col-md-8 location-text">
          <p>
              For those interested in ethnic tribal culture and tradition this Govt. Museum under the control of Art and Culture Department offers insights to the lifestyle of the people. This museum is in the State Central Library complex where monuments for the great patriots of the state had been erected besides the statue of Smt. Indira Gandhi and Netaji Subhash Chandra Bose.
          </p>
      </div>
  </div>
</div>