<div class="destination-content">
  <div class="destination-image">

    <!--<img src="assets/images/destinations/bangladesh/nilachol.jpg" class="img-responsive wp-post-image"  alt="">-->
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[0]" alt="Random first slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[1]" alt="Random second slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[2]" alt="Random third slide">

      </ng-template>
    </ngb-carousel>
  </div>
  <div class="destination-title">
    Khagrachari
  </div>
  <p>
    Khagrachari is one of the four districts of Bangladesh that make Chittagong Hill Tracts. It is a valley where visitors frequently
    tend to travel especially in the monsoon. It is a significantly promising tourist zone of the country where more travelers
    can be attracted.
  </p>

  <!--location 1-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Alutila Cave
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/AlutilaCave.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Alutila cave which is located at Alutila hill or Arbari hill is a mysterious beauty of nature at Matiranga, Khagrachari.
        This cave could be the prime choice of adventure lovers. This cave abduct the heart of tourist for it’s darkness
        and mystery. This is about 100 meters long having enough space to move 4 person easily at a time. This cave is a
        perfect vanquish spot for courageous people who loves darkness though the cave is fully safe.
      </p>
    </div>
  </div>
  <!--End location 1-->

  <!--location 2-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Risang Waterfall
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/RisangWaterfall.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Risang Waterfall, three kilometers west of Alutila tourism center. If you look at the Valley of Thousand Feet under, anyone
        will be shocked at the wonderful charm. The natural fall from this spring is about 30 meters high. The whole atmosphere
        is rocky. Waterfall water falls below 100 feet above the mountain. After falling down, it falls on a further 100
        feet of stones, on the plain. It’s an uncompromising form that will overtake your imagination.
      </p>
    </div>
  </div>
  <!--End location 2-->

  <!--location 3-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Hajachara Waterfalls
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/HajacharaWaterfalls.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Hajachara is one of the most beautiful waterfalls in Khagrachari. Hajachara is full of surprising natural beauty. This waterfall
        is situated in Dhiginala, Khagrachori. 10-15 minutes walking distance from 10 number police post at Dhiginala to
        reach Hajachara Water fall which is also called ten number waterfall.
      </p>
    </div>
  </div>
  <!--End location 3-->

  <!--location 4-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Mung Rajbari
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/bangladesh/MungRajbari.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Mung Rajbari is another attraction is the Rajbari or palace of the Mogh Chief at Manikchari in Khagrachhari District, where
        tourists can see a Royal bed made of ivory. It was established in around before the year 1860.
      </p>
    </div>
  </div>
</div>