<navbar></navbar>
<div class="container-fluid my-3 p-0">
  <img class="event-image" src="assets/images/events/events-5.jpg" alt="Card image cap">
  <div class="section-title">PHOTOGRAPHY</div>
</div>
<div class="container">
  <p>
    A picture tells lots of words which values are priceless. It captures moments of our life and makes them evergreen. And we
    the team i Tours Ltd. provides you the opportunity of storing your beautiful memories at a very reasonable rate. We can
    be a key photography solution of your elegant programs like weddings, corporate events, family programs, exhibitions.
    Our every photography package provides a different experience and feature with so many unique and new and fun options.
    We offer you a team of efficient, creative, dedicated and experienced photographers who can make your moments more artistic
    and fantastic. Prior to the event we always consult with our customers for understanding what sort of photography style
    they desire and for establishing the theme of their events. Then we discuss all the details such as timings and locations
    to ensure everything goes smoothly on the day of their events.
  </p>
  <div class="event-service-title">
    Our services :
  </div>
  <div class="event-services">
    <ul>
      <li>Featured Photography</li>
      <li>Cinematography</li>
      <li>Professional Photographers Team</li>
      <li>Required Materials</li>
    </ul>
  </div>
</div>

<footer-section></footer-section>