.side-nav-offset {
  padding: 00px 0 0 300px;
}
.container-fluid {
  font-size: 14px;
}

@media (max-width: 767px) {
  .side-nav-offset {
    padding-left: 0;
  }
}

.row-location{
padding: 10px 0;
}

.destination-content {
  padding-left: 15px;
  font-size: 16px;
}
.destination-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  padding-top: 20px;
  font-weight: 600;
}
.location-title {
  text-align: left;
  font-size: 20px;
}
.location-image img {
  display: block;
  max-width: 100%;
  height: auto;
}
.carousel-image {
  width: 100%;
  height: 50vh;
}
