<div class="container-fluid">
  <form [formGroup]="form"  class="my-3 p-4 shifting-form label1 text-left " (ngSubmit)="submit()" (mouseleave)="mouseoverShifting=false">
    <div class="form-group row">
      <label
        for="inputName"
        class="col-sm-2 col-form-label text-right font-weight-bold"
      >
        Name
      </label>
      <div class="col-sm-4">
        <input class="form-control" id="inputName" formControlName="name" />
        <small class="text-danger" *ngIf="form.controls.name.errors?.required && (form.controls.name.dirty || mouseoverShifting)">Name required</small>
    </div>
    </div>
    <div class="form-group row">
       <label
        for="inputPhone"
        class="col-sm-2 col-form-label text-right font-weight-bold"
      >
        Phone
      </label>
      <div class="col-sm-3">
        <input class="form-control" id="inputPhone" maxlength="11"  formControlName="phone" />
        <small class="text-danger" *ngIf="form.controls.phone.errors && (form.controls.phone.touched || mouseoverShifting)">
            <div [hidden]="!form.controls['phone'].errors.required">Phone number required</div>
            <div [hidden]="!form.controls['phone'].errors.pattern">Phone number format 01934953023</div>
          </small>
      </div>

      <label
        for="inputEmail"
        class="col-sm-2 col-form-label text-right font-weight-bold"
      >
        Email
      </label>
      <div class="col-sm-3">
        <input class="form-control" id="inputEmail" formControlName="email" />
        <small class="text-danger" *ngIf="form.controls.email.errors && (form.controls.email.touched || mouseoverShifting)">
            <div [hidden]="!form.controls['email'].errors.required">Email required</div>
            <div [hidden]="!form.controls['email'].errors.email">Invalid email</div>
          </small>
      </div>
    </div>

    <div class="form-group row">
      <label
        for="inputDate"
        class="col-sm-2 col-form-label text-right font-weight-bold"
      >
        Date I want to start
      </label>
      <div class="col-sm-3">
        <input class="form-control" id="inputDate" type="date" formControlName="date"/>
        <small class="text-danger" *ngIf="form.controls.date.errors?.required && (form.controls.date.dirty || mouseoverShifting)">Date required</small>
      </div>

      <label
        for="inputStartPlace"
        class="col-sm-2 col-form-label text-right font-weight-bold"
      >
        I want to go from
      </label>
      <div class="col-sm-3">
        <input class="form-control" id="inputStartPlace" formControlName="startPlace"/>
        <small class="text-danger" *ngIf="form.controls.startPlace.errors?.required && (form.controls.startPlace.dirty || mouseoverShifting)">Start place required</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right font-weight-bold">
        I want to go to
      </label>
      <div class="col-md-8">
        <div class="row">
          <div class="form-check col-sm-2 ml-3">
            <input
              class="form-check-input"
              type="checkbox"
              id="locationCoxsBazar"
              (change)="onLocationChange('cox-bazar', $event.target.checked)"
            />
            <label class="form-check-label" for="locationCoxsBazar"
              >Cox's Bazar</label
            >
          </div>
          <div class="form-check col-sm-2 ml-3">
            <input
              class="form-check-input"
              type="checkbox"
              id="locationSaintMartin"
              (change)="onLocationChange('Saint-Martin', $event.target.checked)"
            />
            <label class="form-check-label" for="locationSaintMartin"
              >Saint Martin</label
            >
          </div>
          <div class="form-check col-sm-2 ml-3">
            <input
              class="form-check-input"
              type="checkbox"
              id="locationBandarban"
              (change)="onLocationChange('Bandarban', $event.target.checked)"
            />
            <label class="form-check-label" for="locationBandarban"
              >Bandarban</label
            >
          </div>
          <div class="form-check col-sm-2 ml-3">
            <input
              class="form-check-input"
              type="checkbox"
              id="locationRangamati"
              (change)="onLocationChange('Rangamati', $event.target.checked)"
            />
            <label class="form-check-label" for="locationRangamati"
              >Rangamati</label
            >
          </div>
          <div class="form-check col-sm-2 ml-3">
            <input
              class="form-check-input"
              type="checkbox"
              id="locationKhagrachari"
              (change)="onLocationChange('Khagrachari-Sajek', $event.target.checked)"
            />
            <label class="form-check-label" for="locationKhagrachari"
              >Khagrachari-Sajek</label
            >
          </div>
          <div class="form-check col-sm-2 ml-3">
            <input
              class="form-check-input"
              type="checkbox"
              id="locationSylhet"
              (change)="onLocationChange('Sylhet', $event.target.checked)"
            />
            <label class="form-check-label" for="locationSylhet">Sylhet</label>
          </div>
          <div class="form-check col-2 ml-3">
            <input
              class="form-check-input"
              type="checkbox"
              id="locationMoulovibazar"
              (change)="onLocationChange('Moulovibazar', $event.target.checked)"
            />
            <label class="form-check-label" for="locationMoulovibazar"
              >Moulovibazar</label
            >
          </div>
          <div class="form-check col-sm-2 ml-3">
            <input
              class="form-check-input"
              type="checkbox"
              id="locationSunamgonj"
              (change)="onLocationChange('Sunamganj', $event.target.checked)"
            />
            <label class="form-check-label" for="locationSunamgonj"
              >Sunamgonj</label
            >
          </div>
          <div class="form-check col-sm-2 ml-3">
            <input
              class="form-check-input"
              type="checkbox"
              id="locationSundarban"
              (change)="onLocationChange('Sundarban', $event.target.checked)"
            />
            <label class="form-check-label" for="locationSundarban"
              >Sundarban</label
            >
          </div>
          <div class="form-check col-sm-2 ml-3">
            <input
              class="form-check-input"
              type="checkbox"
              id="locationKuakata"
              (change)="onLocationChange('Kuakata', $event.target.checked)"
            />
            <label class="form-check-label" for="locationKuakata"
              >Kuakata</label
            >
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row" *ngIf="isContain('Bandarban')">
      <label
        for="inputName"
        class="col-sm-2 col-form-label text-right font-weight-bold"
      >
        I want to see <br />
        (Only for Bandarban)
      </label>
      <div class="col-md-8">
        <div class="row">
          <div class="form-check col-sm-6 ml-3">
            <input
              class="form-check-input"
              type="checkbox"
              id="locationNilgiri"
              (change)="onPlaceChange('Nilgiri, Nilachol, Meghla, Shoilopropat, Shwarna Mandir,Chimbuk', $event.target.checked)"
            />
            <label class="form-check-label" for="locationNilgiri"
              >Nilgiri, Nilachol, Meghla, Shoilopropat, Shwarna Mandir,
              Chimbuk</label
            >
          </div>
          <div class="form-check col-sm-5 ml-3">
            <input class="form-check-input" type="checkbox" id="locationRuma" (change)="onPlaceChange('Ruma, Boga Lake, Keokradong, Jadipai', $event.target.checked)"/>
            <label class="form-check-label" for="locationRuma"
              >Ruma, Boga Lake, Keokradong, Jadipai</label
            >
          </div>
          <div class="form-check col-sm-6 ml-3">
            <input
              class="form-check-input"
              type="checkbox"
              id="locationThanchi"
              (change)="onPlaceChange('Thanchi, Remakri, Nafa Khum, Amia Khum, Shat vai Khum', $event.target.checked)"
            />
            <label class="form-check-label" for="locationThanchi"
              >Thanchi, Remakri, Nafa Khum, Amia Khum, Shat vai Khum</label
            >
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row" *ngIf="isContain('cox-bazar')">
      <label
        for="nightCoxsBazarInput"
        class="col-sm-2 col-form-label text-right font-weight-bold"
      >
        Cox's Bazar
      </label>
      <div class="col-sm-2">
        <input class="form-control" id="nightCoxsBazarInput" type="number" formControlName="durationCoxBazar"/>
      </div>
      <div class="col-sm-2">Night</div>
    </div>

    <div class="form-group row" *ngIf="isContain('Saint-Martin')">
      <label
        for="nightSaintMartin"
        class="col-sm-2 col-form-label text-right font-weight-bold"
      >
        Saint Martin</label
      >
      <div class="col-sm-2">
        <input class="form-control" id="nightSaintMartin" type="number" formControlName="durationSaintMartin"/>
      </div>
      <div class="col-sm-2">Night</div>
    </div>
    <div class="form-group row" *ngIf="isContain('Bandarban')">
      <label
        for="nightBandarban"
        class="col-sm-2 col-form-label text-right font-weight-bold"
      >
        Bandarban</label
      >
      <div class="col-sm-2">
        <input class="form-control" id="nightBandarban" type="number" formControlName="durationBandarban"/>
      </div>
      <div class="col-sm-2">Night</div>
    </div>
    <div class="form-group row" *ngIf="isContain('Rangamati')">
      <label
        for="nightRangamati"
        class="col-sm-2 col-form-label text-right font-weight-bold"
      >
        Rangamati</label
      >
      <div class="col-sm-2">
        <input class="form-control" id="nightRangamati" type="number" formControlName="durationRangamati"/>
      </div>
      <div class="col-sm-2">Night</div>
    </div>
    <div class="form-group row" *ngIf="isContain('Khagrachari-Sajek')">
      <label
        for="nightKharachari"
        class="col-sm-2 col-form-label text-right font-weight-bold"
      >
        Kharachari</label
      >
      <div class="col-sm-2">
        <input class="form-control" id="nightKharachari" type="number" formControlName="durationKhagrachari"/>
      </div>
      <div class="col-sm-2">Night</div>
    </div>
    <div class="form-group row" *ngIf="isContain('Sylhet')">
      <label
        for="nightSylhet"
        class="col-sm-2 col-form-label text-right font-weight-bold"
      >
        Sylhet</label
      >
      <div class="col-sm-2">
        <input class="form-control" id="nightSylhet" type="number" formControlName="durationSylhet"/>
      </div>
      <div class="col-sm-2">Night</div>
    </div>
    <div class="form-group row" *ngIf="isContain('Moulovibazar')">
      <label
        for="nightMoulovibazar"
        class="col-sm-2 col-form-label text-right font-weight-bold"
      >
        Moulovibazar</label
      >
      <div class="col-sm-2">
        <input class="form-control" id="nightMoulovibazar" type="number" formControlName="durationMoulovibazar"/>
      </div>
      <div class="col-sm-2">Night</div>
    </div>
    <div class="form-group row" *ngIf="isContain('Sunamganj')">
      <label
        for="nightSunamganj"
        class="col-sm-2 col-form-label text-right font-weight-bold"
      >
        Sunamganj</label
      >
      <div class="col-sm-2">
        <input class="form-control" id="nightSunamganj" type="number" formControlName="durationSunamgonj"/>
      </div>
      <div class="col-sm-2">Night</div>
    </div>
    <div class="form-group row" *ngIf="isContain('Sundarban')">
      <label
        for="nightSundarbans"
        class="col-sm-2 col-form-label text-right font-weight-bold"
      >
        Sundarban</label
      >
      <div class="col-sm-2">
        <input class="form-control" id="nightSundarbans" type="number" formControlName="durationSundarban"/>
      </div>
      <div class="col-sm-2">Night</div>
    </div>
    <div class="form-group row" *ngIf="isContain('Kuakata')">
      <label
        for="nightKuakata"
        class="col-sm-2 col-form-label text-right font-weight-bold"
      >
        Kuakata</label
      >
      <div class="col-sm-2">
        <input class="form-control" id="nightKuakata" type="number" formControlName="durationKuakata"/>
      </div>
      <div class="col-sm-2">Night</div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right font-weight-bold">
        I want to go with
      </label>
      <div class="col-md-8">
        <div class="row border-bottom py-2">
          <div class="col-md-3">Less than three years</div>
          <div class="col-md-2">
            <input class="form-control" type="number" formControlName="visitorKids"/>
          </div>
          <span class="col-md-6">
            persons (no cost, no package feature will be included)
          </span>
        </div>
        <div class="row border-bottom py-2">
          <div class="col-md-3">Three to six years</div>
          <div class="col-md-2">
            <input class="form-control" type="number" formControlName="visitorChild"/>
          </div>
          <span class="col-md-6">
            persons (half cost, no extra seat in bus & hotel)
          </span>
        </div>
        <div class="row border-bottom py-2">
          <div class="col-md-3">Above six years</div>
          <div class="col-md-2">
            <input class="form-control" type="number" formControlName="visitorAdult"/>
          </div>
          <span class="col-md-6">
            persons (full cost, everything will be included)
          </span>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right font-weight-bold">
        I want to include meal
      </label>
      <div class="col-md-8">
        <div class="row">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="radioAllThreeMeals"
              value="All Three meals"
              formControlName = "mealType"
            />
            <label class="form-check-label" for="radioAllThreeMeals"
              >All Three meals
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="radioOnlyBreakfast"
              value="Only breakfast"
              formControlName = "mealType"
            />
            <label class="form-check-label" for="radioOnlyBreakfast">
              Only breakfast
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="radioOnlyLunch"
              value="Only lunch"
              formControlName = "mealType"
            />
            <label class="form-check-label" for="radioOnlyLunch">
              Only lunch
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="radioOnlyDinner"
              value="Only dinner"
              formControlName = "mealType"
            />
            <label class="form-check-label" for="radioOnlyDinner">
              Only dinner
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="radioOnlyLunchDinner"
              value="Only launch and dinner"
              formControlName = "mealType"
            />
            <label class="form-check-label" for="radioOnlyLunchDinner">
              Only launch &amp; dinner
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="radioNothing"
              value="Nothing"
              formControlName = "mealType"
            />
            <label class="form-check-label" for="radioNothing"> Nothing </label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row" >
      <label class="col-sm-2 col-form-label text-right font-weight-bold">
        I want to travel by
      </label>
      <div class="col-md-8">
        <div class="row">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="radioNonAcHino"
              value="Non AC Hino"
              formControlName = "travelType"
            />
            <label class="form-check-label" for="radioNonAcHino">
              Non AC Hino
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="radioAcHino"
              value="AC Hino"
              formControlName = "travelType"
            />
            <label class="form-check-label" for="radioAcHino"> AC Hino </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="radioAcVolvo"
              value="AC Volvo/Scania"
              formControlName = "travelType"
            />
            <label class="form-check-label" for="radioAcVolvo">
              AC Volvo/Scania
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="radioAcHyundai"
              value="AC Hyundai"
              formControlName = "travelType"
            />
            <label class="form-check-label" for="radioAcHyundai">
              AC Hyundai
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row" *ngIf="isContain('Saint-Martin')">
      <label class="col-sm-2 col-form-label text-right font-weight-bold">
        I want to go with
      </label>
      <div class="col-md-8">
        <div class="row border-bottom py-2">
          <div class="col-md-3">Keari Sindabad :</div>

          <div class="form-check col-md-3">
            <input
              class="form-check-input"
              type="radio"
              id="radioKeariSindabadMainDeck"
              value="Keari Sindabad - Main Deck"
              formControlName = "shipName"
            />
            <label class="form-check-label" for="radioKeariSindabadMainDeck">
              Main Deck
            </label>
          </div>

          <div class="form-check col-md-3">
            <input
              class="form-check-input"
              type="radio"
              id="radioKeariSindabadOpenDeck"
              value="Keari Sindabad - Open Deck"
              formControlName = "shipName"
            />
            <label class="form-check-label" for="radioKeariSindabadOpenDeck">
              Open Deck
            </label>
          </div>

          <div class="form-check col-md-3">
            <input
              class="form-check-input"
              type="radio"
              id="radioKeariSindabadBridgeDeck"
              value="Keari Sindabad - Bridge Deck"
              formControlName = "shipName"
            />
            <label class="form-check-label" for="radioKeariSindabadBridgeDeck">
              Bridge Deck
            </label>
          </div>
        </div>

        <div class="row border-bottom py-2">
          <div class="col-md-3">Keari Cruise & Dine :</div>

          <div class="form-check col-md-3">
            <input
              class="form-check-input"
              type="radio"
              id="radioKeariCruiseExclusiveLounge"
              value="Keari Cruise and Dine : Exclusive Lounge"
              formControlName = "shipName"
            />
            <label
              class="form-check-label"
              for="radioKeariCruiseExclusiveLounge"
            >
              Exclusive Lounge
            </label>
          </div>

          <div class="form-check col-md-3">
            <input
              class="form-check-input"
              type="radio"
              id="radioKeariCruiseCoralLounge"
              value="Keari Cruise and Dine : Coral Lounge"
              formControlName = "shipName"
            />
            <label class="form-check-label" for="radioKeariCruiseCoralLounge">
              Coral Lounge
            </label>
          </div>

          <div class="form-check col-md-3">
            <input
              class="form-check-input"
              type="radio"
              id="radioKeariCruisePearlLounge"
              value="Keari Cruise and Dine : Pearl Lounge"
              formControlName = "shipName"
            />
            <label class="form-check-label" for="radioKeariCruisePearlLounge">
              Pearl Lounge
            </label>
          </div>
        </div>

        <div class="row border-bottom py-2">
          <div class="col-md-3">Bay Cruise :</div>

          <div class="form-check col-md-3">
            <input
              class="form-check-input"
              type="radio"
              id="radioBayCruiseRajanigandha"
              value="Bay Cruise : Rajanigandha (Lower)"
              formControlName = "shipName"
            />
            <label class="form-check-label" for="radioBayCruiseRajanigandha">
              Rajanigandha (Lower)
            </label>
          </div>

          <div class="form-check col-md-3">
            <input
              class="form-check-input"
              type="radio"
              id="radioBayCruiseKrishnochura"
              value="Bay Cruise : Krishnochura(Upper)"
              formControlName = "shipName"
            />
            <label class="form-check-label" for="radioBayCruiseKrishnochura">
              Krishnochura(Upper)
            </label>
          </div>

          <div class="form-check col-md-3">
            <input
              class="form-check-input"
              type="radio"
              id="radioBayCruiseHasnahena"
              value="Bay Cruise : Hasnahena(Upper)"
              formControlName = "shipName"
            />
            <label class="form-check-label" for="radioBayCruiseHasnahena">
              Hasnahena(Upper)
            </label>
          </div>
        </div>

        <div class="row border-bottom py-2">
          <div class="col-md-3">MV Greenline :</div>

          <div class="form-check col-md-3">
            <input
              class="form-check-input"
              type="radio"
              id="radioMVGreenLineEconomy"
              value="MV Greenline : Economy Class"
              formControlName = "shipName"
            />
            <label class="form-check-label" for="radioMVGreenLineEconomy">
              Economy Class
            </label>
          </div>

          <div class="form-check col-md-3">
            <input
              class="form-check-input"
              type="radio"
              id="radioMVGreenLineExclusive"
              value="MV Greenline : Exclusive Class"
              formControlName = "shipName"
            />
            <label class="form-check-label" for="radioMVGreenLineExclusive">
              Exclusive Class
            </label>
          </div>
        </div>

        <div class="row border-bottom py-2">
          <div class="col-md-3">LCT Kutubdia :</div>

          <div class="form-check col-md-3">
            <input
              class="form-check-input"
              type="radio"
              id="radioLCTKutubdiaMain"
              value="LCT Kutubdia :  Main Deck"
              formControlName = "shipName"
            />
            <label class="form-check-label" for="radioLCTKutubdiaMain">
              Main Deck
            </label>
          </div>

          <div class="form-check col-md-3">
            <input
              class="form-check-input"
              type="radio"
              id="radioLCTKutubdiaOpen"
              value="LCT Kutubdia :  Open Deck"
              formControlName = "shipName"
            />
            <label class="form-check-label" for="radioLCTKutubdiaOpen">
              Open Deck
            </label>
          </div>
        </div>

        <div class="row border-bottom py-2">
          <div class="col-md-3">LCT Kajol :</div>

          <div class="form-check col-md-3">
            <input
              class="form-check-input"
              type="radio"
              id="radioLCTKajolMain"
              value="LCT Kajol : Main Deck"
              formControlName = "shipName"
            />
            <label class="form-check-label" for="radioLCTKajolMain">
              Main Deck
            </label>
          </div>

          <div class="form-check col-md-3">
            <input
              class="form-check-input"
              type="radio"
              id="radioLCTKajolOpen"
              value="LCT Kajol : Open Deck"
              formControlName = "shipName"
            />
            <label class="form-check-label" for="radioLCTKajolOpen">
              Open Deck
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right font-weight-bold">
        I want to stay at
      </label>
      <div class="col-md-8">
        <div class="row">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="radioThreeStarStandard"
              value="3 star standard hotel"
              formControlName = "hotelType"
            />
            <label class="form-check-label" for="radioThreeStarStandard">
              3 star standard hotel
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="radioThreeStar"
              value="3 star hotel"
              formControlName = "hotelType"
            />
            <label class="form-check-label" for="radioThreeStar"
              >3 star hotel</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="radioFourStar"
              value="4 star hotel"
              formControlName = "hotelType"
            />
            <label class="form-check-label" for="radioFourStar">
              4 star hotel
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="radioFiveStar"
              value="5 star hotel"
              formControlName = "hotelType"
            />
            <label class="form-check-label" for="radioFiveStar">
              5 star hotel
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="radioOther"
              value="Other"
              formControlName = "hotelType"
            />
            <label class="form-check-label" for="radioOther"> Other </label>
          </div>
          <div class="form-check form-check-inline" *ngIf="form.value.hotelType == 'Other'">
            <input class="form-control" placeholder="enter your choice" formControlName = "hotelTypeText"/>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right font-weight-bold">
        My room choice
      </label>
      <div class="col-md-8">
        <div class="row">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="radioNonAc4Seat"
              value="Non AC 4 Seater"
              formControlName = "roomType"
            />
            <label class="form-check-label" for="radioNonAc4Seat">
              Non AC 4 Seater
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="radioNonAc3Seat"
              value="Non AC 3 Seater"
              formControlName = "roomType"
            />
            <label class="form-check-label" for="radioNonAc3Seat"
              >Non AC 3 Seater
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="radioAc3Seat"
              value="AC 3 Seater"
              formControlName = "roomType"
            />
            <label class="form-check-label" for="radioAc3Seat">
              AC 3 Seater
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="radioNonAc2Seat"
              value="Non AC 2 Seater"
              formControlName = "roomType"
            />
            <label class="form-check-label" for="radioNonAc2Seat">
              Non AC 2 Seater
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="radioAc2Seat"
              value="AC 2 Seater"
              formControlName = "roomType"
            />
            <label class="form-check-label" for="radioAc2Seat">
              AC 2 Seater
            </label>
          </div>

          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="radioAcSuite"
              value="AC Suite"
              formControlName = "roomType"
            />
            <label class="form-check-label" for="radioAcSuite"> AC Suite</label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label
        for="inputExtraReq"
        class="col-sm-2 col-form-label text-right font-weight-bold"
      >
        My extra requirements
      </label>
      <div class="col-sm-4">
        <textarea class="form-control" id="inputExtraReq" rows="4" formControlName="note"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 ml-3 "> </label>
      <span class="col-md-1 ml-1" (mouseenter)="mouseoverShifting=true; getFormValidationErrors()" >
        <button type="submit" class="btn btn-primary" [ngClass]="{'disabled': form.invalid}">Submit</button>
      </span>

    <small class="text-danger col-md-8 ml-1" *ngIf="mouseoverShifting">{{errorMessage}}</small>
    </div>
  </form>
</div>

<!-- {{allErrors|json}} -->
