.container {
  padding-top: 20px !important;
}

.section-title {
  font-size: 40px;
  text-align: center;
  position: relative;
}

.section-title:before {
  display: none;
  width: 50px;
  height: 4px;
}

.section-title:after {
  right: auto !important;
  width: 270px;
  height: 1px;
}

.section-title:before,
.section-title:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  margin: 1px auto;
  background: rgba(0, 0, 0, 0.5);
}
