<navbar></navbar>
<div class="container-fluid my-3 p-0">
  <img class="event-image" src="assets/images/events/events-1.jpg" alt="Card image cap">
  <div class="section-title">CORPORATE EVENTS</div>
</div>
<div class="container">
  <p>
    We are corporate Event Organizers and Corporate Event Management based on Bangladesh. i tours Ltd. have considerable experience
    in organizing Conferences, Seminar, Exhibitions, Celebrations, Annual Function, Business Meet cum Launch Function, Product
    Launching, and other corporate events of all sizes.
  </p>
  <div class="event-service-title">
    Our services :
  </div>
  <div class="event-services">
    <ul>
      <li>Organizing seminar, conference and meeting</li>
      <li>Arranging event inside Dhaka and outside Dhaka.</li>
      <li>Catering Service</li>
      <li>Hotel arrangement service.</li>
      <li>Rental service for official meeting or corporate event.</li>
      <li>Transportation service.</li>
      <li>Decoration.</li>
      <li>Corporate Entertainment</li>
      <li>Annual Function</li>
      <li>Product Launching</li>
      <li>Award function</li>
      <li>Press Conferences</li>
      <li>Product Display</li>
    </ul>
  </div>
</div>
<footer-section></footer-section>