<div class="container">
  <div class="row my-2">
    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
      <div class="info-box hover-expand-effect">
        <div class="icon bg-light-blue"><i class="fa fa-briefcase"></i></div>
        <div class="content">
          <div class="text">PACKAGES</div>
          <div class="number">{{ packageNumber }}</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
      <div class="info-box hover-expand-effect">
        <div class="icon bg-deep-purple"><i class="fa fa-firefox"></i></div>
        <div class="content">
          <div class="text">HOT DEALS</div>
          <div class="number">{{ hotdealNumber }}</div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
      <div class="info-box hover-expand-effect">
        <div class="icon bg-green"><i class="fa fa-picture-o"></i></div>
        <div class="content">
          <div class="text">GALLERY</div>
          <div class="number">{{ galleryNumber }}</div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
      <div class="info-box hover-expand-effect">
        <div class="icon bg-teal"><i class="fa fa-pencil-square-o"></i></div>
        <div class="content">
          <div class="text">CUSTOM PACKAGES</div>
          <div class="number">{{ customPackageNumber }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
