<navbar></navbar>
<div class="container-fluid my-3 p-0">
  <img class="event-image" src="assets/images/events/events-3.jpg" alt="Card image cap">
  <div class="section-title">ARTIST</div>
</div>
<div class="container">
  <p>
    In some events the customers arrange all the things themselves, but only want external artists who can entertain the guests.
    i Tours Ltd. understands these customers need and provides artists for the events. We understand the event and give such
    artists that suits with the event.
  </p>
  <div class="event-service-title">
    Our services :
  </div>
  <div class="event-services">
    <ul>
      <li>Hiring artists for events.</li>
      <li>Stage Decoration</li>
      <li>Provide materials</li>
      <li>Transportation service.</li>
      <li>Event organizing.</li>
    </ul>
  </div>
</div>
<footer-section></footer-section>