<div class="container">
  <h2 class="mt-5 mb-2">Company Overview</h2>
  <div class="row">
    <div class="col-md-6" style="text-align: justify;">
      i Tours Ltd operates corporate tour, family tour and honeymoon tour within
      the country and abroad. It also arranges foreigner’s tour to explore home
      country. Besides, it also provide air tickets, transport reservation &
      ship ticketing services.<br /><br />
      Another major operational sector for i Tours Ltd is to arrange various
      events like corporate events, ceremonies, exhibition etc. It also provides
      photograpy and artist management servises for a event & does promotional
      job for a brand.
    </div>
  </div>
</div>
