<div class="destination-content">
  <div class="destination-image">

    <!--<img src="assets/images/destinations/bangladesh/nilachol.jpg" class="img-responsive wp-post-image"  alt="">-->
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[0]" alt="Random first slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[1]" alt="Random second slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[2]" alt="Random third slide">

      </ng-template>
    </ngb-carousel>
  </div>
  <div class="destination-title">
    China
  </div>
  <p>
    China; an enormous, mysterious, beautiful and culturally enriched land; is the third most visited country in the world. Whether
    looking for ancient history, urban wonders, picturesque landscapes, or cultural experiences; more and more world tourists
    are turning their toes towards China. It has become one of the world’s most-watched and hottest inbound and outbound
    tourist markets. China is endowed with diversified terrain, where mountain, plateau and basins are all available. It
    is the rich terrains that create the varied landscapes in China. China is also a great country with time-honored history
    and profound culture, where numerous historical sites and culture relics are offered. It is one of the Four Ancient Civilizations
    (alongside Babylon, India and Egypt), with a rich and profound culture. Chinese culture is diverse and unique, yet harmoniously
    blended — an invaluable asset to the world.
  </p>

  <!--location 1-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      The Great Wall of China
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/TheGreatWallofChina.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The Great Wall of China, a great engineering marvel, always attracts throngs of adventurous tourists from all over the world.
        It is situated in the capital of China, Beijing, and a center of attraction. The Great Wall can be visited at several
        access points along the length of the Wall. Most famous Great Wall sections are located in its suburban areas, including
        the well-preserved Badaling and Mutianyu, the renovated Juyonguan, Jinshanling and Simatai, and wild Jiankou and
        Gubeikou. They are all not far from downtown Beijing, 1-2 hours’ driving away. This particular one, the Badaling
        section is the most popular section for tourist; it is the best preserved section; the most complete; and easily
        accessed using public transport. The Jinshanling and Simatai points have been equipped with cableways. But to visit
        Simatai, tourists would better make a reservation on its official website. The scenery of the Great Wall varies with
        the seasons, which offers many features and fodder for photographers who seek to obtain characteristic photographic
        works. However, for an ordinary visitor, the best times are spring and autumn, especially May, September or early
        October when it is usually sunny, with brisk temperatures, leaving tourists more refreshed and comfortable.
      </p>
    </div>
  </div>
  <!--End location 1-->

  <!--location 2-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Forbidden City
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/ForbiddenCity.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Forbidden City, also known as the Palace Museum, and Gu Gong in Chinese, lies at the city center of Beijing, China. It was
        once served as the imperial palace for 24 emperors during the Ming and Qing Dynasties. Today this UNESCO World Heritage
        site is one of the city’s most popular attractions. The Forbidden City is the largest palace complex in the world,
        with more than 800 buildings and some 8,000 rooms set in the heart of Beijing. It was forbidden to enter inside without
        special permission of the emperor. Hence its name 'The Forbidden City'. Nowadays, it is open to tourists from home
        and abroad. Splendid painted decoration on these royal architectural wonders, the grand and deluxe halls, with their
        surprisingly magnificent treasures will certainly satisfy 'modern civilians'. It remains closed on Mondays, except
        the Chinese statutory holidays and the summer vacation from Jul. 1 to Aug. 31.Visitors need to buy ticket (Free for
        Children) for entering here.
      </p>
    </div>
  </div>
  <!--End location 2-->

  <!--location 3-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Terracotta Army
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/TerracottaArmy.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The Terracotta Army was constructed to accompany the tomb of China’s First Emperor as an afterlife guard. It is considered
        one of the greatest archaeological sites in the world, and one of the greatest discoveries of the 20th century. The
        attraction is located in Xi'an, in West China's Shaanxi Province. So far, archaeologists have uncovered a 20-square-mile
        compound, including some 8,000 terra cotta soldiers, along with numerous horses and chariots, a pyramid mound marking
        the emperor’s tomb. More than 700,000 craftsmen worked round the clock for about two decades to build this mausoleum.
        The highlights of the museum are the three pits where the warriors are on display, and the Exhibition of Bronze Chariots.
        It is significant because the hundreds of detailed life-size models are displayed here which represent the army that
        triumphed over all other Chinese armies and who were the decisive factor in forming a united China. Terracotta Army
        is an indoor attraction, which it can be visited all year round.
      </p>
    </div>
  </div>
  <!--End location 3-->

  <!--location 4-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Li River
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/LiRiver.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The Li River was listed as one of the "World's Top Ten Watery Wonders” by America's National Geographic Magazine. When any
        Chinese traveler seeks a place for natural beauty, they first think of Li River and Yangshuo. The 83-kilometer-long
        waterway from Guilin City to Yangshuo County, is like an artist's masterpiece. The river landscape is decorated with
        startling hills, steep cliffs, and farming villages, and is lined with bamboo groves. Boat cruises and bamboo rafting
        are two great options to experience its beauty. And hiking along the river from Yangdi to Xingping is a good chance
        to get closer to nature and local life. The best way to appreciate the beautiful scenery of a river is to take a
        cruise. Cruising on the Li River from Guilin city to Yangshuo Country is enjoyable no matter what the weather is
        like. Generations of Chinese painters and poets have been inspired by the beauty of nature of this river. Nowadays
        it's a popular photography destination.
      </p>
    </div>
  </div>
  <!--End location 4-->

  <!--location 5-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      The Yellow Mountains
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/TheYellowMountains.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The yellow Mountains are located in the south of Anhui province, and certainly one of the "must see" sights of China for
        the tourists. It was listed as a World Heritage Site by UNESCO in 1990. The Yellow Mountains are not so called because
        the mountains are yellow, but because the area was renamed after the legendary Yellow Emperor (Huang Di) in 747 AD.
        Its Scenic Area woos travelers with its five wonders: sun rises, seas of clouds, oddly-shaped rocks, twisted pine
        trees, and hot springs. The highlights of Yellow Mountain are concentrated in an area of roughly 60 square miles
        (154 square km). This scenic area is a showcase of nature, where tourists can find the towering peaks and rock formations.
        There are two routes for climbers from the foot of the mountain. Cable car facility is also available to take the
        effort out of the ascent and descent. This place can be visited any time of the year as each season offers a unique
        aspect of this beautiful mountain.
      </p>
    </div>
  </div>
  <!--End location 5-->

  <!--location 6-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Giant Pandas in Chengdu
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/GiantPandasinChengdu.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Giant Panda, one of the endangered species in the world, attracts tourists from all over the world. And there are three places
        in China where tourists can see pandas close up: Chengdu Panda Breeding and Research Center, Dujiangyan Panda Valley,
        and Bifengxia Panda Base. Chengdu Research Base of Giant Panda Breeding is a non-profit research and breeding facility
        center for giant pandas and other rare animals. It is located in Chengdu, Sichuan, China. It started with 6 giant
        pandas that were rescued from the wild and by 2008 it had 124 panda births. It offers a close visit to this rare
        giant pandas. Visitors can closely observe the baby and adult pandas resting, eating, drinking and playing with each
        other or watch female pandas nursing their cubs in the nursery rooms. The research center is also home to other endangered
        wildlife, including red pandas, swans, peacocks, birds, butterflies and hundreds of insects. Thus make the center
        a perfect educational and photography destination. Bifengxia Panda Base is the biggest Giant Panda base in the world,
        with 155 pandas. Tourists visiting here, can not only watch pandas and take photos with them, but also can have a
        paid holding of a baby panda for once in a lifetime experience. Dujiangyan Panda Base provides the tourists an experience
        of the rescue process to treat sick pandas and get close to pandas and make some interaction with them under the
        help of the master. Minimum fee is required for availing this experience.
      </p>
    </div>
  </div>
  <!--End location 6-->

  <!--location 7-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      The Potala Palace
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/ThePotalaPalace.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The Potala Palace in Lhasa, a symbol of Tibet, has the honor of being the highest ancient palace in the world. In 1994 it
        was declared a UNESCO World Cultural Heritage Site. It is a huge treasure house of materials and articles from Tibetan
        history, religion, culture and art. According to the Guinness Book of World Records, Potala Palace is the highest
        place in the world. This palace stands on top of Red Hill by the side of Lhasa River, at 3,700 meters above the sea
        level. This 13-stories-high palace has over 1,000 rooms, and covers over 13 hectares (32 acres). This palace is made
        of two main parts, easily distinguished by their color: the Red Palace and White Palace. The most important shrine
        in the Potala is the Saint's Chapel in the White Palace, which contains a revered statue of Chenrezi, bodhisattva
        of compassion.
      </p>
    </div>
  </div>
  <!--End location 7-->

  <!--location 8-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      The Bund in Shanghai
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/TheBundinShanghai.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The Bund is a mile-long stretch of waterfront promenade along the Huangpu River. It is one of the most recognizable architectural
        symbols of Shanghai, China. It showcases the world with its colonial European buildings, skyscrapers and one of the
        world's foremost business districts, housing in the other side of the Huangpu. To the west of this stretch stand
        52 buildings of various architectural styles, including Gothic, baroque, and neoclassical styles. It is often referred
        to as "the museum of buildings". The best way to appreciate the buildings is to have a walk along the Bund. Roaming
        among the architectural complexes, tourists will have a better understanding of the century-long charm of this city.
        After a walk along the Bund, they can also consider taking a Huangpu River cruise. On the cruise, they will see the
        historical architecture on the Bund, as well as the modern skyscrapers housing in opposite of the Huangpu River which
        can give them a distinctive contrast between modern life and the past. At the northern end of the Bund, there is
        Huangpu Park. It is like a small oasis situated between the Bund and busy shopping areas.
      </p>
    </div>
  </div>
  <!--End location 8-->

  <!--location 9-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Victoria Harbor in Hong Kong
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/VictoriaHarborinHongKong.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Situated between Hong Kong Island and Kowloon Peninsula, Victoria Harbor is the largest harbor in China and the third largest
        in the world. It is home to most of the ports of Hong Kong, making the city one of the world's busiest ports. The
        harbor bustles day and night with all manner of watercraft – from the historic Star Ferries to cruise liners, cargo
        ships, and wooden fishing vessels. The bay offers stunning views of the skyscrapers of Hong Kong Island on one side,
        and the Tsim Sha Tsui shoreline on the other. It is the best spot to have a bird's eye view of Hong Kong. Viewed
        from the peak, both day and night scenes are worth taking in. At night the scenery is gorgeous, when a show takes
        place with A Symphony of Lights, featuring nightly taking more than 40 skyscrapers in a stunning multimedia extravaganza.
        Tourists both local and visitors may cherish a wish to see this gorgeous lighting. On some special days, such as
        some holidays, the Hong Kong Tourism Board may arrange a firework show along with the Symphony of Lights.
      </p>
    </div>
  </div>
  <!--End location 9-->

  <!--location 10-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      West Lake
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/WestLake.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        West Lake is man-made and created after the Chinese love for garden-style parks for recreation. It is the historic center
        of Hangzhou, situated in the western suburbs. West Lake is the symbol of Hangzhou, and is considered one of the most
        beautiful sights in China. It is renowned as China's "paradise on earth" owing to its beautifully crafted landscape.
        Embraced by mountains on three sides, the West Lake knits itself into lakes. Between the North Inner Lake and the
        West Outer Lake lies the largest natural island called the Solitary Hill. In addition, three man-made islands stand
        in the West Outer Lake and two famous pagodas by the lake. Nowadays, West Lake is one of the top ten scenic areas
        in China, getting listed as a World Cultural Heritage Site by UNESCO in 2011. It is famous for the romantic legends
        and intoxicating scenery. To admire the beauty of West Lake, visitors can leisurely bike around the lake, walk around
        the lake, or take a short cruise on the lake.
      </p>
    </div>
  </div>
  <!--End location 10-->

  <!--location 11-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Hong Kong Disneyland
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/HongKongDisneyland.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Hong Kong Disneyland is a theme park inspired by fairy-tale dreams situated on reclaimed land in Penny's Bay, Lantau Island;
        inside the Hong Kong Disneyland Resort. Entering in the park, visitors step into a world that makes Disney characters
        come to life. Based on the stories of Toy Story, the American Old West, fantasy, adventure, space and Americana,
        Hong Kong Disneyland lets visitors enjoy high-quality rides, meet with their favorite Disney characters, and watch
        amazing Broadway-style shows. The park consists of seven themed areas hosting various rides, shops, restaurants,
        and live entertainment: Main Street, USA; Fantasyland; Adventureland; Tomorrowland; Grizzly Gulch; Mystic Point;
        Toy Story Land. The park features a daytime parade "Flights of Fantasy", as well as a nighttime parade "Paint the
        Night", and a nighttime firework show “Disney in the Stars”. Seasonal entertainment, such as "Disney's Haunted Halloween",
        "A Sparkling Christmas", and "Disney's Chinese New Year", are held in the park to celebrate major holidays.
      </p>
    </div>
  </div>
  <!--End location 11-->

  <!--location 12-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Honghe Hani Rice Terraces
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/HongheHaniRiceTerraces.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The Honghe Hani Rice Terraces are located on the southern slopes of Ailao Mountain in Yuanyang, and have been cultivated
        for over 1,000 years. It is marked by spectacular terraces that cascade down the slopes of the towering Ailao Mountains
        to the banks of the Hong River. The 1,200-year-old elaborate red rice terraces were created to bring water down from
        the forests to allow for farming on the slopes. Incorporated into the terraces there are 82 villages, and a farming
        system involving buffaloes and cattle, as well as eels, ducks, and fish. The villages feature traditional thatched
        mushroom houses. The resilient land management system of the rice terraces demonstrates extraordinary harmony between
        people and their environment, both visually and ecologically, based on exceptional and long-standing social and religious
        structures. Hani Rice Terraces are one of best examples to show farmers’ wisdom in China. The terraces were designated
        an UNESCO World Heritage Site in 2013.
      </p>
    </div>
  </div>
  <!--End location 12-->

  <!--location 13-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Longmen Grottoes
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/LongmenGrottoes.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The Longmen Grottoes or Longmen Caves are some of the finest examples of Chinese Buddhist art. Housing lots of statues of
        Buddha and his disciples, they are located in the south of Luoyang City, China; between Mount Xiang and Mount Longmen
        and face Yi River. These works, entirely devoted to the Buddhist religion, represent the high point of Chinese stone
        carving. It is one of the world's premier sites for Chinese Buddhist artwork and stone craving. Spanning both sides
        of the Yi River, the complex features niches and caves carved directly into the cliff faces along the banks. There
        are about 2,100 grottoes and niches, over 40 crematory urns, 3,600 inscribed stone tablets and over 100,000 Buddhist
        images and statues. The huge statue of Vairocana Buddha is today praised as being the quintessence of Buddhist sculpture
        in China. The Longmen Grottoes are of great value in world sculpture history and have been listed in the World Cultural
        Heritage Site by UNESCO.
      </p>
    </div>
  </div>
  <!--End location 13-->

  <!--location 14-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Hanging Monastery
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/HangingMonastery.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Perched precariously halfway up a cliff some 75 meters (246 feet) above the ground, the Hanging Monastery is one of the most
        remarkable sights in China. It stands at the foot of Mt. Hengshan, 5 kilometers (3 miles) south of Hunyuan County.
        Since it hangs on the west cliff of Jinxia Gorge more than 50 meters above the ground, it is called Hanging Monastery.
        The temple was constructed by drilling holes into the cliffside into which the poles that hold up the temples are
        set. Clinging to a crag of Hengshan Mountain, in apparent defiance of gravity, it consists of 40 rooms linked by
        a dizzying maze of passageways. Apart from being an architectural marvel, the Hanging Monastery is also a unique
        structure from a religious point of view. Interestingly the temple is dedicated to not just one religion, but three,
        with Confucianism, Taoism and Buddhism all practiced within the temple and represented in 78 statues and carvings
        throughout the temple.
      </p>
    </div>
  </div>
  <!--End location 14-->

  <!--location 15-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Reed Flute Cave
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/ReedFluteCave.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The Reed Flute Cave is a brilliant cave marked on almost all travel itineraries known as “the Palace of Natural Arts”, located
        in the northwest of Guilin in southern China. The cave got its name from the verdant reeds growing outside it, with
        which people make flutes. Inside this water-eroded cave, there is a spectacular world of various stalactites, stone
        pillars and rock formations created by carbonate deposition. The limestone cave offers a majestic fairyland of stalactites,
        stalagmites, stone pillars, stone curtains, birds, plants and animals in fantastic shapes and colors. Illuminated
        by colored lighting, the fantastic spectacle is found in many variations along this 240-meter-long cave. Walking
        through the serried stone pillars, tourists feast their eyes on changing spots, feeling they are in a paradise where
        the Gods live. It's a pleasure to listen to romantic or fairy tales whilst appreciating the fantastic stone formations.
        Both the stories and the lighting add mystery to the scene. A park is built for the Reed Flute Cave with zigzag path,
        elegant pavilions, ponds, bridges, plants and other garden structures.
      </p>
    </div>
  </div>
  <!--End location 15-->

  <!--location 16-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Summer Palace
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/SummerPalace.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Located in northwest Beijing, the Summer Palace was once a playground for China’s imperial families who wanted to escape
        Beijing’s summer heat. According to historical documents, with original name as 'Qingyi Garden' (Garden of Clear
        Ripples), the Summer Palace (Yiheyuan) was renamed after its first reconstruction in 1888. It is one of the finest
        examples of garden architecture in China. It is designed around Kunming Lake and Longevity Hill as the key features,
        modeled on West Lake in Hangzhou, and draws from design techniques and artistic conception of gardens from the south
        of China. This large landscaped and well-preserved garden is known as the Chinese imperial garden museum. The natural
        landscape of hills and open water is combined with artificial features such as pavilions, halls, palaces, temples
        and bridges to form a harmonious ensemble of outstanding aesthetic value. The palace occupies a total area of 290
        hectares, three quarters of which is made up of shallow lakes. It is ranked amongst the World Heritage Sites by UNESCO
        in 1998, as well as one of the first national tourist spots in China. Ticket is required for entering here.
      </p>
    </div>
  </div>
  <!--End location 16-->

  <!--location 17-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Jiuzhaigou
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/Jiuzhaigou.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Jiuzhaigou is a picturesque fairyland, featuring charming natural scenery of colorful lakes, spectacular waterfalls, and
        mountains. Located in southwestern China, it is a nature reserve officially known as Jiuzhai Valley in English. The
        national park has been described as a fairyland because of its many waterfalls; snow-covered karst mountains, and
        its 108 blue, turquoise and green colored lakes that are so crystal clear one can see the bottoms. It is also the
        habitat of giant pandas, though the chances of seeing them are slim due to the park’s size and the number of tourists.
        Its quiet environment and fresh air attract visitors who are eager to enjoy a beautiful and natural scenic area.
        In 1992 the Jiuzhai Valley National Park was declared a UNESCO World Heritage Site, and in 1997 it was awarded the
        status of UNESCO Man and Biosphere Reserve. Since then, it has received much other well-deserved acclaim.
      </p>
    </div>
  </div>
  <!--End location 17-->

  <!--location 18-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Lama temple
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/Lamatemple.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        This is one the largest Tibetan Buddhist Lama temples in the world outside Tibet. It is spread over 66,400m² and has more
        than 1,000 temple rooms. The art and decoration in the temple is Han Chinese and Tibetan. It is an attractive complex
        of progressively larger buildings topped with ornate yellow-tiled roofs. It has five courtyards in a row. The evergreen
        pine and cypress trees make for a peaceful and secluded environment. The back structural layout is composed of a
        cluster of buildings, halls and pavilions intermingled with each other. The main structures in this Temple complex
        are: Palace of the Heavenly King, Palace of Eternal Peace (Yonghegong), Eternal Blessing Hall, the Hall of the Wheel
        of the Law and Hall of Boundless Happiness. The street outside the temple entrance heaves with shops piled high with
        statues of Buddha, talismans, Buddhist charms, incense and keepsakes, picked over by a constant stream of pilgrims.
      </p>
    </div>
  </div>
  <!--End location 18-->

  <!--location 19-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Mogao Caves
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/MogaoCaves.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The 'Caves of the Thousand Buddhas' also known as Mogao, are a magnificent treasure trove of Buddhist art. They are located
        in the desert, about 15 miles south-east of the town of Dunhuang in north western China. By the late fourth century,
        the area had become a busy desert crossroads on the caravan routes of the Silk Road linking China and the West. Traders,
        pilgrims and other travellers stopped at the oasis town to secure provisions, pray for the journey ahead or give
        thanks for their survival. Records state that in 366 monks carved the first caves into the cliff stretching about
        1 mile along the Daquan River. The caves may also be known as the Dunhuang Caves. Travelers along the ancient Silk
        Road will definitely want to stop at Dunhuang for a visit to the Mogao Caves, which are representative of early Buddhist
        cave art. Unlike the Yungang Caves, which featured Buddhas carved into hillsides, the Mogao Grottoes mostly feature
        murals painted on cave walls. Some of the paintings date back to the fourth century. At one time, there were more
        than 1,000 cave temples.
      </p>
    </div>
  </div>
  <!--End location 19-->

  <!--location 20-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Suzhou Gardens & Canals
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/SuzhouGardensCanals.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Suzhou is a picturesque city located on the Grand Canal about 65 km (40 miles) from Shanghai. It is famous for its silks,
        the canals that run through the city, and for its classical gardens with their fish ponds and rockeries. Suzhou has
        about 80 classical gardens; the Humble Administrator’s Garden is among the most famous. A canal boat ride is a good
        way to experience the exquisiteness of Suzhou.
        <br/>
        <br/> The Highlights of Suzhou
        <br/>
        <b>Classic Gardens:</b>
        <br/>The classic gardens flourished in the mid-Ming to early-Qing dynasties (1500–1700). Most gardens are private ones
        built by aristocrats, scholars, and rich businessmen. Today, more than 60 classic gardens remain in the city, nine
        of which have been listed as World Heritage, including the Humble Administrator's Garden, Lingering Garden, and Net
        Master's Garden.
        <br/>
        <br/>
        <b>Water Towns:</b>
        <br/>With the Yangtze River flowing through the city's north boundary, and the Grand Canal running down from north to
        south, Suzhou is rich in canals, and is called "the World's Oriental Venice".The water towns of Suzhou are crisscrossed
        by canals, rivers, and bridges. Old buildings and streets are built along the waterways. Many of them are still preserved
        well, reflecting old China. You can walk along lanes and bridges, or take a boat to appreciate ancient architecture
        and the beautiful canal scenery.
        <br/>
        <br/>
        <b>Kun Opera:</b>
        <br/>Suzhou is the hometown of Kun Opera one of the oldest forms of Chinese opera. It was listed as one of the Masterpieces
        of Oral and Intangible Heritage of Humanity by UNESCO in 2001. It perfectly blends dramatic literature, soulful singing,
        and elegant dancing.The best place to watch a Kun Opera performance and learn about Kun Opera is Suzhou Opera Museum.
        <br/>
        <br/>


      </p>
    </div>
  </div>
  <!--End location 20-->

  <!--location 21-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Pudong Skyline
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/PudongSkyline.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Pudong is a district in Shanghai on the eastern side of the Huangpu River that has emerged as China’s financial and commercial
        hub. A skyline of gleaming skyscrapers rises out of what was mere farmland only 20 years ago. Skyscrapers includes
        the symbolic Oriental Pearl Tower, the Shanghai World Financial Center, the Jin Mao Building and the Shanghai Tower
        that was finished in 2014. The Chinese are proud of the Oriental Tower. After all, this building is the tallest in
        Asia and the 3rd place tallest tower worldwide. The Jin Mao Building is the home of a 5-star hotel boasting 555 rooms
        with sceneries that take you higher than the ground level. The Shanghai Hotel claims to be the highest hotel worldwide.
        It boasts of having the world’s longest laundry tube, the highest swimming pool, and has the highest night club (incidentally
        called “Cloud 9”).
      </p>
    </div>
  </div>
</div>