<div class="destination-content">
  <div class="destination-image">

    <!--<img src="assets/images/destinations/bangladesh/nilachol.jpg" class="img-responsive wp-post-image"  alt="">-->
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[0]" alt="Random first slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[1]" alt="Random second slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[2]" alt="Random third slide">

      </ng-template>
    </ngb-carousel>
  </div>
  <div class="destination-title">
    Kolkata
  </div>
  <p>
    Kolkata (formerly Calcutta) is the capital of India's West Bengal state. Founded as an East India Company trading post, it
    was India's capital under the British Raj from 1773–1911. Today it’s known for its grand colonial architecture, art galleries
    and cultural festivals. It’s also home to Mother House, headquarters of the Missionaries of Charity, founded by Mother
    Teresa, whose tomb is on site.
  </p>

  <!--location 1-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Victoria Memorial
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/VictoriaMemorial.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Victoria Memorial, built in the memory of Queen Victoria, is situated in Kolkata, the capital city of West Bengal. The foundation
        stone of the memorial was laid down in the year 1906, by the 'Prince of Wales'. Apart from being a memorial, the
        monument was intended to serve as a tribute to the success of the British Empire in India. Lord Curzon was the one
        who envisaged the main idea of the erection of the Victoria Memorial Hall, which was to serve as the architectural
        culmination of the Kolkata city.
        <br/>
        <br/> Even the classical style of the monument was specified by Lord Curzon, the then Viceroy. However, it was Sir William
        Emerson, a renowned architect, who laid down by the actual plan of the memorial. The design of the structure represents
        an amazing fusion of British and Mughal architecture. White Makrana marbles were used in the construction of Victoria
        Memorial Hall and the building was inaugurated in the year 1921. The massive hall is 338 by 228 feet and rises to
        a height of 184 feet.
        <br/>
        <br/> A very interesting fact related to the memorial is that money of the British government was not used in its construction
        at all. Rather, the British Indian states, along with the individuals who wanted some favors from the British government,
        were the main contributors towards the cost of building the Victoria Memorial Hall, which came to somewhere around
        10 million. The memorial is massive in its size and stands enclosed within blooming gardens that spread over to an
        area of 64 acres.
        <br/>
        <br/> The top of the memorial stands adorned with a sixteen-foot tall bronze statue of Victoria. It is mounted on ball
        bearings and rotates with the wind. Presently, the Victoria Memorial houses a museum, where one finds an amazing
        compilation of the memorabilia of Victoria, paintings of British rule and other exhibits. The collection includes
        weapons, sculptors, paintings, maps, coins, stamps, artifacts, textiles, etc. The Royal gallery of the Victoria Memorial
        houses some splendid portraits of Queen Victoria and Prince Albert.
        <br/>
        <br/> Then, there are a number of paintings that illustrate the life of the Queen. However, the most remarkable painting
        is the one made by the Russian artist, Vasseli Verestchagin. He has portrayed the scene of the state entry of Prince
        of Wales in Jaipur, in 1876. After India gained independence in the year 1947, certain additions were made to the
        Victoria Memorial. These additions comprised of National Leader's Gallery, containing the portraits and relics of
        the freedom fighters. One must visit the memorial at night, when it is beautifully illuminated.
        <br/>
        <br/>
      </p>
    </div>
  </div>
  <!--End location 1-->

  <!--location 2-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      The Indian Museum
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/TheIndianMuseum.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The Indian Museum is the largest and oldest museum in India and has rare collections of antiques, armour and ornaments, fossils,
        skeletons, mummies, and Mughal paintings. It was founded by the Asiatic Society of Bengal in Kolkata (Calcutta),
        India, in 1814. The founder curator was Nathaniel Wallich, a Danish botanist.
        <br/>
        <br/> It has six sections comprising thirty five galleries of cultural and scientific artifacts namely Art, Archaeology,
        Anthropology, Geology, Zoology and Economic Botany. At present, it includes six cultural and scientific sections,
        viz. Art, Archaeology, Anthropology, Geology, Zoology and economic botany, with a number of galleries under each
        section. Many rare and unique specimens, both Indian and Trans-Indian, relating to humanities and natural sciences,
        are preserved and displayed in the galleries of these sections. the administrative control of the Cultural sections,
        viz. Art, Archaeology and Anthropology rests with the Board of Trustees under its Directorate, and that of the three
        other science sections is with the geological survey of India, the zoological survey of India and the Botanical survey
        of India. The museum Directorate has eight co-ordinating service units: Education, Preservation, publication, presentation,
        photography, medical, modeling and library. This multipurpose Institution with multidisciplinary activities is being
        included as an Institute of national importance in the seventh schedule of the Constitution of India. It is one of
        oldest museums in the world. This is an autonomous organization under Ministry of Culture, Government of India. The
        present Director of the Indian Museum is B. Venugopal. The museum was closed to visitors due to massive restoration
        and upgrades from 1 September 2013 to 3 February 2014.
        <br/>
        <br/>

      </p>
    </div>
  </div>
  <!--End location 2-->

  <!--location 3-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Science City
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/ScienceCity.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Science City, Kolkata is the largest science centre in the Indian subcontinent under National Council of Science Museums
        (NCSM), Ministry of Culture, Government of India, is at the crossing of Eastern Metropolitan Bypass and J B S Haldane
        avenue, Kolkata. It is considered by some people as the most distinguished landmark in post-independence Kolkata.
        Saroj Ghose, the first director general of NCSM, who is credited with having conceptualized this centre in 1997.
        This centre was inaugurated by two parts: the ‘Convention Centre Complex’ was unveiled on 21 December 1996 by Paul
        Jozef Crutzen in presence of the then chief minister Jyoti Basu and the whole centre was opened by the then prime
        minister Inder Kumar Gujral on 1 July 1997. On 10 January 2010, prime minister of India, Manmohan Singh laid the
        foundation stone for the second phase of Science City in presence of the then chief minister of West Bengal, Buddhadeb
        Bhattacharjee.
      </p>
    </div>
  </div>
  <!--End location 3-->

  <!--location 4-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Marble House
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/MarbleHouse.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Marble Palace is a palatial nineteenth-century mansion in North Kolkata. It is located at 46, Muktaram Babu Street, Kolkata
        700007. It is one of the best-preserved and most elegant houses of nineteenth-century Calcutta. The mansion is famous
        for its marble walls, floors, and sculptures, from which it derives its name.
      </p>
    </div>
  </div>
  <!--End location 4-->

  <!--location 5-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Jorasanko Thakur Bari
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/JorasankoThakurBari.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Jorasanko Thakur Bari in Jorasanko, north of Kolkata, West Bengal, India, is the ancestral home of the Tagore family. It
        is currently located on the Rabindra Bharati University campus at 6/4 Dwarakanath Tagore Lane Jorasanko, Kolkata
        700007. It is the house in which the poet and first non-European Nobel laureate, Rabindranath Tagore was born. It
        is also the place where he spent most of his childhood and died on 7 August 1941.
      </p>
    </div>
  </div>
  <!--End location 5-->

  <!--location 6-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      College Street
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/CollegeStreet.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        College Street is lined by many of Kolkata’s academic institutions: the University of Calcutta, Sanskrit College, Presidency
        University, the Medical College of Kolkata, to name a few. When these institutions were established in the 19th century,
        they turned the stretch of road between Mahatma Gandhi Road crossing and Bowbazar crossing into a veritable haven
        for the city’s intelligentsia.
        <br/>
        <br/> One of the literati staples on College Street is the famed Indian Coffee House, which has seen notable Indian writers
        such as the likes of Rabindranath Tagore and Satyajit Ray stop in for a cup of chai, a samosa, and the weekly gossip.
        <br/>
        <br/> College Street’s main draw is that it boasts a collection of almost every single title to ever have been sold in
        Kolkata. Rare books are sold at dirt cheap prices, and extensive bargaining is the order of the day.

      </p>
    </div>
  </div>
  <!--End location 6-->

  <!--location 7-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Birla Planetarium
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/BirlaPlanetarium.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The Birla Planetarium in Kolkata, West Bengal, India, is a single-storeyed circular structure designed in the typical Indian
        style, whose architecture is loosely styled on the Buddhist Stupa at Sanchi. Situated at Chowringhee Road adjacent
        to the Victoria Memorial, St. Paul's Cathedral, and the Maidan in South Kolkata, it is the largest planetarium in
        Asia and the second largest planetarium in the world. There are two other Birla Planetariums in India: B.M. Birla
        Planetarium in Chennai and the Birla Planetarium in Hyderabad.
        <br/>
        <br/> Popularly known as taramandal, the planetarium was inaugurated on 2 July 1963 by the then Prime Minister of India,
        Jawaharlal Nehru. It has an electronics laboratory for design and fabrication of science equipment. It has an astronomy
        gallery that maintains a huge collection of fine paintings and celestial models of renowned astronomers. The Planetarium
        also has an astronomical observatory equipped with a Celestron C-14 Telescope with accessories such as ST6 CCD camera
        and solar filter. It offers to the public and students more than 100 astronomical projects dealing with various facts
        of astronomy, astro-physics, Space Science as well as myths concerning stars and planets.

      </p>
    </div>
  </div>
  <!--End location 7-->

  <!--location 8-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Fort William
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/FortWilliam.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Fort William is a fort built in Calcutta (presently Kolkata) on the eastern banks of the River Hooghly, the major distributory
        of the River Ganges, during the early years of the Bengal Presidency of British India. It was named after King William
        III of England and Ireland and II of Scotland.[1] In front of the Fort is the Maidan, which used to be a part of
        the Fort and is the largest urban park in Calcutta.
        <br/>
        <br/> The Fort is built of brick and mortar in the shape of an irregular octagon with an area 5 km². Five of its sides
        face landward, and three towards the Hooghly River. The design is that of a star fort, suited to defence against
        cannon firing slid shot,and dates from before the advent of explosive shells. A dry moat 9 m deep and 15 m broad
        surrounds the fort. The moat can be flooded but is designed as an area in which to use enfilade (or "flanking") fire
        against any attackers reaching the walls. There are six gates: Chowringhee, Plassey, Calcutta, Water Gate, St Georges
        and the Treasury Gate. There are similar forts at places like Thalassery in Kerala.[2] It has a 9-hole golf course
        currently.

      </p>
    </div>
  </div>
  <!--End location 8-->

  <!--location 9-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      St. Paul's Cathedral
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/StPaulCathedral.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        St. Paul's Cathedral is an CNI, Church of North India Cathedral of Anglican background in Kolkata, West Bengal, India, noted
        for its Gothic architecture. It is the seat of the Diocese of Calcutta. The cornerstone was laid in 1839; the building
        was completed in 1847.[1] It is said to be the largest cathedral in Kolkata and the first Episcopal Church in Asia.
        It was also the first cathedral built in the overseas territory of the British Empire. The edifice stands on Cathedral
        Road on the "island of attractions" to provide for more space for the growing population of the European community
        in Calcutta in the 1800s.
        <br/>
        <br/> Following the 1897 earthquake and the subsequent massive earthquake of 1934, when Calcutta suffered substantial
        damage, the cathedral was reconstructed to a revised design. The architectural design of the cathedral is "Indo-Gothic",
        a Gothic architectural style designed to meet the climatic conditions of India. The cathedral complex has a library,
        situated over the western porch, and a display of Plastic art forms and memorabilia.
        <br/>
        <br/> Apart from that of Bishop Daniel Wilson, the founder of the cathedral, the other notable burial in the church is
        that of John Paxton Norman, an acting Chief Justice who was assassinated in 1871.

      </p>
    </div>
  </div>
  <!--End location 9-->

  <!--location 10-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Prinsep Ghat
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/PrinsepGhat.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Prinsep Ghat is a ghat built in 1841 during the British Raj, along the Kolkata bank of the Hooghly River in India. The Palladian
        porch in the memory of the eminent Anglo-Indian scholar and antiquary James Prinsep was designed by W. Fitzgerald
        and constructed in 1843.
        <br/>
        <br/> Located between the Water Gate and the St George's Gate of the Fort William, the monument to Prinsep is rich in
        Greek and Gothic inlays. It was restored by the state's public works department in November 2001 and has since been
        well-maintained. In its initial years, all royal British entourages used the Prinsep Ghat jetty for embarkation and
        disembarkation.
        <br/>
        <br/> Prinsep Ghat is one of the oldest recreational spots of Kolkata. People visit it in the evenings on weekends to
        go boating on the river, stroll along the bank and purchase food from stalls there. One stall selling ice-cream and
        fast food has been there for more than 40 years. A 2-kilometre (1.2 mi) stretch of the beautified riverfront from
        Princep Ghat to Babughat (Baje Kadamtala Ghat) was inaugurated on 24 May 2012. It has illuminated and landscaped
        gardens and pathways, fountains, and renovated ghats. One of the songs in the Bollywood film Parineeta was shot here
        on the ghats.
        <br/>
        <br/>

      </p>
    </div>
  </div>
  <!--End location 10-->

  <!--location 11-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Eden Gardens
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/EdenGardens.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Eden Gardens is a cricket ground in Kolkata, India established in 1864. It is the home venue of the Bengal cricket team and
        the IPL franchise cricket team Kolkata Knight Riders, and is also a venue for Test, ODI and T20I matches of the India
        national cricket team. With a seating capacity of 66,349, it is the largest cricket stadium in India, and the second-largest
        cricket stadium in the world.
        <br/>
        <br/> Eden Gardens is often regarded informally as India's home of cricket. The ground has been referred to as "cricket's
        answer to the Colosseum," and is widely acknowledged to be one of the most iconic cricket stadiums in the world.[6]
        Eden Gardens has hosted matches in major international competitions including the World Cup, World Twenty20 and Asia
        Cup. In 1987, Eden Gardens became the second stadium to host a World Cup final. The 2016 ICC World Twenty20 final
        was held at the Eden Gardens where the West Indies beat England in closely fought encounter.
        <br/>
        <br/> Eden Gardens has also occasionally been used for Association football matches.

      </p>
    </div>
  </div>
  <!--End location 11-->

  <!--location 12-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Bidhan Shava
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/BidhanShava.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The West Bengal Legislative Assembly is the unicameral legislature of the Indian state of West Bengal. It is housed in the
        B.B.D. Bagh area of Kolkata (Calcutta)-the capital of the state. Members of the Legislative assembly are directly
        elected by the people. The legislative assembly comprises 295 Members of Legislative Assembly, which include 294
        members directly elected from single-seat constituencies and one nominated from the Anglo-Indian community. Its term
        is five years, unless sooner dissolved.

      </p>
    </div>
  </div>
  <!--End location 12-->

  <!--location 13-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Writer’s Building
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/WriterBuilding.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The Writers' Building often shortened to just Writers', is the secretariat building of the State Government of West Bengal
        in India.[1] It is located in West Bengal's capital city of Kolkata. It housed the office of the Chief Minister of
        West Bengal until 4 October 2013. Now most of the departments have moved out to another building named Nabanna in
        Howrah on a temporary basis for facilitating renovation of the Writers'.
        <br/>
        <br/> This originally served as the office for writers of the British East India Company, hence the name. Designed by
        Thomas Lyon in 1777, the Writers' Building has gone through several extensions over the years.
        <br/>
        <br/> In 1821 a 128 ft-long verandah with Ionic columns, each 32 ft high, were added on the first and second floors. From
        1889 to 1906 two new blocks were added, approached by iron staircases that are still in use. Writers' acquired its
        Greco-Roman look, complete with the portico in the central bay and the red surface of exposed brick. The parapet
        was put in place and the statues sculpted by William Fredric Woodington in 1883, that line the terrace, were installed.
        <br/>
        <br/>

      </p>
    </div>
  </div>
  <!--End location 13-->

  <!--location 14-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Dakshineswar Temple
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/DakshineswarTemple.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        This Temple is a Hindu temple located in Dakshineswar near Kolkata. Situated on the eastern bank of the Hooghly River, the
        presiding deity of the temple is Bhavatarini, an aspect of Kali, meaning, 'She who liberates Her devotees from the
        ocean of existence i.e. Saṃsāra'. The temple was built in 1855 by Rani Rashmoni, a philanthropist and a devotee of
        Kali. The temple is famous for its association with Ramakrishna, a mystic of 19th Century Bengal.
        <br/>
        <br/> The temple compound, apart from the nine-spired main temple, contains a large courtyard surrounding the temple,
        with rooms along the boundary walls. There are twelve shrines dedicated to Shiva—Kali's companion—along the riverfront,
        a temple to Radha-Krishna, a bathing ghat on the river, a shrine dedicated to Rani Rashmoni. 'Nahavat-Khana', the
        chamber in the northwestern corner just beyond the last of the Shiva temples, is where Ramakrishna spent a considerable
        part of his life.
        <br/>
        <br/>

      </p>
    </div>
  </div>
  <!--End location 14-->

  <!--location 15-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Kalighat Temple
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/KalighatTemple.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Kalighat Kali Temple is a Hindu temple in West Bengal, India dedicated to the Hindu goddess Kali. It is one of the 51 Shakti
        Peethas.
        <br/>
        <br/> Kalighat was a Ghat (landing stage) sacred to Kali on the old course of the Hooghly river (Bhāgirathi) in the city
        of Calcutta. The name Calcutta is said to have been derived from the word Kalighat. The river over a period of time
        has moved away from the temple. The temple is now on the banks of a small canal called Adi Ganga which connects to
        the Hoogly. The Adi Ganga was the original course of the river Hoogly. Hence the name Adi (original) Ganga.
        <br/>
        <br/>

      </p>
    </div>
  </div>
  <!--End location 15-->

  <!--location 16-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Howrah Bridge
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/HowrahBridge.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Howrah Bridge is a bridge with a suspended span over the Hooghly River in West Bengal, India. Commissioned in 1943, the bridge
        was originally named the New Howrah Bridge, because it replaced a pontoon bridge at the same location linking the
        two cities of Howrah and Kolkata (Calcutta). On 14 June 1965 it was renamed Rabindra Setu after the great Bengali
        poet Rabindranath Tagore, who was the first Indian and Asian Nobel laureate. It is still popularly known as the Howrah
        Bridge.
        <br/>
        <br/> The bridge is one of four on the Hooghly River and is a famous symbol of Kolkata and West Bengal. The other bridges
        are the Vidyasagar Setu (popularly called the Second Hooghly Bridge), the Vivekananda Setu, and the newly built Nivedita
        Setu. It weathers the storms of the Bay of Bengal region, carrying a daily traffic of approximately 100,000 vehicles
        and possibly more than 150,000 pedestrians, easily making it the busiest cantilever bridge in the world. The third-longest
        cantilever bridge at the time of its construction, the Howrah Bridge is currently the sixth-longest bridge of its
        type in the world.
        <br/>
        <br/>
      </p>
    </div>
  </div>
</div>