<div class="destination-content">
  <div class="destination-image">

    <!--<img src="assets/images/destinations/bangladesh/nilachol.jpg" class="img-responsive wp-post-image"  alt="">-->
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[0]" alt="Random first slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[1]" alt="Random second slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[2]" alt="Random third slide">

      </ng-template>
    </ngb-carousel>
  </div>
  <div class="destination-title">
    Bhutan
  </div>
  <p>
    Bhutan, a Buddhist kingdom on the Himalayas’ eastern edge, is known for its monasteries, fortresses (or dzongs) and dramatic
    landscapes that range from subtropical plains to steep mountains and valleys. In the High Himalayas, peaks such as 7,326m
    Jomolhari are popular trekking destinations. Paro Taktsang monastery (also known as Tiger’s Nest) clings to cliffs above
    the forested Paro Valley.
  </p>

  <!--location 1-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Thimpu
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/Thimpu.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The capital of one of the world's most intriguing destinations, Thimphu combines a natural small-town feel with a new commercial
        exuberance that constantly challenges the country's natural conservatism and Shangri La image. Crimson-robed monks,
        government ministers clad in traditional dress and camera-wielding tourists all share pavements. Thimphu offers the
        best opportunity to briefly break away from the tour itinerary. In addition to its traditional Buddhist sights and
        attractions, it offers cafes, bars, nightclubs and restaurants. Finding a balance between the esoteric and espresso
        – the old and the new – is the key to getting the most out of this charming city.
      </p>
    </div>
  </div>
  <!--End location 1-->
  <!--location 2-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Buddha Dordenma Statue, Thimpu
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/BuddhaDordenmaStatue.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        he Buddha Dordenma is located atop a hill in Kuenselphodrang Nature Park and overlooks the Southern entrance to Thimphu Valley.
        The statue fulfills an ancient prophecy dating back to the 8th century A.D that was discovered by Terton Pema Lingpa
        and is said to emanate an aura of peace and happiness to the entire world. This massive statue of Shakyamuni measures
        in at a height of 51.5 meters, making it one of the largest statues of Buddha in the world. The statue is made of
        bronze and is gilded in gold. The throne that the Buddha Dordenma sits upon is a large meditation hall.
      </p>
    </div>
  </div>
  <!--End location 2-->
  <!--location 3-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Tashichho dzong, Thimpu
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/Tashichhodzong.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The dzong is located close to Thimphu town, next to the banks of the Wangchhu River. It is an impressively large structure,
        surrounded by well-kept lawns and beautiful gardens. It was first constructed in 1216 A.D. by Lama Gyalwa Lhanangpa
        where Dechen Phodrang now stands above Thimphu. In 1641 Zhabdrung Ngawang Namgyal acquired it but finding it too
        small, he built another one, known as the lower Dzong. The original dzong was destroyed by fire in 1771 and everything
        was moved to the lower dzong. The new building was later expanded several times over the years.
      </p>
    </div>
  </div>
  <!--End location 3-->
  <!--location 4-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Simtokha Dzong, Thimpu
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/SimtokhaDzong.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The name Simtokha literally means “Atop a Demon” and the legend associated with the dzong’s construction tells us that it
        was built in order to subdue an evil spirit that was harassing travelers in the region. The dzong houses countless
        statues and paintings of various Buddhas, deities and religious figures including The Eight Manifestations of Guru
        Rimpoche, Jampelyang the Bodhisattava of Wisdom, Shakya Gyalpo the Buddha of Compassion and many more, all carved
        and painted in exquisite detail.
      </p>
    </div>
  </div>
  <!--End location 4-->
  <!--location 5-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Kings Memorial Chorten, Thimpu
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/KingsMemorialChorten.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        It is a monument to the Third Druk Gyalpo and to World Peace. The chorten is a large white structure crowned with a golden
        spire. It is located close to the center of Thimphu city and is one of its most iconic monuments. Visitors will find
        elderly Bhutanese people circumambulating the Chorten throughout the day. Chorten literally means ‘Seat of Faith’
        and Buddhists often call such monuments, the ‘Mind of Buddha’. The chorten is an extraordinary example of Buddhist
        architecture and artwork with its gorgeous paintings and intricate sculptures.
      </p>
    </div>
  </div>
  <!--End location 5-->
  <!--location 6-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Paro
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/Paro.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Paro valley extends from the confluence of the Paro Chhu and the Wang Chhu rivers at Chuzom upto Mt. Jomolhari at the Tibetan
        border to the North. This picturesque region is one of the widest valleys in the kingdom and is covered in fertile
        rice fields and has a beautiful, crystalline river meandering down the valley. Accentuating the natural beauty are
        the many elegant, traditional-style houses that dot the valley and surrounding hills. Paro town has been growing
        rapidly in recent years and there are plenty of restaurants, bakeries and cafes to choose from.
      </p>
    </div>
  </div>
  <!--End location 6-->
  <!--location 7-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Takshang Monastery/Tiger's Nest, Paro
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/TakshangMonastery.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Taktsang Monastery is located approximately 10 km north of Paro town at an altitude of 3.120 meters. In order to arrive at
        the temple visitors must trek for around 2-3 hours through beautiful, shady pine forests. No trip to Bhutan would
        be complete without a visit to this remarkable heritage site. Taktsang Monastery is Bhutan’s most iconic landmark
        and religious site. The name Taktsang translates to “The Tiger’s Nest”. This temple is one of the most holy sites
        in the kingdom and clings impossibly to a sheer cliff face 900 hundred meters above the Paro Valley.
      </p>
    </div>
  </div>
  <!--End location 7-->
  <!--location 8-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Kyichu Monastery, Paro
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/KyichuMonastery.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Kyichu Monastery, is an important Himalayan Buddhist temple situated in Lango Gewog of Paro District in Bhutan. This is one
        of the oldest and most beautiful temples in Bhutan. The temple is popularly believed to have been built in 659 by
        King Songtsen Gampo of Tibet, to pin down the left foot of a giant ogress who was thwarting the establishment of
        Buddhism into Tibet. Additional buildings and a golden roof were constructed in 1839 by the penlop (governor) of
        Paro and the 25th Je Khenpo. Elderly pilgrims constantly walk around the temple spinning its many prayer wheels.
      </p>
    </div>
  </div>
  <!--End location 8-->
  <!--location 9-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Chele La Pass, Paro
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/CheleLaPass.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Chele La Pass lies at a dizzying 3 988 metres (13 084 feet) above sea level. This is one of the highest vantage points in
        Bhutan, from which you can marvel at commanding views of the surrounding snow-capped mountains and valleys while
        the Himalayan yaks grazing in the horizon, dotted with electricity pylons. A 2-hour drive from Paro takes you to
        one of the highest vantage points, Chele La Pass. A botanical paradise, you’ll also be able to spot sacred mountains
        Jomolhari and Jichu Drake as cascades of wild roses, purple and yellow primulas and swathes of deep blue iris drape
        the forest floor.
      </p>
    </div>
  </div>
  <!--End location 9-->
  <!--location 10-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Paro dzong, Paro
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/Parodzong.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Paro dzong is also known as Rinchen Pung Dzong or Ringpung Dzong in short. It is located in Paro and serves as a residence
        for the monastic body, district government offices and local judicial court as well. Paro dzong is one of the sightseeing
        places in Paro. One of the finest examples of Bhutanese architecture, the massive fortress and monastery offers spectacular
        views of the Paro Valley. To enter the dzong, you have to pass through a traditional covered bridge. The dzong is
        also the venue of the annual Paro Tshechu Festival.
      </p>
    </div>
  </div>
  <!--End location 10-->
  <!--location 11-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Airport View Point, Paro
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/AirportViewPoint.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The international airport of Bhutan is among the top 10 most stunning and beautiful airports in the world. It is also counted
        among the 10 most challenging airports in the world, that only 8 pilots are certified to land the flights here. The
        surrounding peaks as high as 5000 m makes it a bit of challenge, and yet Paro airport is something you should eye
        for. Getting mesmerised every second with the view of vibrant green valley with gushing sound of Paro river below,
        stunning blue sky above, and high mountains around the Paro valley makes it an enchanting picture. Don’t miss the
        sight of departing flights which in itself is an experience.
      </p>
    </div>
  </div>
  <!--End location 11-->
  <!--location 12-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Museum, Paro
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/MuseumParo.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The Museum is located on the hill behind the Paro Dzong. Housed in a 17th century watch tower, it has a unique character
        and beautiful panoramic views over Paro Valley. Opened in 1968, its collection of fine arts, paintings and bronzes
        are famous. There are also textiles, jewellery, and handicrafts sections as well as galleries of stuffed animals
        and butterflies from Bhutan. The stamps’ hall is very popular and displays, among others, 3-D stamps, record stamps,
        silken stamps, embossed stamps and the famous triangular stamp depicting the yeti. The top floor of the Museum is
        a chapel containing a “tree” depicting the main figures of the four religious schools of Tibetan Buddhism.
      </p>
    </div>
  </div>
  <!--End location 12-->
  <!--location 13-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Punakha
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/Punakha.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Punakha Dzongkhag has been inextricably linked with momentous occasions in Bhutanese history. The former capital, Punakha
        was built as a defensive stronghold in the 17th century. Punakha valley has a pleasant climate with warm winters
        and hot summers. It is located at an average elevation of 1200 meters above sea level. Owing to the favorable climatic
        conditions, rice grows very well in this region and is the main cash crop cultivated here.
      </p>
    </div>
  </div>
  <!--End location 13-->
  <!--location 14-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Dzong, Punakha
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/DzongPunakha.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The country's most idyllic dzong is situated at the confluence of two rivers. Breathtaking from outside and rewarding inside
        with rich wall paintings and friendly local monks. Reached by crossing the 3,116 metre Dochu La, the fertile valley
        floor is the winter home of the country’s largest monk body and produces a wide variety of fruits and vegetables
        which you won’t see anywhere else in the country.
      </p>
    </div>
  </div>
  <!--End location 14-->
  <!--location 15-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Suspension Bridge, Punakha
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/SuspensionBridgePunakha.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Behind Punakha Dzong stretches the Punakha Suspension Bridge, the longest of it's kind in Bhutan. The bridge connects the
        dzong with the village on the other bank of the Po Chhu river, Shengana, Samdingkha and Wangkha, where traces of
        the local stories, monasteries and marking on rocks. In these small villages, locals sells their wares in tiny, traditional
        shops. Visitors can stop here for a quick and authentic view of true vutan. In order to across the suspension bridge
        from the dzong, one must walk past the King's palace and the cremation ground.
      </p>
    </div>
  </div>
  <!--End location 15-->
  <!--location 16-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Dochu La Pass, Punakha
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/DochuLaPass.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Dochula pass is located on the way to Punakha from Thimphu. The pass is a popular location among tourists as it offers a
        stunning 360 degree panoramic view of Himalayan mountain range. The view is especially scenic on clear, winter days
        with snowcapped mountains forming a majestic backdrop to the tranquility of the 108 chortens gracing the mountain
        pass. Bhutanese families enjoy visiting the pass during holidays and weekends to picnic and simply enjoy the scenery.
        It is common to see families and groups of friends seated amongst the chortens. For tourists this is ideal location
        to capture beautiful pictures of Himalayan mountain range during clear, warm days.
      </p>
    </div>
  </div>
</div>