<div class="destination-content">
  <div class="destination-image">

    <!--<img src="assets/images/destinations/bangladesh/nilachol.jpg" class="img-responsive wp-post-image"  alt="">-->
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[0]" alt="Random first slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[1]" alt="Random second slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[2]" alt="Random third slide">

      </ng-template>
    </ngb-carousel>
  </div>
  <div class="destination-title">
    Cherrapunjee
  </div>

  <p>
    Cherrapunjee, also known as Sohra, is a high-altitude town in the northeast Indian state of Meghalaya. It's known for its
    living root bridges, made from rubber trees. To the northeast, Mawkdok Dympep Valley View Point overlooks verdant gorges.
    In the surrounding hills, the Noh-Kalikai, Dain-Thlen and Kynrem waterfalls plunge from forested clifftops. South of
    town, Mawsmai Cave is illuminated to show its stalagmites.
  </p>

  <!--location 1-->
  <div class="row row-location">
    
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/SevenSistersFalls.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Seven Sisters Falls
          </div>
      <p>
        Located just 1 kilometer south of Mawsmai village in East Khasi Hills district in the Indian state of Meghalaya, the Seven
        Sisters Falls have the reputation of being the fourth highest waterfalls in India. Also known as Nohsngithiang Falls,
        they form a seven-segmented waterfall, which plunges over the top of limestone cliffs of the Khasi Hills. The falls
        only flow during the rainy season. The vibrant colors of the setting sun make for a great sight.
      </p>
    </div>
  </div>
  <!--End location 1-->

  <!--location 2-->
  <div class="row row-location">
    
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/Nohkalikai.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Nohkalikai
          </div>
      <p>
        One of the most photogenic waterfalls in India, Nohkalikai in Meghalaya is the fifth highest waterfall in India. Nohkalikai,
        which means means ‘Ka Likai’s Leap’ in Khasi language, is located about seven km away from Cherrapunji, the second
        wettest place on the planet. Water plunges from a height of 1,100 ft uninterrupted from the highest point to the
        foot of the falls making it a spectacular site. The force of water has carved a waterhole which remains blue in the
        winter and turns green in the summer months. The flow of water is profuse in summer while the flow recedes in the
        winter to a small stream giving the impression of a white rope against the green forest.
      </p>
    </div>
  </div>
  <!--End location 2-->

  <!--location 3-->
  <div class="row row-location">
    
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/ThangkharangPark.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Thangkharang Park
          </div>
      <p>
        Thangkharang Park is located 12 km from the city. Overlooking the Kynrem Falls, the park is located on the edge of a cliff.
        The 180 degree view of the Bangladesh plains is beautiful. So are the views of the majestic hills and the seventh
        highest waterfalls, the Kynrem Falls. Yet another view that captivates your attention is the Khoh Ramhah rock. The
        rock is of single formation and it looks like an overturned basket of giant size and hence called Giant Basket. The
        play area here keeps the kids entertained.
      </p>
    </div>
  </div>
  <!--End location 3-->

  <!--location 4-->
  <div class="row row-location">
    
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/MawsmaiCave.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Mawsmai Cave
          </div>
      <p>
        Like almost everything else, does nature have a dark side too? Yes, you might wonder when you visit Mawsmai Cave gives you
        a thrilling experience exploring in darkness not knowing for how long you had been crawling, squeezing and trying
        not to get hit on the head as in some places the roof level is lower. There is a light system though, may be it fails
        occasionally. However, it should add more magic to your exploration. When lit, you could enjoy the minute details
        of the cave, details of the formation of rocks and their patterns. A complete work of nature indeed and hence Mawsmai
        Cave needs to be visited on your tour to Cherrapunji.
      </p>
    </div>
  </div>
  <!--End location 4-->

  <!--location 5-->
  <div class="row row-location">
    
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/Mawsynram.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Mawsynram
          </div>
      <p>
        Currently the wettest place on earth (tough competition with Cherrapunjee), Mawsynram receives 12m of rain annually. The
        generosity of Mother Nature can be easily seen and experienced with the fresh air, blue skies waterfalls and lush
        greenery.
      </p>
    </div>
  </div>
  <!--End location 5-->

  <!--location 6-->
  <div class="row row-location">
    
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/CherapunjeeEcoPark.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Cherapunjee Eco Park
          </div>
      <p>
        Created in the plateaus of Meghalaya by the state government, it is a great attraction for locals as well as tourists. The
        Shillong Agri-Hoticulture has given this park many beautiful orchids which are housed in the Eco Park’s green house.
        <br/> The Eco park's biggest USP is the view point from where one can enjoy views of the massive, plain yet exotic Sylhet
        Plains of Bangladesh.
      </p>
    </div>
  </div>
  <!--End location 6-->

  <!--location 7-->
  <div class="row row-location">
    
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/RamakrishnaMission.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Ramakrishna Mission
          </div>
      <p>
        There is a special performance known as Shad Suk Mynsiem or 'Dance of the Joyous Heart' organized here during the month of
        April which one should try not to miss. It was established in 1939.
      </p>
    </div>
  </div>
  <!--End location 7-->

  <!--location 8-->
  <div class="row row-location">
   
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/MawkdokValley.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
        <div class="location-title">
            Mawkdok Valley
          </div>
      <p>
        The Mawkdok Valley, located at the very start of Sohra tourist circuit, is one of the most prominent attractions of the place.
        The forest department has made a view-point at this valley from where tourists can enjoy and appreciate the natural
        beauty of the valley.however, one has to walk down a number of steps t reach the same.
        <br/> Most Tourists get the first view of the Mawkdok Valley, which extends right up to Cherrapunji, from this view point.
        Getting a clear view is a matter of chance as mostly it is obscured by clouds.
      </p>
    </div>
  </div>
</div>