<div class="container-fluid my-3 p-0">
  <img class="event-image" src="assets/images/events/events-2.jpg" alt="Card image cap">
  <div class="section-title">CEREMONIES</div>
</div>
<div class="container">
  <p>
    i Tours Ltd. arranges different types of events like weeding, birthday party, family days understanding the customers need.
    We talk to our customers directly and try to flourish all their desires that they want to have in the event. So that
    they can feel that it is their event and everything is designed only for them.
  </p>
  <div class="event-service-title">
    Our services :
  </div>
  <div class="event-services">
    <ul>
      <li>Hall decoration</li>
      <li>Gateway decoration</li>
      <li>Car decoration</li>
      <li>Candle decoration</li>
      <li>Balloon decoration</li>
      <li>Room decoration</li>
      <li>Traditional decoration</li>
      <li>Artists</li>
      <li>Photography and Cinematography</li>
      <li>Arrange Cakes based on program</li>
      <li>Catering Service</li>
      <li>Snacks items</li>
      <li>Supply of birth day accessories</li>
      <li>Sound System</li>
      <li>Fireworks</li>
    </ul>
  </div>
</div>
<footer-section></footer-section>