<div class="destination-content">
    <div class="destination-image">

        <!--<img src="assets/images/destinations/bangladesh/nilachol.jpg" class="img-responsive wp-post-image"  alt="">-->
        <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
            <ng-template ngbSlide>
                <img class="carousel-image" [src]="images[0]" alt="Random first slide">

            </ng-template>
            <ng-template ngbSlide>
                <img class="carousel-image" [src]="images[1]" alt="Random second slide">

            </ng-template>
            <ng-template ngbSlide>
                <img class="carousel-image" [src]="images[2]" alt="Random third slide">

            </ng-template>
        </ngb-carousel>
    </div>
    <div class="destination-title">
        Simla
    </div>
    <p>
        Simla is the capital of the northern Indian state of Himachal Pradesh, in the Himalayan foothills. Once the summer capital
        of British India, it remains the terminus of the narrow-gauge Kalka-Shimla Railway, completed in 1903. It’s also
        known for the handicraft shops that line The Mall, a pedestrian avenue, as well as the Lakkar Bazaar, a market specializing
        in wooden toys and crafts.
    </p>

    <!--location 1-->
    <div class="row row-location">
        <div class="col-md-12 location-title">
            Christ Church Simla
        </div>
        <div class="col-md-4 location-image">
            <img src="assets/images/destinations/india/ChristChurchSimla.jpg" class="img-responsive wp-post-image" alt="">
        </div>
        <div class="col-md-8 location-text">
            <p>
                Second oldest Church in North India, Christ Church is the star attraction of Shimla. It was built back in 1884 by Colonel
                J.T. Boileau. Earlier, the church served the large Anglican British community when Shimla was a British town.
                The church has witnessed a number of changes which Shimla faced through the years.
                <br/>
                <br/> The architecture of the church takes an inspiration from the Neo-Gothic style. The windows of the church
                form its key feature. The church has five glass windows which allure people from different communities to
                visit here and have a glimpse of their beauty. Every window of the church is known to present different virtues
                of Christianity including faith, hope, charity, fortitude, patience and humility.

            </p>
        </div>
    </div>
    <!--End location 1-->

    <!--location 2-->
    <div class="row row-location">
        <div class="col-md-12 location-title">
            Indian Institute of Advanced Study
        </div>
        <div class="col-md-4 location-image">
            <img src="assets/images/destinations/india/IndianInstituteofAdvancedStudy.jpg" class="img-responsive wp-post-image" alt="">
        </div>
        <div class="col-md-8 location-text">
            <p>
                Originally, IIAS structure was built as home for Lord Duffrin, who was the Viceroy of India during 1884 and 1888. The place
                has witnessed major historic decisions including Shimla Conference (1945) and the Separation of Pakistan
                and East Pakistan (1947). After independence, the building was renamed as ‘Rashtrapati Nivas’. It was used
                as a summer retreat by the President of India. Later, it was converted into a research centre for Indian
                culture, religion, humanities and social and natural sciences.
                <br/>
                <br/> The star attraction of the institute is the teak-paneled interiors. The interiors of the institute are immensely
                beautiful and unique. The entrance portico, grand staircase, the reception hall and fireplace are the other
                attractions of the institute. The Indian Institute of Advanced Study is a must visit for photographers and
                history buffs.

            </p>
        </div>
    </div>
    <!--End location 2-->

    <!--location 3-->
    <div class="row row-location">
        <div class="col-md-12 location-title">
            Sankat Mochan Temple
        </div>
        <div class="col-md-4 location-image">
            <img src="assets/images/destinations/india/SankatMochanTemple.jpg" class="img-responsive wp-post-image" alt="">
        </div>
        <div class="col-md-8 location-text">
            <p>
                An initiative by Baba Neeb KaroriJi Maharaj, the Sankat Mochan temple is one of the most popular religious attractions in
                Shimla that not only brings pilgrims in abundance, but also tourists of all age groups. Near about 5 km from
                Shimla, the Sankat Mochan temple has made its placement amidst the lush green forests of a tranquil topography.
                Named after one of the synonyms of Lord Hanuman, the charming temple complex houses various small temples
                of Lord Rama, Hanuman, Shiva and the creator Baba Neeb KaroriJi himself.
                <br/>
                <br/> The best thing about Sankat Mochan temple is the meditative atmosphere that gets heavenly due to the emerald
                meadows in the surroundings and the majestic mountains in the back. For the convenience of tourists, serious
                efforts have been pulled in maintaining the cleanliness of the premises. In addition, pilgrims are even offered
                Prasad, which is also known as Langar at a huge hall in the temple complex. Besides, it also has an Ayurvedic
                clinic for the tourists traveling here.

            </p>
        </div>
    </div>
    <!--End location 3-->

    <!--location 4-->
    <div class="row row-location">
        <div class="col-md-12 location-title">
            Jakhu Temple
        </div>
        <div class="col-md-4 location-image">
            <img src="assets/images/destinations/india/JakhuTemple.jpg" class="img-responsive wp-post-image" alt="">
        </div>
        <div class="col-md-8 location-text">
            <p>
                Jakhu temple is located at the highest peak of Shimla, at the height of 8000 feet above sea level. The temple is infused
                with purity, peace and tranquility. This temple is dedicated to Lord Hanuman and mythology behind Jakhu temple
                is Lord Hanuman stopped over for a while, on his way to search for SanjivaniBooti for Lord Lakshman. The
                temple is also houses the world’s largest statue of Lord Hanuman; this gigantic statue has a height of 108
                feet.
                <br/>
                <br/> The temple is not only attracts Hindu followers, but a large numbers of monkeys as well. These monkeys are
                usually well behaving and mean no harm to the pilgrims; unless they are teased. Jakhu temple has inscribed
                sculptures of gods, females in welcoming posture and diyas, on the pillars and walls. It is said that ringing
                the bell of this temple brings upon luck for at least following three days. Spending some time at the holy
                hill-top which is generously surrounded by deodar and alpine trees, coos of beautiful bird and nerve soothing
                breeze can be more than mere retreat.

            </p>
        </div>
    </div>
    <!--End location 4-->

    <!--location 5-->
    <div class="row row-location">
        <div class="col-md-12 location-title">
            Scandal Point
        </div>
        <div class="col-md-4 location-image">
            <img src="assets/images/destinations/india/ScandalPoint.jpg" class="img-responsive wp-post-image" alt="">
        </div>
        <div class="col-md-8 location-text">
            <p>
                One of the most popular tourist attractions of Shimla, Scandal Point is the intersection between The Mall and The Ridge.
                This is the point where the end of the Mall Road joins the Ridge. The very name given to this placed adds
                a tint of mystery to it. It has been named so after a romantic folklore. The story says that during the British
                Era in 1892, Bhupinder Singh, the Maharaja of Patalia fell in love with the daughter of the viceroy. It is
                believed that the king and viceroy’s daughter eloped from this point, way back in 1892. Therefore, he was
                banned from entering Shimla. Later on, he founded the new summer capital of Chail for himself, which is around
                45 km from Shimla. The intersection between the Mall and the Ridge from where they eloped was named Scandal
                Point.
                <br/>
                <br/> There is a statue of Indian freedom fighter Lala Lajapat Rai’s statue placed at the intersection today.
                Scandal Point is surrounded by numerous shops and restaurants. One can also enjoy horse-riding around the
                area, or can simply relax amid the soaring Himalayas while admiring the mesmerizing views. This area is often
                flocked with tourists, as Shimla is a year-round magnet. This popular tourist spot of Shimla is now a landmark
                too. Visit this place during any time of the year.

            </p>
        </div>
    </div>
</div>