<div class="container my-3 p-0">
  <div class="section-title">WHY-US</div>

  <div class="row my-3">
    <p>
      iTours Ltd. has a good reputation for taking care of its customers
      extremely well. This builds a strong friendly relationship with its
      clients &amp; makes them keep coming back to deal more. Its experienced
      &amp; enthusiastic team is ready to give any kind of related support to
      its customers any time.
    </p>
    <p>
      Let’s have a look at the tools how we, the i Tours Ltd. team, serve our
      honorable guests.
    </p>

    <ul class="why-us-content">
      <li>
        <span class="why-us-content-point">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Our Experience:
        </span>
        Through over four years of experience we have learnt consistently how to
        take of the guests within &amp; outside of an event. Arranging over 100
        tours around Bangladesh, India, Nepal &amp; Bhutan we have taught
        ourselves about a customer’s needs, likes, dislikes etc. Through this
        time we developed ourselves as a team &amp; this team is always prepared
        to serve its customers.
      </li>
      <li>
        <span class="why-us-content-point">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Quality:
        </span>
        Throughout our journey we always considered quality as the first
        priority. It is our best strength. We never compromise on the standard
        of our service. The accommodation, food, transportation, everything we
        provide, we maintain quality, hygiene &amp; comfort.
      </li>
      <li>
        <span class="why-us-content-point">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Security:
        </span>
        Security is our highest priority while travelling outside or organizing
        an event. We provide a security person with our guests in a tour &amp;
        maintain all security issues for a program. In terms of foreign guests
        we always take the help from law enforcement team like ‘Tourist Police’
        while taking them to a tour.
      </li>
      <li>
        <span class="why-us-content-point">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Cost
          Effectiveness:
        </span>
        In terms of pricing, we can guarantee the best service within a minimum
        price to our clients. Our goal is to satisfy our customers &amp; through
        this more sale. We do not go for an irrational price because we believe
        in a permanent relationship with our clients.
      </li>
      <li>
        <span class="why-us-content-point">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Commitment:
        </span>
        Our team is committed to provide all the support for any event. We
        provide an expert operator to every tour we arrange. Our customers get
        any help from their travel guide if they need while travelling.
        Moreover, we have a suggestion &amp; complaint booth where customers can
        put their opinions if there is any mismanagement or improvement
        suggestions. We are committed to take those suggestions very seriously
        and improve ourselves.
      </li>
      <li>
        <span class="why-us-content-point">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Our Approach:
        </span>
        When we approach our clients we always consider a few things. We try to
        study their tastes, requirements regarding an event. We respectfully
        enlist their requirements, budget &amp; other variables for the event
        and make a best possible package for them considering those variables.
        While approaching, we always give priority to our customers’ demand and
        that is what makes a sweet bonding with them at a first approach.
      </li>
      <li>
        <span class="why-us-content-point">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Our Support:
        </span>
        As mentioned earlier, we provide any kind of travel and event related
        support to our respected clients. They can directly contact us in person
        or visit our website for any information.
      </li>
    </ul>
  </div>
</div>
