@import '../../containers/index/index.component.scss';

.section-title {
  padding-top: 70px;
}
.why-us-content {
  list-style: none;
  & li {
    padding-bottom: 20px;
  }
  &-point {
    font-size: 22px;
  }
}
