<div>
  <nav class="navbar navbar-expand-md navbar-light bg-transparent" #stickyMenu [class.sticky]="sticky">
    <a class="navbar-brand navbar-link custom-brand" routerLink="/">
      <img class="company-logo" src="assets/images/logo.jpg" alt="logo">
    </a>
    <!-- <a class="navbar-brand" href="#">Carousel</a> -->
    <button class="navbar-toggler" (click)="toggleCollapse()" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarCollapse" [class.show]="show">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link sliding-middle-out" routerLink="/why-us">WHY US</a>
        </li>
        <li ngbDropdown placement="bottom-left" class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle sliding-middle-out" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">PACKAGES</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/dashboard/users/profile" (click)="toggleCollapse()">
              DOMESTIC</a>
            <a class="dropdown-item" routerLink="/dashboard/users/changePassword" (click)="toggleCollapse()">
              INDIA</a>
            <a class="dropdown-item">
              NEPAL</a>
          </div>
        </li>
        <li ngbDropdown placement="bottom-left" class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle sliding-middle-out" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">EVENT MANAGEMENT</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown02">
            <a class="dropdown-item" routerLink="/event/corporate" (click)="toggleCollapse()">
              CORPORATE EVENTS</a>
            <a class="dropdown-item" routerLink="/event/brand" (click)="toggleCollapse()">
              BRAND PROMOTION</a>
            <a class="dropdown-item" routerLink="/event/ceremonies" (click)="toggleCollapse()">
              CEREMONIES</a>
            <a class="dropdown-item" routerLink="/event/artist" (click)="toggleCollapse()">
              ARTIST MANAGEMENT</a>
            <a class="dropdown-item" routerLink="/event/exhibition" (click)="toggleCollapse()">
              EXIBITION</a>
            <a class="dropdown-item" routerLink="/event/photography" (click)="toggleCollapse()">
              PHOTOGRAPHY</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link sliding-middle-out" href="#">HOTELS
          </a>
        </li>
        <li ngbDropdown placement="bottom-left" class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle sliding-middle-out" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">TRANSPORT</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown03">
            <a class="dropdown-item" routerLink="/dashboard/users/profile" (click)="toggleCollapse()">
              BUS</a>
            <a class="dropdown-item" routerLink="/dashboard/users/changePassword" (click)="toggleCollapse()">
              SHIP</a>
          </div>
        </li>
        <li ngbDropdown placement="bottom-left" class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle sliding-middle-out" id="dropdown04" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">DESTINATIONS</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" routerLink="/dashboard/users/profile" (click)="toggleCollapse()">
              BANGLADESH</a>
            <a class="dropdown-item" routerLink="/dashboard/users/changePassword" (click)="toggleCollapse()">
              INDIA</a>
            <a class="dropdown-item">
              NEPAL</a>
            <a class="dropdown-item">
              BHUTAN</a>
            <a class="dropdown-item">
              THAILAND</a>
            <a class="dropdown-item">
              MALAYSIA</a>
            <a class="dropdown-item">
              MALDIVES</a>
            <a class="dropdown-item">
              SRILANKA</a>
            <a class="dropdown-item">
              CHINA</a>
            <a class="dropdown-item">
              INDONESIA</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link sliding-middle-out" href="#">GALLERY
          </a>
        </li>
        <li ngbDropdown placement="bottom-left" class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle sliding-middle-out" id="dropdown05" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">CONTACT US</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown05">
            <a class="dropdown-item" routerLink="/dashboard/users/profile" (click)="toggleCollapse()">
              ADDRESS</a>
            <a class="dropdown-item" routerLink="/dashboard/users/changePassword" (click)="toggleCollapse()">
              LOGIN</a>
            <a class="dropdown-item">
              ABOUT US</a>
            <a class="dropdown-item">
              FEEDBACK</a>
            <a class="dropdown-item">
              FAQ</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link sliding-middle-out" href="#">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link sliding-middle-out" href="#">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link sliding-middle-out" href="#">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
        </li>

      </ul>
    </div>
  </nav>
</div>