<navbar></navbar>
<div class="container my-3 p-0">
  <div class="section-title">FAQ</div>

  <div class="faq-c">
    <div class="faq-q">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      What is i Tours Ltd?
    </div>
    <div class="faq-a">
      <p>
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        i Tours Ltd is a leading tour & event organizing company in Bangladesh. It goes with the motto ‘Execellent Experience’. It
        mailnly arranges corporate tours, international tours, family & honeymoon tours and all kinds of corporate & personal
        events.
      </p>
    </div>
  </div>

  <div class="faq-c">
    <div class="faq-q">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      What are the places do you arrange tours?
    </div>
    <div class="faq-a">
      <p>
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        We arrange tours all over Bangladesh and also in India, Nepal & Bhutan
      </p>
    </div>
  </div>
  <div class="faq-c">
    <div class="faq-q">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      Who are your targeted customers?
    </div>
    <div class="faq-a">
      <p>
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        Our main targeted clients are corporate ones and students from variours universities of Bangladesh. The honourable teachers
        and their families of the universities are also our prime guests. Moreover, we would like to invite foreign guests
        to explore the home country.
      </p>
    </div>
  </div>
  <div class="faq-c">
    <div class="faq-q">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      What main features do you provide in your packages?
    </div>
    <div class="faq-a">
      <p>
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        We provide everything that can be needed for a tour. It includes transportation, meal, accommodation, visiting costs etc.
      </p>
    </div>
  </div>
  <div class="faq-c">
    <div class="faq-q">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      What are the particular destinations of India where you arrange tours?
    </div>
    <div class="faq-a">
      <p>
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        We mainly focus on northern and eastern of India. It includes Kolkata, Delhi, Agra, Jaipur, Ajmer, Kashmir, Simla, Manali,
        Darjeeling, Assam, Meghalaya etc.
      </p>
    </div>
  </div>
  <div class="faq-c">
    <div class="faq-q">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      What kind visa assistance do you provide?
    </div>
    <div class="faq-a">
      <p>
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        Our package always includes visa fee in it. We fill up the tourist visa form for traveling India and transit visa form for
        visiting Nepal & Bhutan.
      </p>
    </div>
  </div>
  <div class="faq-c">
    <div class="faq-q">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      Do you sell internal route train tickets for India form Bangladesh?
    </div>
    <div class="faq-a">
      <p>
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        Yes. We do. Clients can get internal route train tickets for India from us if available.
      </p>
    </div>
  </div>
  <div class="faq-c">
    <div class="faq-q">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      Do your packages include air traveling for abroad tours?
    </div>
    <div class="faq-a">
      <p>
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        Initially, all our packages given on the website are for bus & train journey. But we can include air facililities if customer
        wants.
      </p>
    </div>
  </div>
  <div class="faq-c">
    <div class="faq-q">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      Do you Provide guides with a tour?
    </div>
    <div class="faq-a">
      <p>
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        Yes we do provide guides for our tours.
      </p>
    </div>
  </div>
  <div class="faq-c">
    <div class="faq-q">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      What are your Payment systems?
    </div>
    <div class="faq-a">
      <p>
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        Mailnly we encourage hand cash payment at our office. But we receive payment in our bank account & merchant Bkash account.
      </p>
    </div>
  </div>
  <div class="faq-c">
    <div class="faq-q">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      Do you have any local office besides Dhaka?
    </div>
    <div class="faq-a">
      <p>
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        No. We have only one office at Dhaka. The location is is given on the first page of the website.
      </p>
    </div>
  </div>
  <div class="faq-c">
    <div class="faq-q">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      Do you provide only hotels for the guests?
    </div>
    <div class="faq-a">
      <p>
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        Yes. There is a menu on our website named as ‘Hotels’ that leads to another link which is our hote booking concern.
      </p>
    </div>
  </div>
  <div class="faq-c">
    <div class="faq-q">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      What kind of food do you provide during a tour?
    </div>
    <div class="faq-a">
      <p>
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        We mailnly try to provide traditional food for a particular area while visiting there. We aslo prioritize guests’ choices
        while making a menu
      </p>
    </div>
  </div>
  <div class="faq-c">
    <div class="faq-q">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      Do you take all responsibilities for arranging an event?
    </div>
    <div class="faq-a">
      <p>
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        We take all responsibilities for a event. It ranges from food to transportation to cultural progam to security issues etc.
      </p>
    </div>
  </div>
</div>
<footer-section></footer-section>
<!-- <footer></footer> -->