<div class="destination-content">
  <div class="destination-image">

    <!--<img src="assets/images/destinations/bangladesh/nilachol.jpg" class="img-responsive wp-post-image"  alt="">-->
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[0]" alt="Random first slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[1]" alt="Random second slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[2]" alt="Random third slide">

      </ng-template>
    </ngb-carousel>
  </div>
  <div class="destination-title">
    Indonesia
  </div>
  <p>
    Indonesia, a Southeast Asian nation made up of thousands of volcanic islands, is home to hundreds of ethnic groups speaking
    many different languages. It’s known for beaches, volcanoes, Komodo dragons and jungles sheltering elephants, orangutans
    and tigers. On the island of Java lies Indonesia's vibrant, sprawling capital, Jakarta, and the city of Yogyakarta, known
    for gamelan music and traditional puppetry.
  </p>

  <!--location 1-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Borobudur
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/Borobudur.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Borobudur is the 9th-century Mahayana Buddhist temple in Magelang, Central Java, Indonesia, as well as the world's largest
        Buddhist temple. Borobudur is a unique temple located in an elevated area between two twin volcanoes. The Borobudur
        Temple Compounds consists of three monuments: namely the Borobudur Temple and two smaller temples situated to the
        east on a straight axis to Borobudur. The vertical division of Borobudur Temple into base, body, and superstructure
        perfectly accords with the conception of the Universe in Buddhist cosmology.
        <br/>
        <br/> Attractions:

        <br/> -Selogriyo Temple (Sacred & Religious Sites)
        <br/> -Javalestari Tour - Day Tours
        <br/> -Chicken Church
        <br/> -Rhema Hill, Setumbu hill & Sukmojoyo Hill
        <br/> -Pawon temple (drinking Luwak coffee)
        <br/> -Candirejo Village
        <br/> -Limanjawi art house & Burned painting
        <br/> -Reptile Rescue Borobudur
        <br/> -Padma Spa
        <br/> -Javanava travel cafe
        <br/>

      </p>
    </div>
  </div>
  <!--End location 1-->

  <!--location 2-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Bali and nearby popular attractions
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/Baliandnearbypopularattractions.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Bali is an island and province of Indonesia. The province includes the island of Bali and a few smaller neighboring islands.
        Bali is a beautiful island blessed by the unique local cultures, hospitality of the people, strong customs, religions
        and stunning panoramas. From this fact, Bali has a very strong appeal for everyone to visit the island and make this
        island as the most tourist destinations in the world. Bali is also undoubtedly one of the world's most well-known
        tourism treasures. Balinese never fail to welcome visitors with warm and genuine smiles. Bali Island is well known
        as an island of the god, Thousand of Temple or Heaven Island and a lot of name given by people in the world who have
        ever been in Bali.
        <br/>
        <br/> Attractions:

        <br/> -Tanah lot temple, Uluwatu temple, Taman ayun temple, Tirta Empul temple, Batun temple, Ulun danu temple, Alas Kedaton
        temple, Goa Gajah Temple, Goa Lawah Temple, Gunung Kawi Temple, Besakih temple
        <br/> -Tegalalang Rice Terrace, Jatiluwih Rice terrace, Pupuan Rice Terrace, Bukit Jambul Rice Terrace
        <br/> -Nusa Dua beach, Menjangan Island, Kuta Beach, Soka Beach, Lovina Beach, Dream land Beach, Medewi Beach, Bloo Lagoon
        Beach, Jimbaran Bay Beach, Padang Padang beach, Legian Beach, Seminyak Beach, Sanur Beach, 10 hidde Beach
        <br/> -Ubud Monkey Forest, Ubud Royal Palace, Ubud Art Market, Bali Museum, Mount Batur, Bali Safari and Marine Park
        <br/> -Waterboom bali, Splash waterpaark Bali, Circus Waterpark, Surf and Turf Beach club, Armada Flow House Bali
        <br/>

      </p>
    </div>
  </div>
  <!--End location 2-->

  <!--location 3-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Tanah Lot
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/TanahLot.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The temple is located in the Beraban village of the Tabanan regency, an approximate 20km northwest of Kuta, and is included
        on most tours to Bali’s western and central regions. Tanah lot is the Island temple with water views in Bali. Tanah
        Lot Temple is one of Bali’s most important landmarks, famed for its unique offshore setting and sunset backdrops.
        An ancient Hindu shrine perched on top of an outcrop amidst constantly crashing waves. Tanah Lot Temple is simply
        among Bali’s not-to-be-missed icons.
        <br/>
        <br/> Attractions:
        <br/> -Penataran Temple
        <br/> -Penyawang Temple
        <br/> -Jero Kandang Temple
        <br/> -Enjung Galuh Temple
        <br/> -Batu Bolong
        <br/> -Batu Mejan Temple
        <br/> -Tri Antaka Monument
        <br/> -Pakendungan Temple
        <br/>

      </p>
    </div>
  </div>
  <!--End location 3-->

  <!--location 4-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Mount Bromo
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/MountBromo.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Mount Bromo is a spectacular Volcano mountain in Indonesia. Mount Bromo is a part of the Bromo Tengger Semeru National Park
        that covers a massive area of 800 square km. From a vantage point on Mount Penanjakan (2,770 meters above sea level),
        2.5 hours from Malang. visitors from around the world come to see the sunrise over Mt Bromo. The eerie landscape
        has spurned countless legends and myths. Mt Bromo has particular significance for the Tengger people who believe
        that this was the site where a brave prince sacrificed his life for his family. The people here appease the Gods
        once a year during the annual Kasada festival where offerings of vegetables, chickens and money are thrown into the
        crater of the volcano.
        <br/>
        <br/> Attractions:
        <br/> -Reog Tengger: MYSTICAL DANCE OF THE TENGGERESE ON MOUNT BROMO
        <br/> -Madakaripura waterfall
        <br/> -Yadnya Kasada ceremony: is a festival held every 14th day of the Kasada Month in the traditional Hindu lunar calendar
        <br/> -Ngadas village
        <br/>

      </p>
    </div>
  </div>
  <!--End location 4-->

  <!--location 5-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Ubud Monkey Forest
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/UbudMonkeyForest.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The Sacred Monkey Forest Sanctuary (Monkey Forest Ubud) area is built around the middle of the 14th century. When the kingdoms
        in Bali were ruled by Dynasty of Pejeng or can also be said about the beginning of Gelgel Dynasty. The Ubud Monkey
        Forest is a nature reserve and Hindu temple complex in Ubud, Bali, Indonesia. Its official name is the Sacred Monkey
        Forest Sanctuary. The Sacred Monkey Forest Sanctuary (Monkey Forest Ubud) is not just a tourist attractions or important
        component in the spiritual and economic life of the local community, but also an important spot for research and
        conservation programs. The Monkey Forest is usually in sacred village areas, often surrounded by temples. These cultural
        sanctuaries are not only an important part of Balinese heritage, but also an important part of everyday live. The
        Sacred Monkey Forest Sanctuary, in conjunction with Udayana University in Denpasar have identified 115 separate species
        of trees.
        <br/>
        <br/> Attractions:
        <br/> -Puri Saren Royal Palace
        <br/> -Blanco Renaissance Museum
        <br/> -Agung Rai Museum of art
        <br/> -Campuhan Ridge Walk
        <br/> -Setia Darma House of Masks
        <br/> -Tegenungan waterfall
        <br/>

      </p>
    </div>
  </div>
  <!--End location 5-->

  <!--location 6-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Lake Toba
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/LakeToba.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Lake Toba is a large natural lake occupying the caldera of a super volcano. The lake is about 100 kilometers long, 30 kilometers
        wide, and up to 505 meters deep. Danau Toba is the largest volcanic lake in Indonesia, even in the Southeast Asia.
        It formed by a gigantic volcanic eruption some 70,000 years ago; it is probably the largest resurgent caldera on
        Earth. Danau Toba has been part of traveler folklore for decades. This grand ocean-blue lake, found high up among
        Sumatra’s volcanic peaks, is where the amiable Christian Batak people reside. The secret of this almost mythical
        place was opened up to travelers by the intrepid, and Tuk Tuk – the village on the lake’s inner island – is still
        one of the undisputed highlights of Sumatra. Directly facing Parapat is another peninsula occupied by the village
        of Tuk Tuk, which has Samosir’s greatest concentration of tourist facilities. Tomok, a few kilometers south of Tuk
        Tuk, is the main village on the east coast of the island.
        <br/>
        <br/> Attractions:

        <br/> -Ancient Batak village, Batak museum, Traditional Batak Dance and Music
        <br/> -Tomb of King Sidabutar
        <br/> -Gunung Sibayak
        <br/> -Sipiso-piso waterfall, the highest plunge waterfall in Indonesia at 120m.
        <br/> -Samosir Island
        <br/>

      </p>
    </div>
  </div>
  <!--End location 6-->

  <!--location 7-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Mount Batur
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/MountBatur.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Mount Batur is an active volcano located at the center of two concentric calderas North West of Mount Agung on the island
        of Bali, Indonesia. Mount Batur is one of Bali’s most sacred mountains to experience spectacular views of the sun
        bursting onto the horizon. From the mount Batur , the batur lake can be seen and enjoyed. The serenity with fresh
        environment makes the tour very enchanted for the travelers who like hiking.
        <br/>
        <br/> Attractions:
        <br/> -Sekumpul Waterfalls
        <br/> -Trekking and experiencing the sunrise
        <br/>

      </p>
    </div>
  </div>
  <!--End location 7-->

  <!--location 8-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Bali Safari and Marine Park
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/BaliSafariandMarinePark.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Bali Safari and Marine Park, or Taman Safari III is a branch of Taman Safari located in Gianyar, Bali. Other than the name
        suggests, it is not a real Safari, but an open Zoo with imported animals from different Continental. Bali safari
        and marine park is the home of hundreds of amazing animals representing over 60 species, including some rare and
        endangered species such as the Komodo, Orang Utan, and the Bali Mynah. At Bali Safari & Marine Park, tourists can
        choose to enjoy the safari journey with Safari Tram or from the elephant back with Elephant Back Safari, interact
        with favorite animal up close at the Animal Encounter space, experience the wildest fine dining moment surrounded
        by lions, meerkats, and porcupines at the Tsavo Lion Restaurant, and unwind with the spectacular shows of Bali Agung
        or Kecak Masterpiece at the state of art theater in the park, Bali Theater or make their own big splash at Water
        Park and Fun Zone.Another uplifting program has been added to enhance the existing Night Safari package and make
        this fun excursion much more memorable.
        <br/>
        <br/> Attractions:

        <br/> -The Water Park at Bali Safari and Marine Park
        <br/> -The Elephant Show at Bali Safari and Marine Park
        <br/> -Animal Education Show at Bali Safari and Marine Park
        <br/> -Dine with the King of the Jungle
        <br/> -Hop on to a Day Safari Journey bus ride
        <br/> -Be caged in a den of tigers
        <br/> -Revel in the unfolding drama at the legendary Agung Show
        <br/> -Watch the piranhas tear their prey apart
        <br/> -Learn how to dance like a traditional Balinese
        <br/> -Dine next to mini rice paddy fields – Uma Restaurant
        <br/>

      </p>
    </div>
  </div>
  <!--End location 8-->

  <!--location 9-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Komodo national park
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/Komodonationalpark.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Komodo National Park is located in the center of the Indonesian archipelago, between the islands of Sumbawa and Flores. Komodo
        national park is the only place in the entire world where Komodo Dragons exist naturally, with approximately 5700
        calling the park home. Established in 1980, the goals for the Park have expanded to protecting its entire biodiversity,
        both terrestrial and marine. Komodo National Park includes three major islands: Komodo, Rinca and Padar, as well
        as numerous smaller islands creating a total surface area. The national park also features over one thousand species
        of tropical fish, 250 species of coral and a number of rare marine animals. The three major coastal marine plants
        are algae, seagrasses and mangrove trees. The most popular activities within Komodo national park are trekking, scuba
        diving and observing the Komodo dragon. Finally, seeing the komodo dragon plays a big part in many people’s reasons
        for visiting the park.
        <br/>
        <br/> Attractions:
        <br/> -See the Komodo Dragons on komodo island, Rinca island
        <br/> -Hike Padar island and see the spectacular sunset
        <br/> -Pink beach
        <br/> -Kanawa island, Mesa Island, Gili Lawa island (Gili Laba)
        <br/> -Travel on a traditional Phinis boat
        <br/> -Melo village Manggarai culture
        <br/>

      </p>
    </div>
  </div>
  <!--End location 9-->

  <!--location 10-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Prambanan
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/Prambanan.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Candi Prambanan or Candi Rara Jonggrang, a cultural heritage of the ancient Mataram kingdom (Sailendra Dynasty, is an 9th-century
        Hindu temple compound in Central Java, Indonesia, dedicated to the Trimurti, the expression of God as the Creator,
        the Preserver and the Destroyer. Prambanan temple has 3 main temples in the main yard, namely Wisnu, Brahma, and
        Shiva Temple. The three temples are the symbol of Trimurti in Hindu belief. The three temples facing east, each main
        temple has a companion temple facing west, namely Nandini for Shiva, Goose for Brahma, and Garuda for Vishnu. For
        visitors who want to find more information about Prambanan Temple, has provided a museum located in Prambanan temple
        complex. The museum provides audio visual information on the history of the Prambanan temple until the restoration
        process is presented in full. The relief carved on Prambanan's temple wall tells the Ramayana story. There is also
        a relief Kalpataru tree, where Hindus consider the tree symbolizes sustainability, life and harmony. There are interesting
        events held every month on the full moon that is staging Ramayana Ballet. Ramayana story told in this show is a translation
        of the relief carved on the wall of Prambanan temple.
        <br/>
        <br/> Attractions:
        <br/> -Sewu temple, Plaosan temple, Ratu Boko temple, Ijo temple, Kalasan temple, The Sambisari temple
        <br/> -Taman Pintar science park, Affandi museum, Yogyakarta fortress museum
        <br/>

      </p>
    </div>
  </div>
  <!--End location 10-->

  <!--location 11-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Bunaken national park
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/Bunakennationalpark.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Bunaken National Park is a marine park in the north of Sulawesi island, Indonesia. The park is located near the centre of
        the Coral Triangle, providing habitat to 390 species of coral as well as many fish, mollusc, reptile and marine mammal
        species. Bunaken National Park is a marine park in the north of Sulawesi island, Indonesia. The park is located near
        the centre of the Coral Triangle, providing habitat to 390 species of coral as well as many fish, mollusc, reptile
        and marine mammal species. Bunaken is also one of the marine parks that have the world's highest marine biodiversity
        . Therefore, many tourists who come to visit to do diving activities in the area Bunaken. In Bunaken there are 40
        dive sites that have a variety of coral reefs and beautiful tropical sea fish. Tourists who dive in the Bunaken region
        will be treated to a view of 150 species of fish from about 58 genus of fish and coral reefs.
        <br/>
        <br/> Attractions:
        <br/> -Manado Tua National Park
        <br/> -40 diving spots in Bunaken which have various kinds of coral reefs and beautiful tropical fishes.
        <br/> -20 diving spot with various depths
        <br/>

      </p>
    </div>
  </div>
  <!--End location 11-->

  <!--location 12-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Ijen
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/Ijen.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Ijen Plateau, known as “Kawah Ijen“, is a volcano complex located in East Java and is regarded as one of the unmissable sights
        in Indonesia. Ijen is a quiet but active volcano, set amidst a stunning landscape of volcanic cones and a beautiful
        turquoise coloured sulfur lake. It is inside a larger caldera Ijen, which is about 20 kilometres wide. The Gunung
        Merapi stratovolcano is the highest point of that complex. The most spectacular thing about Ijen is that down the
        mountain there glows electric blue fire at night and it is not the lava, it is actually the light from the combustion
        of sulphuric gases and when they come in contact with the air, they ignite, sending the flames up. The highly toxic
        lake with a sunrise leaves in awe with various shades of pink and purple as a backdrop. When going there, the tourist
        need to wear gas mask to breathe into and this makes the tourist to feel like a soldier on a mission and passing
        men carrying for hours up to 90 kilos of suplhur in baskets on their shoulders in mind when planning a hike in Indonesia.
        <br/>
        <br/>
      </p>
    </div>
  </div>
  <!--End location 12-->

  <!--location 13-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Ishtiqlal Mosque, Jakarta
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/IshtiqlalMosque.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Istiqlal Mosque, or Masjid Istiqlal, in Jakarta, Indonesia is the largest mosque in Southeast Asia and the third largest
        Sunni mosque in term of capacity. The main building of this mosque consists of five floors and one ground floor.
        The mosque has a modern architectural style with marble-lined walls and floors, decorated with geometric ornaments
        of stainless steel. The main building of the mosque is crowned by a large dome of 45 meters in diameter supported
        by 12 large pillars. Besides being used as an Islamic worship activity, this mosque is also used as an office of
        various Islamic organizations in Indonesia, social activities, and general activities. The mpsque has elevator for
        the disabled and also an Islamic Library, polyclinic.
        <br/>
        <br/> Attractions:

        <br/> -Jakarta cathedral
        <br/> -National monument MONAS
        <br/> -Gambir train station
        <br/> -Jakarta arts building
        <br/> -National museum
        <br/> -Pasar BAru Jakarta
        <br/> -Immanuel church
        <br/> -Grand Indonesia mall
        <br/> -Museum Bank Indonesia
        <br/> -Taman Suropaati, Taman prasasti museum
        <br/> -Ancol dreamland
        <br/>

      </p>
    </div>
  </div>
  <!--End location 13-->

  <!--location 14-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Legian
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/Legian.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Legian is a suburban and beach area on the west coast of Bali just north of Kuta and south of Seminyak. This is a small area
        fronting the beach which stretches from Jalan Melasti (where Kuta ends on a map. Legian Beach is probably the second
        most popular area with visitors after Kuta because of its close association with beach life and its parties. Indeed,
        one of Legian’s main attractions is its extravagant nightlife. Another attraction is the white sandy beach filled
        with tanned wannabe celebrities.
        <br/>
        <br/> -Attractions:
        <br/> -Dream Museum Zone (DMZ) Bali
        <br/> -5GX Bali Reverse Bungy
        <br/> -Ground Zero Memorial
        <br/> -Legian Beach
        <br/> -Rip Curl School of Surf (Asia's leading board riding school)
        <br/> -Double Six Beach (Double Six Beach, also referred to as ‘Blue Ocean Beach’, is a half-kilometre stretch of golden-white
        sand that is part of the whole length of Seminyak Beach.)
        <br/> -Pandora Experience Bali (fun escape game adventures with its specially designed rooms in Kuta.)
        <br/> -Legian Art Markets
        <br/> -Ground Zero Memorial ( The Ground Zero monument sits on the border of Kuta and Legian, built as a permanent site
        and tribute to the fallen victims of the 2002 Legion bombing.)
        <br/>

      </p>
    </div>
  </div>
  <!--End location 14-->

  <!--location 15-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Batu secret zoo/ stone secret zoo
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/Batusecretzoo.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Batu Secret Zoo is a modern tourist and zoo located in Batu City , East Java . Batu Secret Zoo located on the land area of
        14 hectares is part of Jatim Park 2 , in addition to Tree Inn and Wildlife Museum . The design of the zoo is attractive
        and in accordance with its natural habitat to make the journey to meet the animals like an adventure into the real
        jungle! Along the zoo route, you will be treated to a variety of attractions and facilities, such as feeding the
        animals, taking pictures together, to see performances of the greatness of the inhabitants of the Stone Secret Zoo!
        <br/>
        <br/> Attractions:
        <br/> -Water park: Swimming pool with various rides always filled with cheerfulness.
        <br/> -Savanna: full of exotic animals such as deer, zebra, also gemsbok with traditional African village backdrop.
        <br/> -Baby zoo: Octopus Children can see young animals at the Baby Zoo and feed the donkeys or see the cubs are adorable.
        <br/> -Willy laro show: playing the ride
        <br/> -Safari farm: there have sealed dogs which Cleverly play ball, dance.
        <br/> -The smallest monkey: the smallest monkey in the world which will Suddenly grimace, show off his teeth, and make
        laugh amused.
        <br/>

      </p>
    </div>
  </div>
  <!--End location 15-->

  <!--location 16-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Sanur, Bali
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/SanurBali.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Sanur is a seaside town in the southeast of the island of Bali, in Indonesia. Its long stretch of beach offers shallow waters.
        Colorful jukung fishing boats rest on the sand, backed by a paved cycling path. This is a town with a wealth of cultural,
        natural and historical attractions, as well as the obvious shopping and beach-related sights. Sanur's splendid paved
        beachfront cycle-path stretches some 5 kilometres from the Jalan Mertasari area in south Sanur, north to the main
        beach at Jalan Hangtuah. This makes for a lovely scenic bike ride, especially in the early morning. The annual international
        kite festival takes place here every July.
        <br/>
        <br/> Attractions:
        <br/> -Le Mayeur museum
        <br/> -Mangrove information centre
        <br/> -Pura Blanjong (The most notable temple in Sanur which contains a major, important inscription on a stone pillar
        called the Prasati Blanjong.)
        <br/> -Serangan Island Turtle Conservation Centre
        <br/> -Diving and spas in Sanur
        <br/>

      </p>
    </div>
  </div>
  <!--End location 16-->

  <!--location 17-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Pura Ulun Danu Bratan
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/PuraUlunDanuBratan.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Pura Ulun Danu Beratan, or Pura Bratan, is a major Shaivite water temple on Bali, Indonesia. The temple complex is located
        on the shores of Lake Bratan in the mountains near Bedugul. Ulun Danu Bratan Temple is a very famous Hindu holy temple
        on the island of Bali and when Bratan lake water rises / pairs then Ulun Danu temple will look like floating on the
        water. Based on existing archaeological data and located on the front page of Ulun Danu Bedugul Temple is a relic
        of historical objects such as a sarcophagus stone and stone board which is estimated to have existed since the time
        of megalithic, about 500 years before Christ. It can be estimated that the location in Pura Ulun Danu Beratan has
        been used as a place to hold rituals since the time of megalithic tradition on the island of the gods .
        <br/>
        <br/> Complex of Pura Ulun Danu Beratan consists of 5 temples and one Buddha Stupa:
        <br/> 1. Pura Penataran Agung (This temple serves to worship the greatness of God in His manifestations as the Shiva's
        Si Purwaa)
        <br/> 2. Pura Dalem Purwa (This temple serves to worship the greatness of God in His manifestations as the Shiva's Si
        Purwaa)
        <br/> 3. Pura Taman Beji (Pura serves to perform the ceremony Ngebejiang (ceremonial ritual purification facilities),
        and to invoke Tirta (holy water).
        <br/> 4. Pura Lingga Petak (There is a sacred and sacred well that holds Tirta Ulun Danu (Ulun Danu Holy Water). In addition,
        in this temple there is also a white Linga which is flanked by red stone and black stone.)
        <br/> 5. Pura Prajapati ( Pura Prajapati is located under a large banyan tree, this temple serves as a place of goddess
        Durga.)
        <br/> 6. Buddhist Stupa (This stupa signifies alignment in religious life.)

      </p>
    </div>
  </div>
  <!--End location 17-->

  <!--location 18-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Tanjung Putting
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/TanjungPutting.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Tanjung Puting National Park is a national park in Indonesia located in the southeast part of West Kotawaringin Regency in
        the Indonesian province of Central Kalimantan. Tanjung Putting National Park is specially featured for the home for
        endangered Orangutan.
        <br/>
        <br/> There is a wide range of objects that can be visited in Tanjung Puting National Park, among others:
        <br/> 1. Cape of Good Hope, which is the first station in the orangutan visits, this location is secondary forest and
        swamp forest which is equipped with a guesthouse, an information center and road trail.
        <br/> 2. Pondok Tanggui,
        <br/> 3. Camp Pondok Ambung
        <br/> 4. Camp Leakey is an orang utan rehabilitation center that stands on an area of 45,907 Ha . Camp Leakey was originally
        a student research site from the University of Colombia.
        <br/> Tanjung Puting National Park has a miraculous ecosystem consists of lowland tropical rain forest, dry land forest,
        freshwater swamp forests, mangrove forests, coastal forests and secondary forests.
        <br/>

      </p>
    </div>
  </div>
  <!--End location 18-->

  <!--location 19-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Tana Toraja
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/TanaToraja.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Tana Toraja, the famed "Land of The Heavenly Kings", lies about 328 km north of Makassar, the capital of South Sulawesi Province,in
        the central highlands of South Sulawesi. 'Discovered' and opened to the world from their long isolation only since
        the beginning of the last century, the Toraja today still adhere to their age-old beliefs, rituals and traditions,
        although many of her people are modernized or have embraced Christianity.The nobility of Toraja are believed to be
        descendents of heavenly beings who came down by a heavenly stairway to live here on earth in this beautiful landscape.
        The highlands of Tana Toraja offer an exciting mix of culture and nature. From hiking to white water rafting on the
        Sa’dan River and delicious coffee there are lots of things to do in Tana Toraja.
        <br/>
        <br/> Unusual things done on tana toraja—
        <br/> -Lemo is a cliff funeral site 11km to the south of the provincial capital Rantepao. There are 75 niches carved into
        the walls of the cliff.
        <br/> -Londa is another Torajan burial ground, though there are actually two funeral sites at Londa.
        <br/> -Ke’te Kesu is one of the most famous tourist attractions in Tana Toraja. It is one of the best examples of a traditional
        Torajan village. The village is more than 300 years old and is classified as a UNESCO World Heritage Site.
        <br/> -There are two rivers where you can do white water rafting in the highlands of Tana Toraja. They are the Sa’dan
        and the Mai’ting.
        <br/> -Coffee from Tana Toraja is justifiably famous. The highlands offer the perfect environment to grow arabica plants
        and the crop offers some of the tastiest beans from the whole of Indonesia.
        <br/>

      </p>
    </div>
  </div>
  <!--End location 19-->

  <!--location 20-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Mount Rinjani
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/MountRinjani.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Mount Rinjani or Gunung Rinjani is an active volcano in Indonesia on the island of Lombok. A climb to the top is one of the
        most exhilarating experiences you can have in Indonesia. At 3,726 meters tall, Gunung Rinjani is the second highest
        mountain in Indonesia. Part of the famous ‘ring of fire’ this mountain also holds spiritual significance for the
        local people. It’s thought that the name Rinjani comes from an old Javanese term for ‘God’.Around the slopes of Rinjani
        there are lush forests sprinkled with waterfalls and surrounded by stunning scenery. Mt Rinjani lies within the Gunung
        Rinjani National Park. Within the mountain is a crescent shaped lake, the breathtaking Segara Anak which is about
        6km across at its widest point. This lake of sulfur is located 600 meters below the crater rim. For visitors, the
        three-day Rinjani trek route from Senaru to the crater rim, down to the Crater Lake then on to Sembalun Lawang, is
        considered one of the best treks in South East Asia. More adventurous trekkers may want to head all the way to the
        summit of the volcano. This is best reached from Sembalun Lawang and takes four days, finishing up in Senaru.
        <br/>
        <br/> Attractions:

        <br/> -Senaru village, Sembalun village, Batu Ko’ village
        <br/> -Torean village and waterfall
        <br/> -Lombok waterfalls
        <br/>
      </p>
    </div>
  </div>
  <!--End location 20-->

  <!--location 21-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Uluwatu Temple
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/UluwatuTemple.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Uluwatu Temple is a Balinese sea temple in Uluwatu. The temple is regarded as one of the sad kahyangan and is dedicated to
        Sang Hyang Widhi Wasa in his manifestation as Rudra. Pura Luhur Uluwatu is regarded as one of the six most important
        temples in Bali along with Pura Besakih. Uluwatu Temple, or Pura Luhur Uluwatu, one of six key temples believed to
        be Bali's spiritual pillars, is renowned for its magnificent location, perched on top of a steep cliff approximately
        70 metres above sea level. This temple also shares the splendid sunset backdrops as that of Tanah Lot Temple. A small
        forest lies at the front and hundreds of monkeys dwell here. They are believed to guard the temple from bad influences.
        The serpentine pathway to the temple is fortified by concrete walls on the cliff side. The Balinese Hindus believe
        that the three divine powers of Brahma, Vishnu, and Siva become one here. That belief results in making Uluwatu Temple
        a place of worship of Siva Rudra, the Balinese Hindu deity of all elements and aspects of life in the universe. Pura
        Uluwatu is also dedicated to protect Bali from evil sea spirits. Every six months according to the Balinese 210-day
        Pawukon cycle, big temple anniversary celebrations are held at the temple.
        <br/>
        <br/> Attractions:
        <br/> -Garuda Wisnu Kencana Cultural Park
        <br/> -Kecak ‘Fire Dance’
        <br/> -Suluban beach, Balangan beach, Pandawa beach, Bingin beach
        <br/> -New Kuta Golf
        <br/> -Perfume making at AYANA Resort
        <br/>

      </p>
    </div>
  </div>
  <!--End location 21-->

  <!--location 22-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Plengkung Beach/ G-land
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/PlengkungBeach.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Indonesia is most proud of the Plengkung Beach at the eastern tip of Java Island. Aside from its enchanting natural beauty,
        the long curving coast line here is recognized as one of the best surfing sites on the face of the earth. More familiarly
        known among world’s renowned international surfers as G-land, the beach, located in the Banyuwangi Regency, is a
        paradise for surfers offering some of the most outstanding waves in the world. For, Plengkung Beach is dubbed “The
        Seven Giant Waves Wonder” by international surfers for its legendary 7 rolls of waves that can reach up to 6 meters
        high. The peak of waves in Plengkung Beach occurs predominantly between the months of April to August. The vast swathe
        of white sandy beach is surrounded by pristine lush green tropical forests secluded from any hustle and bustle of
        city life.
        <br/>
        <br/> Attractions:

        <br/> -World’s best surfing sites
        <br/>

      </p>
    </div>
  </div>
  <!--End location 22-->

  <!--location 23-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Alas Purwo National Park
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/AlasPurwoNationalPark.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Covering a total area of 43,420 hectares, the Alas Purwo Park is situated on the Blambangan Peninsula in the Banyuwangi regency,
        at the southeastern-most tip of East Java, on a peninsula directly facing the island of Bali. The Park is made up
        of mangroves, savannahs, lowland monsoon forests and coral-fringed beaches. The Park is considered to have the most
        natural tropical rainforests and one of is the oldest in Indonesia. Thousands of migrating birds visit its pristine
        forests each year and turtles come to lay their eggs on its secluded beaches. According to the local legend, Alas
        Purwo was the site where the earth first emerged from the ocean. Alas Purwo is also the home of some of rare and
        endangered species. Many seeking spiritual enlightenment and mystics flock here during the month of Suro, the Javanese
        New Year. These pilgrims come to meditate in caves such as the Gua Istana (Palace Cave), Gua Putri (the Princess’s
        Cave), Gua Padepokan (the assembly house cave), and also Gua Macan (Tiger Cave). Pura GiriSelokah, a Hindu temple
        in the park, also attracts many pilgrims, especially during the Hindu sacred ritual of Pagerwesi.
        <br/>
        <br/> Attractions:

        <br/> -Gua istana cave
        <br/> -Turtle hatchery in Ngagelan
        <br/> -The mangrove forest
        <br/> -Rajegwesi village
        <br/> -Meru Bitiri National park
        <br/> -Teluk Hojau ( green bay with white sand beach)
        <br/>


      </p>
    </div>
  </div>
  <!--End location 23-->

  <!--location 24-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Pulau Merah Beach
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/PulauMerahBeach.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Pulau Merah Beach another world class surf spot is next to the G-land at Plengkung. Pulau Merah Beach is so called since
        just some 100 meters to the side of the beach is a picturesque little hilly island called Pulau Merah, that is reachable
        on foot. This is situation is similar to the location of the island of Tanah Lot to the main island of Bali. Pulau
        Merah beach was originally known as Ringin Pitu. During the explorations people will see people wearing bright green
        uniforms. These are gold miners, at a mine found near the shore. Local villagers, however, are opposed to its existence
        here since the mine pollutes the sea.
        <br/> Attractions:

        <br/> -Pura tawang alun temple (hindu temple)
        <br/> -Pancer ( the fishing village)
        <br/>

      </p>
    </div>
  </div>
</div>