<div class="container-fluid my-3 p-0">
  <div class="section-title">HOT DEALS</div>
</div>

<div class="container-fluid">


  <div class="row">

    <div #widgetsContent class="middle">
      <div class="info-widget" style="z-index: 1;">
        <div class="myCard">
          <img class="myCard-img" src="assets/images/0rome.jpg" alt="Card image cap">
          <div class="myCard-text">
            <div class="myCard-text-left">
              <div class="myCard-text-left-place">ROME</div>
              <div class="myCard-text-left-duration">3 days 4 nights</div>
            </div>
            <div class="myCard-text-right">
              <div class="myCard-text-right-text">Starts from </div>
              <div class="myCard-text-right-price">৳3500</div>
            </div>
          </div>
        </div>
      </div>
      <div class="info-widget">
        <div class="myCard">
          <img class="myCard-img" src="assets/images/0paris.jpg" alt="Card image cap">
          <div class="myCard-text">
            <div class="myCard-text-left">
              <div class="myCard-text-left-place">Paris</div>
              <div class="myCard-text-left-duration">7 days 8 nights</div>
            </div>
            <div class="myCard-text-right">
              <div class="myCard-text-right-text">Starts from </div>
              <div class="myCard-text-right-price">৳5500</div>
            </div>
          </div>
        </div>
      </div>
      <div class="info-widget">
        <div class="myCard">
          <img class="myCard-img" src="assets/images/0barcelona.jpg" alt="Card image cap">
          <div class="myCard-text">
            <div class="myCard-text-left">
              <div class="myCard-text-left-place">Barcelona</div>
              <div class="myCard-text-left-duration">9 days 10 nights</div>
            </div>
            <div class="myCard-text-right">
              <div class="myCard-text-right-text">Starts from </div>
              <div class="myCard-text-right-price">৳53500</div>
            </div>
          </div>
        </div>
      </div>
      <div class="info-widget">
        <div class="myCard">
          <img class="myCard-img" src="assets/images/0prague.jpg" alt="Card image cap">
          <div class="myCard-text">
            <div class="myCard-text-left">
              <div class="myCard-text-left-place">Prague</div>
              <div class="myCard-text-left-duration">9 days 10 nights</div>
            </div>
            <div class="myCard-text-right">
              <div class="myCard-text-right-text">Starts from </div>
              <div class="myCard-text-right-price">৳53500</div>
            </div>
          </div>
        </div>
      </div>
      <div class="info-widget">
        <div class="myCard">
          <img class="myCard-img" src="assets/images/0amsterdam.jpg" alt="Card image cap">
          <div class="myCard-text">
            <div class="myCard-text-left">
              <div class="myCard-text-left-place">Amsterdam</div>
              <div class="myCard-text-left-duration">9 days 10 nights</div>
            </div>
            <div class="myCard-text-right">
              <div class="myCard-text-right-text">Starts from </div>
              <div class="myCard-text-right-price">৳53500</div>
            </div>
          </div>
        </div>
      </div>
      <div class="info-widget">
        <div class="myCard">
          <img class="myCard-img" src="assets/images/0stuttgart.jpg" alt="Card image cap">
          <div class="myCard-text">
            <div class="myCard-text-left">
              <div class="myCard-text-left-place">Stuttgart</div>
              <div class="myCard-text-left-duration">9 days 10 nights</div>
            </div>
            <div class="myCard-text-right">
              <div class="myCard-text-right-text">Starts from </div>
              <div class="myCard-text-right-price">৳53500</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hot-button">
    <button class="hot-button-left" (click)="scrollLeft()">
      <i class="fa fa-chevron-left"></i>
    </button>

    <button class="hot-button-right" (click)="scrollRight()">
      <i class="fa fa-chevron-right"></i>
    </button>
  </div>
  <div>

  </div>

</div>
<div style="margin-top: 200px;"></div>
<!-- Floating button -->