@import '../../containers/index/index.component.scss';
.hot-deal-content-row {
  float: left;
  width: 100%;
  height: 330px;
  font-size: 0;
  overflow: hidden;
  white-space: nowrap;
}
.hot-deal-content-row::-webkit-scrollbar {
  display: none;
}
.info-widget {
  width: 25%;
  // border: 1px solid black;
  display: inline-block;
}

.middle {
  float: left;
  width: 100%;
  overflow: hidden;
  /*will change this to hidden later to deny scolling to user*/
  white-space: nowrap;
}

.hot-deals-row {
  float: left;
  margin: 0;
  width: 100%;
  height: 330px;
  font-size: 0;
  overflow: hidden;
  white-space: nowrap;
}
.myCard {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  width: 100%;
  height: 360px;
  &-img {
    width: 100%;
    height: 260px;
  }
  &-text {
    padding: 10px 10px 0 10px;
    &-left {
      width: 70%;
      display: inline-block;
      //   font-size: 30px;
      &-place {
        height: 60px;
        font-size: 20px;
        font-weight: 800;
        word-wrap: break-word;
        white-space: initial;
        text-transform: uppercase;
      }
      &-duration {
        margin-bottom: 9px;
        font-weight: 500;
        font-size: 14px;
        color: #777777;
      }
    }
    &-right {
      width: 30%;
      text-align: right;
      display: inline-block;
      font-size: 30px;
      &-text {
        font-size: 15px;
        color: grey;
      }
      &-price {
        color: #4692e7;
        font-size: 22px;
        font-weight: 800;
        line-height: 1;
      }
    }
  }
}

.hot-button {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -190px;
  margin-bottom: 0;
  &-left {
    cursor: pointer;
    position: relative;
    width: 55px;
    height: 55px;
    background-color: #4674e7;
    border-color: #4674e7;
    color: white;
    padding-top: 8px;
    font-size: 12px;
    // margin-top: -200px;
    // z-index: 1050;
    text-align: center;
  }
  &-right {
    cursor: pointer;
    float: right;
    position: relative;
    width: 55px;
    height: 55px;
    background-color: #4674e7;
    border-color: #4674e7;
    color: white;
    padding-top: 8px;
    font-size: 12px;
    // margin-top: -200px;
    // z-index: 1050;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .info-widget {
    width: 50%;
  }
  .myCard {
    height: 200px;
    &-img {
      height: 150px;
    }
    &-text {
      padding: 2px 5px 0 5px;
      &-left {
        &-place {
          font-size: 16px;
        }
        &-duration {
          margin-bottom: 5px;
          font-size: 10px;
        }
      }
      &-right {
        &-text {
          font-size: 10px;
        }
        &-price {
          font-size: 16px;
        }
      }
    }
  }
  .hot-button {
    margin-top: -140px;
    &-left {
      width: 35px;
      height: 35px;
      padding-top: 3px;
    }
    &-right {
      width: 35px;
      height: 35px;
      padding-top: 3px;
    }
  }
}
