<div class="destination-content">
  <div class="destination-image">

    <!--<img src="assets/images/destinations/bangladesh/nilachol.jpg" class="img-responsive wp-post-image"  alt="">-->
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[0]" alt="Random first slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[1]" alt="Random second slide">

      </ng-template>
      <ng-template ngbSlide>
        <img class="carousel-image" [src]="images[2]" alt="Random third slide">

      </ng-template>
    </ngb-carousel>
  </div>
  <div class="destination-title">
    Kalimpong
  </div>
  <p>
    Kalimpong is a hill station in the Indian state of West Bengal. It is located at an average elevation of 1,250 metres. The
    town is the headquarters of the Kalimpong district.
  </p>

  <!--location 1-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Cactus Garden
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/CactusGarden.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        The Cactus garden is the dream child of the Late Sri Mohan Shamsher Pradhan, whose personal interest in the biology of the
        Cactus and their diversity made hem search deep into different countries for collection of diverse and rare species
        of cactii since the inception of the garden in 1971. the endeavour fetched him about 12 awards including the Bharat
        Gaurav award in 2007.
        <br/>
        <br/> The nursery is by the roadside and is a awesome collection of the most amazing collection of cactii , not only form
        India and adjoining regions, but rare ones form North, South and Central America.
        <br/>
        <br/> It is also a propagation centre for diverse types of cacti. bonsai etc which can be purchased with the price depending
        on the item.

      </p>
    </div>
  </div>
  <!--End location 1-->

  <!--location 2-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Deolo Hill
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/DeoloHill.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Often termed as the highest point of the town of Kalimpong, Deolo Hill is situated at a tremendous height of around 1700
        m. The hills are accompanied by three reservoirs of fresh water that play an important role in fulfilling the water
        requirements of the town. Deolo Hills are popular for their height and for offering some of the most beautiful views
        of surrounding valleys, rivers and villages. The most captivating feature of this hill is the recreational park which
        is situated at the top of this hill. The hill also offers various adventure-sports that include paragliding and horse
        riding and trekking etc. thus attracting a large number of adventure enthusiasts.
      </p>
    </div>
  </div>
  <!--End location 2-->

  <!--location 3-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Dr. Graham’s Home
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/DrGrahamHome.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Dr Graham’s Home is situated on lower steep of Deolo Hills and is a major centre of education in Kalimpong. This place was
        established in the 1900s by Sir Anderson Graham of England and the entire complex is spread over an area of 550 acres.
        Dr. Graham’s house offers a significant number of vocational courses in farming, baking, dairy management, clothing,
        medication and poultry. It is a truly international institution and gets sponsored by various Non-Governmental organizations
        from all over the world. This place is important for understanding the educational background of this beautiful town
        and gets visited by a large number of tourists.
      </p>
    </div>
  </div>
  <!--End location 3-->

  <!--location 4-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Zong Dog Palri
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/ZongDogPalri.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Zong Dog Palri is an ancient Buddhist monastery which was built under the guidance of Dalai Lama in 1975. This monastery
        is located on the Durpin Hill and is also known as Durpin’s monastery. Today, Zong Dog Palri is regarded as a major
        religious centre among the followers of Buddhism and it houses close to 110 published texts on Buddhism. Amazing
        Buddhist architecture, sculptured walls, pillars and ancient paintings are some of the most attractive features of
        this monastery.
      </p>
    </div>
  </div>
  <!--End location 4-->

  <!--location 5-->
  <div class="row row-location">
    <div class="col-md-12 location-title">
      Crockety
    </div>
    <div class="col-md-4 location-image">
      <img src="assets/images/destinations/india/Crockety.jpg" class="img-responsive wp-post-image" alt="">
    </div>
    <div class="col-md-8 location-text">
      <p>
        Situated at a distance of around 50 km from the town of Darjeeling, Crockety is an ancient British cottage which was built
        during the colonial rule in India. This place is an architectural marvel and is surrounded by some of the most beautiful
        gardens and lush green lawns. It is one of those rare locations that receive tourists throughout the year, irrespective
        of the seasons. During the early 1900s, Crockety house used to function as a trade point and was a hub of wool merchants
        coming from various parts of the world. If you are a photography enthusiast or a nature lover, this place is a must
        visit for you.
      </p>
    </div>
  </div>
</div>