<div class="container-fluid my-3 p-0">
  <img class="event-image" src="assets/images/events/events-6.jpg" alt="Card image cap">
  <div class="section-title">BRAND PROMOTION</div>
</div>
<div class="container">
  <p>
    In line with corporate events i Tours Ltd. arrange promotional events for customers owned brands or products. We firstly
    understand the types of product talking with the customers and arrange all the things based on the product type. We prepare
    all the things that needed for running the event prior to the event so that events run smoothly.
  </p>
  <div class="event-service-title">
    Our services :
  </div>
  <div class="event-services">
    <ul>
      <li>Venue arrangement</li>
      <li>Decoration</li>
      <li>Design & Printing of Promotion Materials</li>
      <li>Overseas Promotional Trips to relevant and major corporations and trade organizations</li>
      <li>Promoting Brand through media.</li>
      <li>Promotional services after event.</li>
      <li>Media Partner</li>
      <li>Transportation Service</li>
      <li>Catering Service</li>
      <li>Sound system</li>
    </ul>
  </div>
</div>
<footer-section></footer-section>