<div class="last-section" id="last-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-left">
        <h3>ABOUT</h3>
        <li>
          <a href="/whyUs">Why Us</a>
        </li>
        <li>
          <a href="/aboutus/overview">About Us</a>
        </li>
        <li>
          <a href="/gallery">Gallery</a>
        </li>
        <li>
          <a href="#our-partners">Partners</a>
        </li>
      </div>
      <div class="col-md-4 footer-left">
        <h3>EXPLORE</h3>
        <!--<li><a href="#">Forums</a></li>-->
        <li>
          <a href="/domesticPackages">Packages</a>
        </li>
        <li>
          <a href="/events/corporate">Event Management</a>
        </li>
        <li>
          <a href="//www.hotelswave.com/" target="_blank">Hotels</a>
        </li>
        <li>
          <a href="/destinations/bangladesh/coxsbazar">Destinations</a>
        </li>
        <li>
          <a href="/faq">FAQ</a>
        </li>


        <!--<li><a href="#">News</a></li>-->
      </div>

      <div class="col-md-4 footer-left">
        <h3>CONTACT US</h3>
        <address>
          <!--<table>-->
          <!--<tr>-->
          <!--<td><i class="fa fa-map-marker"></i></td>-->
          <!--<td>-->
          <!--<strong>i Tours Ltd</strong><br>-->
          <!--</td>-->
          <!--</tr>-->
          <!--<tr>-->
          <!--<td></td>-->
          <!--<td> 32/1, Khan plaza, 3rd floor, Science Lab</td>-->
          <!--</tr>-->
          <!--<tr>-->
          <!--<td></td>-->
          <!--<td>Mirpur Road, Dhanmondi, Dhaka -1205</td>-->
          <!--</tr>-->

          <!--</table>-->
          <i class="fa fa-map-marker"></i> &nbsp;
          <strong>i Tours Ltd</strong>
          <br> &nbsp; &nbsp; &nbsp; 32/1, Khan plaza, 3rd floor, Science Lab
          <br> &nbsp; &nbsp; &nbsp; Mirpur Road, Dhanmondi, Dhaka -1205
          <br>
          <i class="fa fa-phone"></i> &nbsp;
          <span title="Phone">Phone:</span>
          <a class="moto-link" data-action="url" href="callto:#" target="_self">+880 1840 477 771</a>
          <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <a class="moto-link" data-action="url" href="callto:#" target="_self">+880 1840 477 990</a>
          <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <a class="moto-link" data-action="url" href="callto:#" target="_self">+880 1840 477 717</a>
          <br>

          <i class="fa fa-envelope"></i> &nbsp;
          <span title="Email">Email:</span>
          <a href="mailto:itours.care@gmail.com "> itours.care@gmail.com </a>
          <br>
          <!--Facebook: <a href="//fb.com/itoursltd" target="_blank">fb.com/itoursltd</a><br/>-->
          <!--Twitter: <a href="//twitter.com/itoursltd" target="_blank">twitter.com/itoursltd</a><br/>-->
          <!--Linkedin: <a href="//linkedin.com/in/anis.kiron" target="_blank">linkedin.com/in/anis.kiron</a> <br/>-->
        </address>



      </div>
    </div>
  </div>
</div>