.last-section {
  padding: 10px 0;
  background: #333;
  color: white;
  /* text-align: center; */
  display: block;
}

.footer-left {
  text-align: left;
}

.footer-left h3 {
  font-size: 1.7em;
  color: #fff;
  margin: 0 0 1em;
  font-weight: 700;
  letter-spacing: 1px;
}
.footer-left li {
  display: block;
  font-size: 1em;
  color: whitesmoke;
  line-height: 1.8em;
}
.footer-left li a {
  color: whitesmoke;
  font-size: 1em;
  line-height: 1.8em;
  text-decoration: none;
}
.footer-left a {
  color: whitesmoke;
  font-size: 1em;
  line-height: 1.8em;
  text-decoration: none;
}
